Repository trailbaseio/trailbase: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website, dart_format, dart_analyze, dart_test, dotnet_format, dotnet_test, python_format, python_check, python_test, swift_format, swift_test

cargofmt:
  name: Cargo Format
  entry: cargo fmt -- --check
  pass_filenames: false
  language: system

cargoclippy:
  name: Cargo Clippy
  verbose: true
  entry: sh -c 'pnpm i && cargo clippy --workspace --no-deps'
  language: system
  pass_filenames: false

cargotest:
  name: Cargo Test
  entry: sh -c 'pnpm i && cargo test --workspace -- --show-output'
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: pnpm -r format --check
  language: system
  pass_filenames: false

typescript_check:
  name: Typescript Check
  entry: pnpm -r check
  language: system
  pass_filenames: false

javascript_test:
  name: JavaScript Test
  entry: pnpm -r test
  language: system
  pass_filenames: false

build_website:
  name: Build Website
  entry: sh -c 'cd docs && pnpm build'
  language: system
  pass_filenames: false

dart_format:
  name: Dart format
  entry: dart format -o none --set-exit-if-changed client/trailbase-dart examples/blog/flutter
  language: system
  pass_filenames: false

dart_analyze:
  name: Dart analyze
  entry: sh -c 'dart pub -C client/trailbase-dart get && dart pub -C examples/blog/flutter get && dart analyze -- client/trailbase-dart examples/blog/flutter'
  language: system
  pass_filenames: false

dart_test:
  name: Dart test
  entry: sh -c 'cd client/trailbase-dart && dart pub get && dart test'
  language: system
  pass_filenames: false

dotnet_format:
  name: Dotnet format
  entry: sh -c 'dotnet format client/trailbase-dotnet/src --verify-no-changes && dotnet format client/trailbase-dotnet/test --verify-no-changes'
  language: system
  pass_filenames: false

dotnet_test:
  name: Dotnet test
  entry: dotnet test client/trailbase-dotnet/test
  language: system
  pass_filenames: false

python_format:
  name: Python format
  entry: poetry -C client/trailbase-py run black --config pyproject.toml --check .
  language: system
  pass_filenames: false

python_check:
  name: Python check
  entry: poetry -C client/trailbase-py run pyright --outputjson
  language: system
  pass_filenames: false

python_test:
  name: Python test
  entry: poetry -C client/trailbase-py run pytest
  language: system
  pass_filenames: false

swift_format:
  name: Swift format
  entry: swift format -r --in-place client/trailbase-swift/**/*.swift
  language: system
  pass_filenames: false

swift_test:
  name: Swift test
  entry: swift test --package-path client/trailbase-swift
  language: system
  pass_filenames: false

Be slightly smarter about when to remove OAUTH_STATE cookie.
  trailbase-core/src/auth/oauth/callback.rs
Due: cargofmt, cargoclippy, cargotest

Modularize auth tests and assert that user deletion cleans up sessions.
  trailbase-core/src/auth/auth_test.rs
Due: cargofmt, cargoclippy, cargotest

Docs: actually explain PKCE and its use. #86
  docs/src/content/docs/documentation/auth.mdx
Due: prettier, typescript_check

Give productionization guide some minimal but long overdue love.
  docs/src/content/docs/documentation/production.mdx
Due: prettier, typescript_check

Fix parameter propagation for OAuth, both UI -> `/api/auth/v1/oauth/<>/login?params` and login to callback. #102
  trailbase-assets/js/auth/src/pages/login.astro
  trailbase-assets/src/auth.rs
  trailbase-core/src/auth/oauth/state.rs
  trailbase-core/src/auth/ui/mod.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Don't auto-redirect `/_/auth/login` to profiles page if an explicit `redirect_to` is provided.
  trailbase-core/src/auth/ui/mod.rs
Due: cargofmt, cargoclippy, cargotest

Preparation for smarter `VIEW` key selection: collect more information. #99
  trailbase-assets/js/bindings/View.ts
  trailbase-core/src/records/record_api.rs
  trailbase-schema/src/metadata.rs
  trailbase-schema/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

Prepare new release v0.15.8.
  .dockerignore
  CHANGELOG.md
Due: prettier

Fix: OAuth2 login via GitLab
  trailbase-core/src/auth/oauth/providers/gitlab.rs
Due: cargofmt, cargoclippy, cargotest

Add tests for OAuth login flow with PKCE.
  CHANGELOG.md
  trailbase-core/src/auth/auth_test.rs
  trailbase-core/src/auth/oauth/callback.rs
  trailbase-core/src/auth/oauth/oauth_test.rs
Due: cargofmt, cargoclippy, cargotest, prettier

Add test for rendered login UI.
  Cargo.lock
  trailbase-assets/Cargo.toml
  trailbase-assets/js/auth/src/pages/login.astro
  trailbase-assets/src/auth.rs
  trailbase-core/src/auth/ui/mod.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

WIP: unify login params across query params, request body and password/oauth.
  trailbase-core/src/auth/api/login.rs
  trailbase-core/src/auth/auth_test.rs
  trailbase-core/src/auth/login_params.rs
  trailbase-core/src/auth/mod.rs
Due: cargofmt, cargoclippy, cargotest

Unify login parameter validation across password and OAuth as well as PKCE vs no-PKCE.
  trailbase-core/src/auth/api/change_email.rs
  trailbase-core/src/auth/api/change_password.rs
  trailbase-core/src/auth/api/login.rs
  trailbase-core/src/auth/api/logout.rs
  trailbase-core/src/auth/api/verify_email.rs
  trailbase-core/src/auth/auth_test.rs
  trailbase-core/src/auth/login_params.rs
  trailbase-core/src/auth/mod.rs
  trailbase-core/src/auth/oauth/callback.rs
  trailbase-core/src/auth/oauth/login.rs
  trailbase-core/src/auth/oauth/oauth_test.rs
  trailbase-core/src/auth/util.rs
Due: cargofmt, cargoclippy, cargotest

Reference TB's callback address in OAuth settings. #104
  trailbase-assets/js/admin/src/components/settings/AuthSettings.tsx
Due: prettier, typescript_check, javascript_test, build_website

Experiment with lint-staged to potentially replace pre-commit.
  .husky/pre-commit
  .lintstagedrc.mjs
  package.json
  pnpm-lock.yaml
Due: prettier, typescript_check, javascript_test, build_website

Iterate on the OAuth callback address' presentation: move up and add a cliboard button. #104
  trailbase-assets/js/admin/src/components/accounts/AccountsPage.tsx
  trailbase-assets/js/admin/src/components/logs/LogsPage.tsx
  trailbase-assets/js/admin/src/components/settings/AuthSettings.tsx
  trailbase-assets/js/admin/src/lib/utils.ts
Due: prettier, typescript_check, javascript_test, build_website

Make OAuth settings less intimidating by putting info into tooltips. Also fix FieldInfo rendering, i.e. don't render if errors array is empty.
  trailbase-assets/js/admin/src/components/FormFields.tsx
  trailbase-assets/js/admin/src/components/settings/AuthSettings.tsx
Due: prettier, typescript_check, javascript_test, build_website

Behavioral noop: clear up some of the confusing/wrong naming and reasoning surrounding PKCE. #86
  trailbase-core/src/auth/api/login.rs
  trailbase-core/src/auth/login_params.rs
  trailbase-core/src/auth/oauth/callback.rs
  trailbase-core/src/auth/oauth/login.rs
Due: cargofmt, cargoclippy, cargotest

Docs: clear up blurp about authentication code flow + PKCE. #86
  docs/src/content/docs/documentation/auth.mdx
Due: prettier, typescript_check

Fix profile link
  trailbase-core/src/auth/api/verify_email.rs
Due: cargofmt, cargoclippy, cargotest

Adopt @eugenefil's UI suggestions: dial down the "callback" wording in favor of "Redirect URI", general wording and remove dedicated clipboard button. #104
  docs/src/content/docs/documentation/auth.mdx
  trailbase-assets/js/admin/src/components/settings/AuthSettings.tsx
Due: prettier, typescript_check, javascript_test, build_website

Use shared constants between auth UI registrations and redirects to avoid drift.
  trailbase-core/src/auth/api/change_email.rs
  trailbase-core/src/auth/api/change_password.rs
  trailbase-core/src/auth/api/login.rs
  trailbase-core/src/auth/api/logout.rs
  trailbase-core/src/auth/api/register.rs
  trailbase-core/src/auth/api/verify_email.rs
  trailbase-core/src/auth/mod.rs
  trailbase-core/src/auth/oauth/callback.rs
  trailbase-core/src/auth/ui/mod.rs
Due: cargofmt, cargoclippy, cargotest

Update Rust dependencies.
  Cargo.lock
Due: none

Prepare new release v0.15.9.
  CHANGELOG.md
Due: prettier

Docs: fix issues raised by @eugenefil. #107
  docs/src/content/docs/documentation/models_and_relations.mdx
Due: prettier, typescript_check

Minor: store join type.
  trailbase-schema/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

WIP: Loosen the restrictions on joins and recurse on joins with subqueries.
  trailbase-schema/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

Extract mapped GROUP BY columns.
  trailbase-assets/js/bindings/View.ts
  trailbase-schema/src/metadata.rs
  trailbase-schema/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

Add join filter back.
  trailbase-schema/src/json_schema.rs
  trailbase-schema/src/metadata.rs
  trailbase-schema/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

Make `GROUP BY` work for qualified table references.
  trailbase-schema/src/metadata.rs
  trailbase-schema/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

Increase the space of applicable `VIEW`s for Record APIs by treating top-level `GROUP BY <single col>` expressions as key-defining. #99
  trailbase-assets/js/bindings/View.ts
  trailbase-core/src/records/record_api.rs
  trailbase-schema/src/json_schema.rs
  trailbase-schema/src/metadata.rs
  trailbase-schema/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

Update Rust dependencies.
  Cargo.lock
  trailbase-core/Cargo.toml
  trailbase-extension/Cargo.toml
  trailbase-schema/Cargo.toml
  trailbase-sqlite/Cargo.toml
Due: none

Fix UI dashboard. TS tests still broken.
  trailbase-assets/js/admin/src/components/editor/EditorPage.tsx
  trailbase-assets/js/admin/src/components/erd/ErdPage.tsx
  trailbase-assets/js/admin/src/components/tables/RecordApiSettings.tsx
  trailbase-assets/js/admin/src/lib/schema.ts
  trailbase-assets/js/bindings/ColumnMapping.ts
  trailbase-assets/js/bindings/View.ts
  trailbase-assets/js/bindings/ViewColumn.ts
  trailbase-schema/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Fix column name mapping.
  client/dart/test/trailbase_test.dart
  client/testfixture/secrets/secrets.textproto
  examples/blog/traildepot/secrets/secrets.textproto
  trailbase-assets/js/admin/src/lib/schema.ts
  trailbase-assets/js/bindings/ColumnMapping.ts
  trailbase-assets/js/bindings/View.ts
  trailbase-assets/js/bindings/ViewColumn.ts
  trailbase-assets/js/client/tests/constants.ts
  trailbase-assets/js/client/tests/integration/auth_integration.test.ts
  trailbase-assets/js/client/tests/integration/client_integration.test.ts
  trailbase-assets/js/client/tests/integration/v8_integration.test.ts
  trailbase-assets/js/client/tests/integration_test_runner.ts
  trailbase-core/src/auth/ui/mod.rs
  trailbase-core/src/records/list_records.rs
  trailbase-schema/src/metadata.rs
  trailbase-schema/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website, dart_format, dart_analyze, dart_test

Increase the space of applicable `VIEW`s for Record APIs by treating top-level `GROUP BY <single col>` expressions as key-defining. #99
  client/dart/test/trailbase_test.dart
  client/testfixture/secrets/secrets.textproto
  examples/blog/traildepot/secrets/secrets.textproto
  trailbase-assets/js/admin/src/components/editor/EditorPage.tsx
  trailbase-assets/js/admin/src/components/erd/ErdPage.tsx
  trailbase-assets/js/admin/src/components/tables/RecordApiSettings.tsx
  trailbase-assets/js/admin/src/lib/schema.ts
  trailbase-assets/js/bindings/ColumnMapping.ts
  trailbase-assets/js/bindings/View.ts
  trailbase-assets/js/bindings/ViewColumn.ts
  trailbase-assets/js/client/tests/constants.ts
  trailbase-assets/js/client/tests/integration/auth_integration.test.ts
  trailbase-assets/js/client/tests/integration/client_integration.test.ts
  trailbase-assets/js/client/tests/integration/v8_integration.test.ts
  trailbase-assets/js/client/tests/integration_test_runner.ts
  trailbase-core/src/auth/ui/mod.rs
  trailbase-core/src/records/list_records.rs
  trailbase-core/src/records/record_api.rs
  trailbase-schema/src/json_schema.rs
  trailbase-schema/src/metadata.rs
  trailbase-schema/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website, dart_format, dart_analyze, dart_test

Demo GROUP BY with computed columns and allow CASTs w/o alias. #99
  trailbase-schema/src/metadata.rs
  trailbase-schema/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

Infer type column type for some simple built-in aggregation functions, i.e. MAX, MIN, SUM. #99
  trailbase-schema/src/metadata.rs
  trailbase-schema/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

Path conditions:
  cargofmt: any of: \.rs$ and not (^vendor/) and not ((trailbase-core/bindings|bindings)/.*)
  cargoclippy: any of: \.rs$ and not (^vendor/) and not ((trailbase-core/bindings|bindings)/.*)
  cargotest: any of: \.rs$ and not (^(vendor|bindings)/) and not ((trailbase-core/bindings|bindings)/.*)
  prettier: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro|md|mdx)$, but not: (trailbase-core/bindings|bindings)/.*
  typescript_check: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro|mdx)$, but not: (trailbase-core/bindings|bindings)/.*
  javascript_test: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro)$, but not: (trailbase-core/bindings|bindings)/.*
  build_website: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro)$, but not: (trailbase-core/bindings|bindings)/.*
  dart_format: any of: .*\.dart$, but not: (trailbase-core/bindings|bindings)/.*
  dart_analyze: any of: .*\.dart$, but not: (trailbase-core/bindings|bindings)/.*
  dart_test: any of: .*\.dart$, but not: (trailbase-core/bindings|bindings)/.*
  dotnet_format: any of: .*\.(cs|csproj)$, but not: (trailbase-core/bindings|bindings)/.*
  dotnet_test: any of: .*\.(cs|csproj)$, but not: (trailbase-core/bindings|bindings)/.*
  python_format: any of: .*\.(py)$, but not: (trailbase-core/bindings|bindings)/.*
  python_check: any of: .*\.(py)$, but not: (trailbase-core/bindings|bindings)/.*
  python_test: any of: .*\.(py)$, but not: (trailbase-core/bindings|bindings)/.*
  swift_format: any of: .*\.(swift)$, but not: (trailbase-core/bindings|bindings)/.*
  swift_test: any of: .*\.(swift)$, but not: (trailbase-core/bindings|bindings)/.*
