Repository trailbaseio/trailbase: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website, dart_format, dart_analyze, dart_test, dotnet_format, dotnet_test, python_format, python_check, python_test, swift_format, swift_test

Path conditions:
  cargofmt: any of: \.rs$ and not (^vendor/) and not ((trailbase-core/bindings|bindings)/.*)
  cargoclippy: any of: \.rs$ and not (^vendor/) and not ((trailbase-core/bindings|bindings)/.*)
  cargotest: any of: \.rs$ and not (^(vendor|bindings)/) and not ((trailbase-core/bindings|bindings)/.*)
  prettier: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro|md|mdx)$, but not: (trailbase-core/bindings|bindings)/.*
  typescript_check: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro|mdx)$, but not: (trailbase-core/bindings|bindings)/.*
  javascript_test: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro)$, but not: (trailbase-core/bindings|bindings)/.*
  build_website: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro)$, but not: (trailbase-core/bindings|bindings)/.*
  dart_format: any of: .*\.dart$, but not: (trailbase-core/bindings|bindings)/.*
  dart_analyze: any of: .*\.dart$, but not: (trailbase-core/bindings|bindings)/.*
  dart_test: any of: .*\.dart$, but not: (trailbase-core/bindings|bindings)/.*
  dotnet_format: any of: .*\.(cs|csproj)$, but not: (trailbase-core/bindings|bindings)/.*
  dotnet_test: any of: .*\.(cs|csproj)$, but not: (trailbase-core/bindings|bindings)/.*
  python_format: any of: .*\.(py)$, but not: (trailbase-core/bindings|bindings)/.*
  python_check: any of: .*\.(py)$, but not: (trailbase-core/bindings|bindings)/.*
  python_test: any of: .*\.(py)$, but not: (trailbase-core/bindings|bindings)/.*
  swift_format: any of: .*\.(swift)$, but not: (trailbase-core/bindings|bindings)/.*
  swift_test: any of: .*\.(swift)$, but not: (trailbase-core/bindings|bindings)/.*

Update _install_oneliners.mdx
  docs/src/content/docs/getting-started/_install_oneliners.mdx
Due: prettier, typescript_check

Change the order so that alias of `trail` works properly. (#92)
  README.md
  docs/src/content/docs/getting-started/_install_oneliners.mdx
Due: prettier, typescript_check

Early documention on schema migrations. #89
  docs/astro.config.mjs
  docs/src/content/docs/documentation/migrations.mdx
Due: prettier, typescript_check, javascript_test, build_website

Fix SIGHUP reload order: apply migrations first before reloading config. #93
  trailbase-core/src/server/mod.rs
Due: cargofmt, cargoclippy, cargotest

docs: reorganize sidebar navigation
  docs/astro.config.mjs
  docs/src/content/docs/comparison/supabase.mdx
  docs/src/content/docs/documentation/js_apis.mdx
  docs/src/content/docs/getting-started/_auth.svg
  docs/src/content/docs/getting-started/_record_apis.ts
  docs/src/content/docs/getting-started/_relations.svg
  docs/src/content/docs/getting-started/auth.mdx
  docs/src/content/docs/getting-started/extending.mdx
  docs/src/content/docs/getting-started/models_and_relations.mdx
  docs/src/content/docs/getting-started/production.mdx
  docs/src/content/docs/getting-started/record_apis.mdx
  docs/src/content/docs/getting-started/type_safety.mdx
  docs/src/content/docs/index.mdx
  docs/src/content/docs/tutorials/first-cli-app.mdx
  docs/src/content/docs/tutorials/first-realtime-app.mdx
  docs/src/content/docs/tutorials/first-ui-app.mdx
  docs/src/content/docs/why-trailbase/_benchmarks/benchmarks.tsx
  docs/src/content/docs/why-trailbase/_benchmarks/fib_pb.json
  docs/src/content/docs/why-trailbase/_benchmarks/fib_tb.json
  docs/src/content/docs/why-trailbase/_benchmarks/insert_pb_2025-02-05.json
  docs/src/content/docs/why-trailbase/_benchmarks/insert_tb.json
  docs/src/content/docs/why-trailbase/_benchmarks/insert_tb_2025-04-03.json
  docs/src/content/docs/why-trailbase/_benchmarks/supabase_utilization.ts
  docs/src/content/docs/why-trailbase/benchmarks.mdx
  docs/src/content/docs/why-trailbase/comparisons.md
  docs/src/content/docs/why-trailbase/faq.mdx
  docs/src/content/docs/why-trailbase/goals.mdx
  docs/src/content/docs/why-trailbase/roadmap.mdx
Due: prettier, typescript_check, javascript_test, build_website

Fix parsing of elided aliases in SQLite statements. Handle failure to parse views more gracefully.
  Cargo.lock
  trailbase-core/src/schema_metadata.rs
  trailbase-extension/Cargo.toml
  trailbase-schema/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

Update Rust and JS dependencies.
  Cargo.lock
  docs/examples/record_api_ts/package.json
  docs/package.json
  examples/blog/web/package.json
  examples/coffee-vector-search/package.json
  examples/collab-clicker-ssr/package.json
  examples/data-cli-tutorial/package.json
  examples/local-first/package.json
  pnpm-lock.yaml
  trailbase-assets/js/admin/package.json
  trailbase-assets/js/auth/package.json
  trailbase-assets/js/client/package.json
  trailbase-js/assets/runtime/package.json
Due: none

Fix references in auth Emails. #96
  trailbase-core/src/email.rs
Due: cargofmt, cargoclippy, cargotest

Prepare new release v0.15.3.
  CHANGELOG.md
Due: prettier

Minor: test for links as a whole in auth emails.
  trailbase-core/src/email.rs
Due: cargofmt, cargoclippy, cargotest

Update migration docs to encompass @eugenefil's suggestions - thanks. #89
  CHANGELOG.md
  docs/src/content/docs/documentation/migrations.mdx
Due: prettier, typescript_check

Stricter conversion of input JSON.
  trailbase-core/src/records/create_record.rs
  trailbase-core/src/records/params.rs
  trailbase-core/src/records/update_record.rs
Due: cargofmt, cargoclippy, cargotest

Docs: be more explicit about building your own auth UI with OAuth. #86
  docs/astro.config.mjs
  docs/src/content/docs/documentation/auth.mdx
  trailbase-core/src/auth/oauth/provider.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Docs: Group API documentation - make "extending" an overview that ingrates more intentionally with its sibling "Record API" and "JS API" docs. #97
  docs/astro.config.mjs
  docs/src/content/docs/documentation/apis_js.mdx
  docs/src/content/docs/documentation/apis_overview.mdx
  docs/src/content/docs/documentation/apis_record.mdx
  docs/src/content/docs/documentation/extending.mdx
  docs/src/content/docs/documentation/js_apis.mdx
  docs/src/content/docs/documentation/type_safety.mdx
  trailbase-core/src/server/mod.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Update Rust dependencies.
  Cargo.lock
Due: none

Fix up record API config after renaming table. #93
  trailbase-core/src/admin/table/alter_table.rs
  trailbase-core/src/admin/table/drop_table.rs
Due: cargofmt, cargoclippy, cargotest

Prepare new release v0.15.4.
  CHANGELOG.md
Due: prettier

TrailBase is now an officially supported TanStack/db backend. Update local-first example to use official integration. 🎉
  examples/local-first/README.md
  examples/local-first/package.json
  examples/local-first/src/App.tsx
  examples/local-first/src/lib/trailbase.ts
  pnpm-lock.yaml
Due: prettier, typescript_check, javascript_test, build_website

Docs: improve endpoint documentation addressing someof @ixxie's feedback. #97
  docs/src/content/docs/documentation/apis_overview.mdx
  docs/src/content/docs/documentation/apis_record.mdx
Due: prettier, typescript_check

Check if removed columns are still referenced by APIs before altering table schemas. #93
  trailbase-core/src/admin/table/alter_table.rs
Due: cargofmt, cargoclippy, cargotest

Add a custom Hero banner to langing page with install instructions and remove overly prominent roadmap (still in docs).
  .gitignore
  docs/astro.config.mjs
  docs/public/install.sh
  docs/src/components/Hero.astro
  docs/src/components/SplitCard.astro
  docs/src/content/docs/_roadmap.md
  docs/src/content/docs/index.mdx
  examples/collab-clicker-ssr/public/favicon.svg
Due: prettier, typescript_check, javascript_test, build_website

Add missing link to oauth image assets for auth UI.
  trailbase-assets/js/auth/public/oauth2
Due: none

Update JS dependencies.
  docs/package.json
  examples/blog/web/package.json
  examples/coffee-vector-search/package.json
  examples/collab-clicker-ssr/package.json
  examples/local-first/package.json
  pnpm-lock.yaml
  trailbase-assets/js/admin/package.json
  trailbase-assets/js/auth/package.json
  trailbase-js/assets/runtime/package.json
Due: none

Add edit link to pages and a placeholder customizable SiteTitle.
  docs/astro.config.mjs
  docs/src/components/SiteTitle.astro
Due: prettier, typescript_check, javascript_test, build_website

Check API access rules before dropping columns on table schema alterations. #93
  trailbase-core/src/admin/table/alter_table.rs
Due: cargofmt, cargoclippy, cargotest

Add links to header. Add more install one-liners to hero.
  docs/src/components/Hero.astro
  docs/src/components/SiteTitle.astro
  docs/src/content/docs/_roadmap.md
  docs/src/content/docs/getting-started/_install_oneliners.mdx
  docs/src/content/docs/index.mdx
  docs/src/content/docs/reference/roadmap.mdx
Due: prettier, typescript_check, javascript_test, build_website

Add dry-run to all the schema mutating admin handlers. #89
  trailbase-assets/js/admin/src/components/tables/CreateAlterIndex.tsx
  trailbase-assets/js/admin/src/components/tables/CreateAlterTable.tsx
  trailbase-assets/js/admin/src/components/tables/TablePane.tsx
  trailbase-assets/js/admin/src/lib/table.ts
  trailbase-assets/js/bindings/AlterIndexRequest.ts
  trailbase-assets/js/bindings/AlterIndexResponse.ts
  trailbase-assets/js/bindings/AlterTableRequest.ts
  trailbase-assets/js/bindings/AlterTableResponse.ts
  trailbase-assets/js/bindings/DropIndexRequest.ts
  trailbase-assets/js/bindings/DropIndexResponse.ts
  trailbase-assets/js/bindings/DropTableResponse.ts
  trailbase-core/src/admin/table/alter_index.rs
  trailbase-core/src/admin/table/alter_table.rs
  trailbase-core/src/admin/table/create_index.rs
  trailbase-core/src/admin/table/create_table.rs
  trailbase-core/src/admin/table/drop_index.rs
  trailbase-core/src/admin/table/drop_table.rs
  trailbase-core/src/transaction.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Prepare new release v0.15.5.
  CHANGELOG.md
Due: prettier

Make "Dry Run" available in UI for alter table and index. #89
  trailbase-assets/js/admin/src/components/tables/CreateAlterIndex.tsx
  trailbase-assets/js/admin/src/components/tables/CreateAlterTable.tsx
Due: prettier, typescript_check, javascript_test, build_website

Refetch table data to re-render table after re-fetching the table schema.
  trailbase-assets/js/admin/src/components/tables/TablePane.tsx
Due: prettier, typescript_check, javascript_test, build_website

Docs: hide install one-liners in hero on small screens to protect layout.
  docs/src/components/Hero.astro
Due: prettier, typescript_check, javascript_test, build_website

Fix accidental submit and default values for create column presets. Also add UUIDv4 preset. #98
  trailbase-assets/js/admin/src/components/tables/CreateAlterColumnForm.tsx
Due: prettier, typescript_check, javascript_test, build_website

Update JS and Rust dependencies.
  Cargo.lock
  docs/examples/record_api_ts/package.json
  docs/package.json
  examples/blog/web/package.json
  examples/coffee-vector-search/package.json
  examples/collab-clicker-ssr/package.json
  examples/data-cli-tutorial/package.json
  examples/local-first/package.json
  pnpm-lock.yaml
  trailbase-assets/js/admin/package.json
  trailbase-assets/js/auth/package.json
Due: none

Prepare new release v0.15.6.
  CHANGELOG.md
Due: prettier

Docs: change demo links to not point to the admin login directly.
  docs/src/content/docs/index.mdx
Due: prettier, typescript_check

Borrow more complete todo app from upstream TanStack/db as a more attractive example.
  examples/local-first/index.html
  examples/local-first/package.json
  examples/local-first/src/App.css
  examples/local-first/src/App.tsx
  examples/local-first/src/index.css
  examples/local-first/src/index.tsx
  examples/local-first/src/lib/color.ts
  examples/local-first/traildepot/.gitignore
  examples/local-first/traildepot/config.textproto
  examples/local-first/traildepot/migrations/U1725019360__create_admin_user.sql
  examples/local-first/traildepot/migrations/U1737638313__create_table_data.sql
  examples/local-first/traildepot/migrations/U1752518650__add_admin_user.sql
  examples/local-first/traildepot/migrations/U1752518653__create_table_todos.sql
  examples/local-first/traildepot/migrations/U1752518746__create_table_config.sql
  examples/local-first/traildepot/trailbase.d.ts
  examples/local-first/traildepot/trailbase.js
  examples/local-first/tsconfig.json
  examples/local-first/vite.config.ts
  pnpm-lock.yaml
Due: prettier, typescript_check, javascript_test, build_website

Fix total_count index for Record APIs atop views. #99
  trailbase-core/src/records/list_records.rs
  trailbase-core/templates/list_record_query.sql
Due: cargofmt, cargoclippy, cargotest

Support trivial non-filtering sub-selects for views and add more tests. #99
  trailbase-schema/src/metadata.rs
  trailbase-schema/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest
