Repository trailbaseio/trailbase: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website, dart_format, dart_analyze, dart_test, dotnet_format, dotnet_test, python_format, python_check, python_test, swift_format, swift_test

Path conditions:
  cargofmt: any of: \.rs$ and not (^vendor/) and not ((trailbase-core/bindings|bindings)/.*)
  cargoclippy: any of: \.rs$ and not (^vendor/) and not ((trailbase-core/bindings|bindings)/.*)
  cargotest: any of: \.rs$ and not (^(vendor|bindings)/) and not ((trailbase-core/bindings|bindings)/.*)
  prettier: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro|md|mdx)$, but not: (trailbase-core/bindings|bindings)/.*
  typescript_check: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro|mdx)$, but not: (trailbase-core/bindings|bindings)/.*
  javascript_test: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro)$, but not: (trailbase-core/bindings|bindings)/.*
  build_website: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro)$, but not: (trailbase-core/bindings|bindings)/.*
  dart_format: any of: .*\.dart$, but not: (trailbase-core/bindings|bindings)/.*
  dart_analyze: any of: .*\.dart$, but not: (trailbase-core/bindings|bindings)/.*
  dart_test: any of: .*\.dart$, but not: (trailbase-core/bindings|bindings)/.*
  dotnet_format: any of: .*\.(cs|csproj)$, but not: (trailbase-core/bindings|bindings)/.*
  dotnet_test: any of: .*\.(cs|csproj)$, but not: (trailbase-core/bindings|bindings)/.*
  python_format: any of: .*\.(py)$, but not: (trailbase-core/bindings|bindings)/.*
  python_check: any of: .*\.(py)$, but not: (trailbase-core/bindings|bindings)/.*
  python_test: any of: .*\.(py)$, but not: (trailbase-core/bindings|bindings)/.*
  swift_format: any of: .*\.(swift)$, but not: (trailbase-core/bindings|bindings)/.*
  swift_test: any of: .*\.(swift)$, but not: (trailbase-core/bindings|bindings)/.*

Prepare a new release v0.12.0.
  CHANGELOG.md
Due: prettier

Publish updated client packages after nested filter updates in TB v0.12.0.
  Cargo.lock
  client/trailbase-dart/CHANGELOG.md
  client/trailbase-dart/pubspec.yaml
  client/trailbase-dotnet/src/TrailBase.csproj
  client/trailbase-py/pyproject.toml
  client/trailbase-rs/Cargo.toml
  examples/blog/flutter/pubspec.lock
  trailbase-assets/js/client/package.json
Due: prettier, dotnet_format, dotnet_test

Add command line arguments to server info. #60
  trailbase-assets/js/admin/src/components/settings/SettingsPage.tsx
  trailbase-assets/js/bindings/InfoResponse.ts
  trailbase-build/src/lib.rs
  trailbase-core/src/admin/info.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Minor doc fix.
  docs/src/content/docs/documentation/APIs/record_apis.mdx
Due: prettier, typescript_check

WIP: minor
  trailbase-assets/js/admin/src/lib/fetch.ts
  trailbase-core/src/server/mod.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Try replace admin login with main auth UI.
  trailbase-assets/js/admin/src/components/auth/AuthButton.tsx
  trailbase-assets/js/admin/src/lib/fetch.ts
  trailbase-core/src/auth/api/login.rs
  trailbase-core/src/auth/mod.rs
  trailbase-core/src/auth/ui/mod.rs
  trailbase-core/src/server/mod.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Minor: wire up alert box and fix logout.
  trailbase-assets/js/admin/src/components/auth/AuthButton.tsx
  trailbase-assets/js/auth/src/components/AlertBox.astro
  trailbase-assets/js/auth/src/components/Form.astro
  trailbase-core/src/server/mod.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Add some early basics to deal with multiple attached databases.
  trailbase-assets/js/admin/src/components/tables/CreateAlterTable.tsx
  trailbase-assets/js/bindings/Table.ts
  trailbase-assets/js/bindings/View.ts
  trailbase-core/src/admin/list_logs.rs
  trailbase-core/src/admin/rows/delete_rows.rs
  trailbase-core/src/admin/table/alter_table.rs
  trailbase-core/src/admin/table/create_table.rs
  trailbase-core/src/constants.rs
  trailbase-core/src/records/sql_to_json.rs
  trailbase-core/src/schema_metadata.rs
  trailbase-schema/src/sqlite.rs
  trailbase-sqlite/src/connection.rs
  trailbase-sqlite/src/tests.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Best effort attach other *.db files found in <traildepot>/data.
  trailbase-assets/js/admin/src/components/tables/TablesPage.tsx
  trailbase-cli/src/bin/trail.rs
  trailbase-core/src/admin/table/list_tables.rs
  trailbase-core/src/app_state.rs
  trailbase-core/src/connection.rs
  trailbase-core/src/server/init.rs
  trailbase-sqlite/src/connection.rs
  trailbase-sqlite/src/tests.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

WIP: migrate admin endpoints to deal with fq table names.
  trailbase-assets/js/admin/src/components/tables/TablePane.tsx
  trailbase-assets/js/admin/src/lib/row.ts
  trailbase-core/src/admin/rows/list_rows.rs
  trailbase-core/src/schema_metadata.rs
  trailbase-schema/src/metadata.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

WIP: fully qualify the table in more places.
  trailbase-core/src/admin/rows/delete_rows.rs
  trailbase-core/src/admin/rows/insert_row.rs
  trailbase-core/src/admin/rows/update_row.rs
  trailbase-core/src/records/create_record.rs
  trailbase-core/src/records/delete_record.rs
  trailbase-core/src/records/list_records.rs
  trailbase-core/src/records/query_builder.rs
  trailbase-core/src/records/read_record.rs
  trailbase-core/src/records/record_api.rs
  trailbase-core/src/records/update_record.rs
  trailbase-core/templates/create_record_query.sql
  trailbase-core/templates/list_record_query.sql
  trailbase-core/templates/read_record_query.sql
  trailbase-core/templates/read_record_query_expanded.sql
  trailbase-core/templates/update_record_query.sql
Due: cargofmt, cargoclippy, cargotest

Parse database_schema from SQL statements.
  trailbase-assets/js/admin/src/components/tables/CreateAlterTable.tsx
  trailbase-assets/js/admin/src/components/tables/TablePane.tsx
  trailbase-assets/js/admin/src/components/tables/TablesPage.tsx
  trailbase-assets/js/bindings/Table.ts
  trailbase-assets/js/bindings/TableIndex.ts
  trailbase-assets/js/bindings/View.ts
  trailbase-core/src/admin/rows/delete_rows.rs
  trailbase-core/src/admin/rows/insert_row.rs
  trailbase-core/src/admin/rows/update_row.rs
  trailbase-core/src/admin/table/alter_table.rs
  trailbase-core/src/admin/table/list_tables.rs
  trailbase-core/src/records/record_api.rs
  trailbase-core/src/schema_metadata.rs
  trailbase-schema/src/metadata.rs
  trailbase-schema/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Use Qualified names to key schema cache.
  trailbase-core/src/admin/rows/delete_rows.rs
  trailbase-core/src/admin/rows/insert_row.rs
  trailbase-core/src/admin/rows/list_rows.rs
  trailbase-core/src/admin/rows/read_files.rs
  trailbase-core/src/admin/rows/update_row.rs
  trailbase-core/src/admin/table/alter_table.rs
  trailbase-core/src/admin/table/drop_table.rs
  trailbase-core/src/admin/user/delete_user.rs
  trailbase-core/src/admin/user/list_users.rs
  trailbase-core/src/app_state.rs
  trailbase-core/src/records/list_records.rs
  trailbase-core/src/records/query_builder.rs
  trailbase-core/src/records/read_record.rs
  trailbase-core/src/records/subscribe.rs
  trailbase-core/src/records/validate.rs
  trailbase-core/src/schema_metadata.rs
  trailbase-schema/src/metadata.rs
  trailbase-schema/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

Less magic when converting str <=> qualified name.
  trailbase-core/src/admin/rows/delete_rows.rs
  trailbase-core/src/admin/rows/insert_row.rs
  trailbase-core/src/admin/rows/list_rows.rs
  trailbase-core/src/admin/rows/read_files.rs
  trailbase-core/src/admin/rows/update_row.rs
  trailbase-core/src/admin/table/alter_index.rs
  trailbase-core/src/admin/table/alter_table.rs
  trailbase-core/src/admin/table/create_index.rs
  trailbase-core/src/admin/table/drop_table.rs
  trailbase-core/src/admin/user/list_users.rs
  trailbase-core/src/app_state.rs
  trailbase-core/src/records/list_records.rs
  trailbase-core/src/records/query_builder.rs
  trailbase-core/src/records/record_api.rs
  trailbase-core/src/records/subscribe.rs
  trailbase-core/src/records/validate.rs
  trailbase-core/src/schema_metadata.rs
  trailbase-core/src/server/init.rs
  trailbase-core/templates/create_record_query.sql
  trailbase-core/templates/list_record_query.sql
  trailbase-core/templates/read_record_query.sql
  trailbase-core/templates/read_record_query_expanded.sql
  trailbase-core/templates/update_record_access_query.sql
  trailbase-core/templates/update_record_query.sql
  trailbase-schema/src/json_schema.rs
  trailbase-schema/src/metadata.rs
  trailbase-schema/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

Fix npm package paths of JS client package. #67
  trailbase-assets/js/client/package.json
Due: none

Stricter QualifiedName parsing and dedicated serialized QualifiedNameExpanded type.
  trailbase-core/src/admin/rows/delete_rows.rs
  trailbase-core/src/admin/rows/insert_row.rs
  trailbase-core/src/admin/rows/list_rows.rs
  trailbase-core/src/admin/rows/read_files.rs
  trailbase-core/src/admin/rows/update_row.rs
  trailbase-core/src/admin/table/alter_index.rs
  trailbase-core/src/admin/table/alter_table.rs
  trailbase-core/src/admin/table/create_index.rs
  trailbase-core/src/admin/table/create_table.rs
  trailbase-core/src/admin/table/drop_index.rs
  trailbase-core/src/admin/table/drop_table.rs
  trailbase-core/src/admin/user/list_users.rs
  trailbase-core/src/app_state.rs
  trailbase-core/src/config.rs
  trailbase-core/src/records/files.rs
  trailbase-core/src/records/list_records.rs
  trailbase-core/src/records/query_builder.rs
  trailbase-core/src/records/read_record.rs
  trailbase-core/src/records/record_api.rs
  trailbase-core/src/records/subscribe.rs
  trailbase-core/src/records/validate.rs
  trailbase-core/src/schema_metadata.rs
  trailbase-core/templates/create_record_query.sql
  trailbase-core/templates/list_record_query.sql
  trailbase-core/templates/read_record_query.sql
  trailbase-core/templates/read_record_query_expanded.sql
  trailbase-core/templates/update_record_access_query.sql
  trailbase-core/templates/update_record_query.sql
  trailbase-schema/src/lib.rs
  trailbase-schema/src/metadata.rs
  trailbase-schema/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

Update Rust dependencies.
  Cargo.lock
Due: none

Add SQLite extension primitives to extract geoip data on the sub-country level. #64
  Cargo.lock
  trailbase-core/src/admin/list_logs.rs
  trailbase-core/src/server/init.rs
  trailbase-extension/Cargo.toml
  trailbase-extension/src/geoip.rs
  trailbase-extension/src/lib.rs
  trailbase-extension/src/maxminddb.rs
  trailbase-extension/testdata/GeoIP2-City-Test.mmdb
  trailbase-extension/testdata/GeoIP2-Country-Test.mmdb
Due: cargofmt, cargoclippy, cargotest

Update to latest rusqlite/SQLite version.
  Cargo.lock
  Cargo.toml
  trailbase-core/Cargo.toml
  trailbase-core/src/records/record_api.rs
  trailbase-core/src/scheduler.rs
  trailbase-extension/src/lib.rs
  trailbase-schema/Cargo.toml
  trailbase-schema/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

Update JS dependencies.
  client/testfixture/.gitignore
  docs/examples/record_api_ts/package.json
  docs/package.json
  examples/blog/web/package.json
  examples/coffee-vector-search/package.json
  examples/collab-clicker-ssr/package.json
  examples/data-cli-tutorial/package.json
  pnpm-lock.yaml
  trailbase-assets/js/admin/package.json
  trailbase-assets/js/auth/package.json
  trailbase-assets/js/client/package.json
Due: none

fix(deps): unpin uuid dependency
  Cargo.toml
Due: none

Fix ERD node naming regression and use qualified table/view names everywhere. #70
  trailbase-assets/js/admin/src/components/erd/ErdPage.tsx
Due: prettier, typescript_check, javascript_test, build_website

serde_rusqlite finally got an update. Remove vendored version.
  .gitmodules
  Cargo.lock
  Cargo.toml
  trailbase-sqlite/Cargo.toml
Due: none

Replace vendored refinery with a more proper fork stripping all the unused bits and bobs.
  .gitmodules
  Cargo.lock
  Cargo.toml
  examples/custom-binary/src/main.rs
  trailbase-apalis/Cargo.toml
  trailbase-apalis/src/sqlite.rs
  trailbase-cli/src/bin/trail.rs
  trailbase-core/Cargo.toml
  trailbase-core/src/admin/error.rs
  trailbase-core/src/admin/user/mod.rs
  trailbase-core/src/app_state.rs
  trailbase-core/src/auth/auth_test.rs
  trailbase-core/src/connection.rs
  trailbase-core/src/migrations.rs
  trailbase-core/src/transaction.rs
  trailbase-refinery/Cargo.toml
  trailbase-refinery/src/drivers/mod.rs
  trailbase-refinery/src/drivers/rusqlite.rs
  trailbase-refinery/src/error.rs
  trailbase-refinery/src/lib.rs
  trailbase-refinery/src/runner.rs
  trailbase-refinery/src/traits/async.rs
  trailbase-refinery/src/traits/mod.rs
  trailbase-refinery/src/traits/sync.rs
  trailbase-refinery/src/util.rs
  trailbase-refinery/tests/migrations/V1-2/V1__initial.rs
  trailbase-refinery/tests/migrations/V1-2/V2__add_cars_and_motos_table.sql
  trailbase-refinery/tests/migrations/V3/V3__add_brand_to_cars_table.sql
  trailbase-refinery/tests/migrations/V4__add_year_to_motos_table.rs
  trailbase-refinery/tests/migrations_unversioned/U0__merge_out_of_order.sql
  trailbase-sqlite/Cargo.toml
Due: cargofmt, cargoclippy, cargotest

Update Rust dependencies.
  Cargo.lock
  client/trailbase-rs/Cargo.toml
  trailbase-apalis/Cargo.toml
  trailbase-core/Cargo.toml
  trailbase-refinery/Cargo.toml
  trailbase-schema/Cargo.toml
  trailbase-sqlite/Cargo.toml
Due: none

WIP: Use a tower_http_client to abstract underlying client implementation. Request/Response/Error types are still tied to reqwest :/.
  Cargo.lock
  client/trailbase-rs/Cargo.toml
  client/trailbase-rs/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Generic request body.
  Cargo.lock
  client/trailbase-rs/Cargo.toml
  client/trailbase-rs/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

W/o tower_reqwest
  client/trailbase-rs/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Full circle back to reqwest types.
  Cargo.lock
  client/trailbase-rs/Cargo.toml
  client/trailbase-rs/src/http.rs
  client/trailbase-rs/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Wire up command-line argument for geoip database.
  trailbase-cli/src/args.rs
  trailbase-cli/src/bin/trail.rs
  trailbase-core/src/server/init.rs
  trailbase-core/src/server/mod.rs
Due: cargofmt, cargoclippy, cargotest

Wire up GeoLite2-City geoip databases into dashboard. #64
  examples/local-first/traildepot/trailbase.d.ts
  examples/local-first/traildepot/trailbase.js
  trailbase-assets/js/admin/src/components/logs/LogsPage.tsx
  trailbase-assets/js/bindings/GeoipCity.ts
  trailbase-assets/js/bindings/LogJson.ts
  trailbase-core/src/admin/list_logs.rs
  trailbase-extension/src/geoip.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

WIP: tanstack-DB setup. Currently does a full reload. Should also incorporate subscriptions. We would also like to find out if and how Compare-and-Swap semantics may help.
  examples/local-first/.gitignore
  examples/local-first/.prettierrc
  examples/local-first/README.md
  examples/local-first/eslint.config.js
  examples/local-first/index.html
  examples/local-first/package.json
  examples/local-first/src/App.css
  examples/local-first/src/App.tsx
  examples/local-first/src/index.css
  examples/local-first/src/main.tsx
  examples/local-first/src/vite-env.d.ts
  examples/local-first/traildepot/.gitignore
  examples/local-first/traildepot/config.textproto
  examples/local-first/traildepot/migrations/U1725019360__create_admin_user.sql
  examples/local-first/traildepot/migrations/U1737638313__create_table_data.sql
  examples/local-first/traildepot/trailbase.d.ts
  examples/local-first/traildepot/trailbase.js
  examples/local-first/tsconfig.app.json
  examples/local-first/tsconfig.json
  examples/local-first/tsconfig.node.json
  examples/local-first/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier, typescript_check, javascript_test, build_website

Minor: using tanstack query hierarchies to refetch all admin queries on refresh.
  trailbase-assets/js/admin/src/components/settings/AuthSettings.tsx
  trailbase-assets/js/admin/src/components/settings/JobSettings.tsx
  trailbase-assets/js/admin/src/components/settings/SchemaSettings.tsx
  trailbase-assets/js/admin/src/components/settings/SettingsPage.tsx
  trailbase-assets/js/admin/src/lib/config.ts
Due: prettier, typescript_check, javascript_test, build_website

Use tanstack/query for logs and accounts pagination. Remove searchParam manipulation from Table component.
  trailbase-assets/js/admin/src/components/FilterBar.tsx
  trailbase-assets/js/admin/src/components/IndexPage.tsx
  trailbase-assets/js/admin/src/components/Table.tsx
  trailbase-assets/js/admin/src/components/accounts/AccountsPage.tsx
  trailbase-assets/js/admin/src/components/editor/EditorPage.tsx
  trailbase-assets/js/admin/src/components/logs/LogsPage.tsx
  trailbase-assets/js/admin/src/components/tables/TablePane.tsx
  trailbase-assets/js/admin/src/lib/list.ts
  trailbase-assets/js/admin/src/lib/logs.ts
  trailbase-assets/js/admin/src/lib/user.ts
  trailbase-core/src/admin/list_logs.rs
  trailbase-qs/src/query.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Explicitly specify the cursor type.
  trailbase-core/src/admin/list_logs.rs
  trailbase-core/src/admin/rows/list_rows.rs
  trailbase-core/src/admin/user/list_users.rs
  trailbase-core/src/records/list_records.rs
  trailbase-qs/src/lib.rs
  trailbase-qs/src/query.rs
Due: cargofmt, cargoclippy, cargotest

Minor: use tanstack query for schema downloads and clean up schema UI a little.
  trailbase-assets/js/admin/src/components/tables/SchemaDownload.tsx
Due: prettier, typescript_check, javascript_test, build_website

Use tanstack-inifite-query's next page functionality correctly.
  trailbase-assets/js/admin/src/components/Table.tsx
  trailbase-assets/js/admin/src/components/accounts/AccountsPage.tsx
  trailbase-assets/js/admin/src/components/logs/LogsPage.tsx
  trailbase-assets/js/admin/src/lib/list.ts
  trailbase-assets/js/admin/src/lib/logs.ts
  trailbase-assets/js/admin/src/lib/user.ts
Due: prettier, typescript_check, javascript_test, build_website
