Repository trailbaseio/trailbase: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website, dart_format, dart_analyze, dart_test, dotnet_format, dotnet_test, python_format, python_check, python_test, swift_format, swift_test

cargofmt:
  name: Cargo Format
  entry: cargo fmt -- --check
  pass_filenames: false
  language: system

cargoclippy:
  name: Cargo Clippy
  verbose: true
  entry: sh -c 'pnpm i && cargo clippy --workspace --no-deps'
  language: system
  pass_filenames: false

cargotest:
  name: Cargo Test
  entry: sh -c 'pnpm i && cargo test --workspace -- --show-output'
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: pnpm -r format --check
  language: system
  pass_filenames: false

typescript_check:
  name: Typescript Check
  entry: pnpm -r check
  language: system
  pass_filenames: false

javascript_test:
  name: JavaScript Test
  entry: pnpm -r test
  language: system
  pass_filenames: false

build_website:
  name: Build Website
  entry: sh -c 'cd docs && pnpm build'
  language: system
  pass_filenames: false

dart_format:
  name: Dart format
  entry: dart format -o none --set-exit-if-changed client/trailbase-dart examples/blog/flutter
  language: system
  pass_filenames: false

dart_analyze:
  name: Dart analyze
  entry: sh -c 'dart pub -C client/trailbase-dart get && dart pub -C examples/blog/flutter get && dart analyze -- client/trailbase-dart examples/blog/flutter'
  language: system
  pass_filenames: false

dart_test:
  name: Dart test
  entry: sh -c 'cd client/trailbase-dart && dart pub get && dart test'
  language: system
  pass_filenames: false

dotnet_format:
  name: Dotnet format
  entry: sh -c 'dotnet format client/trailbase-dotnet/src --verify-no-changes && dotnet format client/trailbase-dotnet/test --verify-no-changes'
  language: system
  pass_filenames: false

dotnet_test:
  name: Dotnet test
  entry: dotnet test client/trailbase-dotnet/test
  language: system
  pass_filenames: false

python_format:
  name: Python format
  entry: poetry -C client/trailbase-py run black --config pyproject.toml --check .
  language: system
  pass_filenames: false

python_check:
  name: Python check
  entry: poetry -C client/trailbase-py run pyright --outputjson
  language: system
  pass_filenames: false

python_test:
  name: Python test
  entry: poetry -C client/trailbase-py run pytest
  language: system
  pass_filenames: false

swift_format:
  name: Swift format
  entry: swift format -r --in-place client/trailbase-swift/**/*.swift
  language: system
  pass_filenames: false

swift_test:
  name: Swift test
  entry: swift test --package-path client/trailbase-swift
  language: system
  pass_filenames: false

Add sync transaction api placeholders.
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
  crates/wasm-runtime/wit/trailbase.wit
Due: cargofmt, cargoclippy, cargotest

Add `kind` to HttpContext, i.e. http vs job requests.
  crates/core/src/wasm/mod.rs
  crates/wasm-runtime-common/src/lib.rs
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime/src/lib.rs
  tests/runtime/src/trailbase.ts
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Add custom export! macro for trailbase_wasm_guest::Init.
  Cargo.lock
  crates/wasm-runtime-guest/Cargo.toml
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
  tests/rust-wasm-guest/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Bring plain js wasm example up-to-date.
  pnpm-lock.yaml
  tests/http-hello-world/package.json
  tests/js-wasm-guest/componentize.js
  tests/js-wasm-guest/index.js
  tests/js-wasm-guest/package.json
  tests/js-wasm-guest/runtime.js
Due: prettier, typescript_check, javascript_test, build_website

WIP: More wiring.
  Cargo.lock
  crates/core/src/app_state.rs
  crates/core/src/wasm/mod.rs
  crates/wasm-runtime/Cargo.toml
  crates/wasm-runtime/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

PoC: call sqlite from WASM.
  Cargo.lock
  Cargo.toml
  crates/wasm-runtime-common/Cargo.toml
  crates/wasm-runtime-common/src/lib.rs
  crates/wasm-runtime-guest/Cargo.toml
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime/Cargo.toml
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
  tests/rust-wasm-guest/Cargo.toml
  tests/rust-wasm-guest/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Don't block WASM event loop.
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
  tests/http-hello-world/src/index.ts
  tests/rust-wasm-guest/src/lib.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Minor: access host endpoint.
  tests/http-hello-world/src/http-hello-world.ts
  tests/http-hello-world/tsconfig.json
Due: prettier, typescript_check, javascript_test, build_website

Use host interface rather than http for thread id interface.
  crates/core/src/wasm/mod.rs
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
  crates/wasm-runtime/wit/trailbase.wit
  tests/rust-wasm-guest/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

WIP: Turn init metadata into runtime callbacks.
  crates/core/src/wasm/mod.rs
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
  crates/wasm-runtime/wit/trailbase.wit
  tests/rust-wasm-guest/Makefile
Due: cargofmt, cargoclippy, cargotest

Add async execute via http handler for rust guests.
  Cargo.lock
  crates/wasm-runtime-guest/Cargo.toml
  crates/wasm-runtime-guest/src/db.rs
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
Due: cargofmt, cargoclippy, cargotest

Wire up job handlers.
  Cargo.lock
  crates/core/src/wasm/mod.rs
  crates/wasm-runtime-guest/Cargo.toml
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
  crates/wasm-runtime/wit/trailbase.wit
  tests/http-hello-world/src/index.ts
  tests/runtime/src/trailbase.ts
  tests/runtime/wit/trailbase.wit
  tests/rust-wasm-guest/src/lib.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Wire up context and path params in JS/TS.
  crates/wasm-runtime/src/lib.rs
  tests/http-hello-world/src/index.ts
  tests/runtime/src/index.ts
  tests/runtime/src/status.ts
  tests/runtime/src/trailbase.ts
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Update Rust dependencies.
  Cargo.lock
  crates/wasm-runtime-guest/Cargo.toml
Due: none

Use vite for vanilla JS wasm example.
  pnpm-lock.yaml
  tests/http-hello-world/package.json
  tests/http-hello-world/src/component.js
  tests/http-hello-world/src/index.ts
  tests/js-wasm-guest/index.js
  tests/js-wasm-guest/package.json
  tests/js-wasm-guest/src/component.js
  tests/js-wasm-guest/src/index.js
  tests/js-wasm-guest/vite.config.ts
Due: prettier, typescript_check, javascript_test, build_website

PoC: Wire up JS http. Quick benchmark results fib(40): rust-wasm: 14s, js-aot-wasm: 26s, js-wasm: 42s.
  crates/core/src/wasm/mod.rs
  crates/wasm-runtime/wit-0.2.3/trailbase.wit
  tests/js-wasm-guest/guest.js
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Also wire up the path params.
  Cargo.lock
  crates/core/Cargo.toml
  crates/core/src/wasm/mod.rs
  crates/wasm-runtime-common/src/lib.rs
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
Due: cargofmt, cargoclippy, cargotest

Add sync DB query/execute methods.
  crates/wasm-runtime-guest/src/db.rs
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
  crates/wasm-runtime/wit/trailbase.wit
  tests/rust-wasm-guest/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Add higher-level Rust TX abtraction and streamline parameter serialization.
  Cargo.lock
  crates/wasm-runtime-guest/Cargo.toml
  crates/wasm-runtime-guest/src/db.rs
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
  crates/wasm-runtime/wit/trailbase.wit
  tests/rust-wasm-guest/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Have wasm init return a metadata struct.
  crates/core/src/app_state.rs
  crates/core/src/lib.rs
  crates/core/src/wasm/mod.rs
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
  crates/wasm-runtime/wit/trailbase.wit
  tests/rust-wasm-guest/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Add Transaction host endpoints.
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/src/sqlite.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
  crates/wasm-runtime/wit/trailbase.wit
  tests/http-hello-world/package.json
  tests/http-hello-world/src/index.ts
  tests/rust-wasm-guest/Makefile
  tests/rust-wasm-guest/src/lib.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Allow mulitple routers.
  crates/core/src/server/mod.rs
Due: cargofmt, cargoclippy, cargotest

WIP: Pass sqlite DB into WASM runtime.
  Cargo.lock
  crates/wasm-runtime/Cargo.toml
  crates/wasm-runtime/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

WIP: sqlite transactions from WASM.
  crates/wasm-runtime-common/src/lib.rs
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime/src/sqlite.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
Due: cargofmt, cargoclippy, cargotest

Wire up registered path & User.
  crates/core/src/auth/user.rs
  crates/core/src/wasm/mod.rs
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/src/sqlite.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
  pnpm-lock.yaml
  tests/rust-wasm-guest/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Wire up http routes from wasm.
  crates/core/src/app_state.rs
  crates/core/src/server/mod.rs
  crates/core/src/wasm/mod.rs
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
  tests/rust-wasm-guest/Makefile
  tests/rust-wasm-guest/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Make runtime package more usable.
  Cargo.lock
  tests/http-hello-world/src/index.ts
  tests/runtime/src/trailbase.ts
Due: prettier, typescript_check, javascript_test, build_website

Add query/execute abstractions to the JS runtime.
  Cargo.lock
  Cargo.toml
  crates/assets/js/bindings/HttpContext.ts
  crates/assets/js/bindings/HttpContextKind.ts
  crates/assets/js/bindings/HttpContextUser.ts
  crates/assets/js/bindings/SqliteRequest.ts
  crates/assets/js/bindings/SqliteResponse.ts
  crates/core/Cargo.toml
  crates/schema/Cargo.toml
  crates/wasm-runtime-common/Cargo.toml
  crates/wasm-runtime-common/src/lib.rs
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
  tests/http-hello-world/src/index.ts
  tests/runtime/generated/common/HttpContext.ts
  tests/runtime/generated/common/HttpContextKind.ts
  tests/runtime/generated/common/HttpContextUser.ts
  tests/runtime/generated/common/SqliteRequest.ts
  tests/runtime/generated/common/SqliteResponse.ts
  tests/runtime/generated/common/serde_json/JsonValue.ts
  tests/runtime/generated/types/interfaces/trailbase-runtime-host-endpoint.d.ts
  tests/runtime/generated/types/interfaces/trailbase-runtime-init-endpoint.d.ts
  tests/runtime/package.json
  tests/runtime/src/db.ts
  tests/runtime/src/http.ts
  tests/runtime/src/index.ts
  tests/runtime/tests/runtime.test.ts
  tests/runtime/tsconfig.json
  tests/runtime/wit/trailbase.wit
  tests/rust-wasm-guest/src/lib.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

MvP multi-threaded WASI runtime.
  Cargo.lock
  Cargo.toml
  crates/wasm-runtime/Cargo.toml
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
  tests/rust-wasm-guest/Cargo.lock
  tests/rust-wasm-guest/Cargo.toml
  tests/rust-wasm-guest/Makefile
  tests/rust-wasm-guest/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Update Wasmtime.
  Cargo.lock
  crates/wasm-runtime/Cargo.toml
  crates/wasm-runtime/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Test concurrent transactions.
  crates/core/src/wasm/mod.rs
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
  tests/rust-wasm-guest/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Add an inflight counter out of curiosity.
  crates/wasm-runtime/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Minor: cleanup the double self-cell indirection. Still haven't found a clean way to collapse.
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

PoC: per instance tx.
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

Path conditions:
  cargofmt: any of: \.rs$ and not (^vendor/) and not ((trailbase-core/bindings|bindings)/.*)
  cargoclippy: any of: \.rs$ and not (^vendor/) and not ((trailbase-core/bindings|bindings)/.*)
  cargotest: any of: \.rs$ and not (^(vendor|bindings)/) and not ((trailbase-core/bindings|bindings)/.*)
  prettier: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro|md|mdx)$, but not: (trailbase-core/bindings|bindings)/.*
  typescript_check: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro|mdx)$, but not: (trailbase-core/bindings|bindings)/.*
  javascript_test: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro)$, but not: (trailbase-core/bindings|bindings)/.*
  build_website: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro)$, but not: (trailbase-core/bindings|bindings)/.*
  dart_format: any of: .*\.dart$, but not: (trailbase-core/bindings|bindings)/.*
  dart_analyze: any of: .*\.dart$, but not: (trailbase-core/bindings|bindings)/.*
  dart_test: any of: .*\.dart$, but not: (trailbase-core/bindings|bindings)/.*
  dotnet_format: any of: .*\.(cs|csproj)$, but not: (trailbase-core/bindings|bindings)/.*
  dotnet_test: any of: .*\.(cs|csproj)$, but not: (trailbase-core/bindings|bindings)/.*
  python_format: any of: .*\.(py)$, but not: (trailbase-core/bindings|bindings)/.*
  python_check: any of: .*\.(py)$, but not: (trailbase-core/bindings|bindings)/.*
  python_test: any of: .*\.(py)$, but not: (trailbase-core/bindings|bindings)/.*
  swift_format: any of: .*\.(swift)$, but not: (trailbase-core/bindings|bindings)/.*
  swift_test: any of: .*\.(swift)$, but not: (trailbase-core/bindings|bindings)/.*
