Repository trailbaseio/trailbase: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website, dart_format, dart_analyze, dart_test, dotnet_format, dotnet_test, python_format, python_check, python_test, swift_format, swift_test

cargofmt:
  name: Cargo Format
  entry: cargo fmt -- --check
  pass_filenames: false
  language: system

cargoclippy:
  name: Cargo Clippy
  verbose: true
  entry: sh -c 'pnpm i && cargo clippy --workspace --no-deps'
  language: system
  pass_filenames: false

cargotest:
  name: Cargo Test
  entry: sh -c 'pnpm i && cargo test --workspace -- --show-output'
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: pnpm -r format --check
  language: system
  pass_filenames: false

typescript_check:
  name: Typescript Check
  entry: pnpm -r check
  language: system
  pass_filenames: false

javascript_test:
  name: JavaScript Test
  entry: pnpm -r test
  language: system
  pass_filenames: false

build_website:
  name: Build Website
  entry: sh -c 'cd docs && pnpm build'
  language: system
  pass_filenames: false

dart_format:
  name: Dart format
  entry: dart format -o none --set-exit-if-changed client/trailbase-dart examples/blog/flutter
  language: system
  pass_filenames: false

dart_analyze:
  name: Dart analyze
  entry: sh -c 'dart pub -C client/trailbase-dart get && dart pub -C examples/blog/flutter get && dart analyze -- client/trailbase-dart examples/blog/flutter'
  language: system
  pass_filenames: false

dart_test:
  name: Dart test
  entry: sh -c 'cd client/trailbase-dart && dart pub get && dart test'
  language: system
  pass_filenames: false

dotnet_format:
  name: Dotnet format
  entry: sh -c 'dotnet format client/trailbase-dotnet/src --verify-no-changes && dotnet format client/trailbase-dotnet/test --verify-no-changes'
  language: system
  pass_filenames: false

dotnet_test:
  name: Dotnet test
  entry: dotnet test client/trailbase-dotnet/test
  language: system
  pass_filenames: false

python_format:
  name: Python format
  entry: poetry -C client/trailbase-py run black --config pyproject.toml --check .
  language: system
  pass_filenames: false

python_check:
  name: Python check
  entry: poetry -C client/trailbase-py run pyright --outputjson
  language: system
  pass_filenames: false

python_test:
  name: Python test
  entry: poetry -C client/trailbase-py run pytest
  language: system
  pass_filenames: false

swift_format:
  name: Swift format
  entry: swift format -r --in-place client/trailbase-swift/**/*.swift
  language: system
  pass_filenames: false

swift_test:
  name: Swift test
  entry: swift test --package-path client/trailbase-swift
  language: system
  pass_filenames: false

Docs: Clarify OSL-3.0 license implications in README
  README.md
Due: prettier

Use tanstack query consitently for all table view.
  trailbase-assets/js/admin/src/components/Table.tsx
  trailbase-assets/js/admin/src/components/accounts/AccountsPage.tsx
  trailbase-assets/js/admin/src/components/logs/LogsPage.tsx
  trailbase-assets/js/admin/src/components/tables/TablePane.tsx
  trailbase-assets/js/admin/src/lib/list.ts
  trailbase-assets/js/admin/src/lib/row.ts
  trailbase-assets/js/admin/src/lib/table.ts
Due: prettier, typescript_check, javascript_test, build_website

Update Rust dependencies and prepare release v0.12.1.
  CHANGELOG.md
  Cargo.lock
Due: prettier

Update JS dependencies.
  docs/examples/record_api_ts/package.json
  docs/package.json
  examples/blog/web/package.json
  examples/coffee-vector-search/package.json
  examples/collab-clicker-ssr/package.json
  examples/data-cli-tutorial/package.json
  pnpm-lock.yaml
  trailbase-assets/js/admin/package.json
  trailbase-assets/js/auth/package.json
  trailbase-assets/js/client/package.json
  trailbase-js/assets/runtime/package.json
Due: none

Fix unchecked null assertion in admin auth dashboard.
  trailbase-assets/js/admin/src/components/settings/AuthSettings.tsx
Due: prettier, typescript_check, javascript_test, build_website

Prepare new release v0.12.2.
  CHANGELOG.md
Due: prettier

Docs: Clarify OSL-3.0 license implications in README #71.
  README.md
Due: prettier

Fix stale but inconsequential bindings path.
  examples/blog/web/tsconfig.json
  trailbase-assets/js/admin/README.md
Due: prettier

Minor: please clippy the friendly paperclip.
  trailbase-core/Cargo.toml
  trailbase-core/src/admin/rows/list_rows.rs
  trailbase-core/src/email.rs
  trailbase-qs/src/query.rs
Due: cargofmt, cargoclippy, cargotest

Update Rust and JS deps.
  Cargo.lock
  docs/examples/record_api_ts/package.json
  examples/coffee-vector-search/package.json
  pnpm-lock.yaml
  trailbase-assets/js/admin/package.json
  trailbase-assets/js/client/package.json
  trailbase-core/Cargo.toml
  trailbase-js/assets/runtime/package.json
  trailbase-schema/Cargo.toml
Due: none

Use `--prefer-offline` over plain `--offline` for installing JS deps.
  examples/collab-clicker-ssr/pnpm-lock.yaml
  pnpm-workspace.yaml
  trailbase-build/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

W/o tower_reqwest
  client/trailbase-rs/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Full circle back to reqwest types.
  Cargo.lock
  client/trailbase-rs/Cargo.toml
  client/trailbase-rs/src/http.rs
  client/trailbase-rs/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

WIP: Use a tower_http_client to abstract underlying client implementation. Request/Response/Error types are still tied to reqwest :/.
  Cargo.lock
  client/trailbase-rs/Cargo.toml
  client/trailbase-rs/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Generic request body.
  Cargo.lock
  client/trailbase-rs/Cargo.toml
  client/trailbase-rs/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Try replace admin login with main auth UI.
  trailbase-assets/js/admin/src/components/auth/AuthButton.tsx
  trailbase-assets/js/admin/src/lib/fetch.ts
  trailbase-core/src/auth/api/login.rs
  trailbase-core/src/auth/mod.rs
  trailbase-core/src/auth/ui/mod.rs
  trailbase-core/src/server/mod.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

WIP: minor
  trailbase-assets/js/admin/src/lib/fetch.ts
  trailbase-core/src/server/mod.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Minor: wire up alert box and fix logout.
  trailbase-assets/js/admin/src/components/auth/AuthButton.tsx
  trailbase-assets/js/auth/src/components/AlertBox.astro
  trailbase-assets/js/auth/src/components/Form.astro
  trailbase-core/src/server/mod.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Fix issue with qualified table names breaking admin dash row insertions/updates.
  trailbase-assets/js/admin/src/components/tables/TablePane.tsx
  trailbase-assets/js/admin/src/components/tables/TablesPage.tsx
  trailbase-assets/js/admin/src/lib/row.ts
Due: prettier, typescript_check, javascript_test, build_website

Prepare new release v0.12.3.
  CHANGELOG.md
Due: prettier

Add a PNPM_OFFLINE environment variable to fall back to previous non-fallback behavior.
  Dockerfile
  trailbase-build/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Also flip frozen lockfile fallback when PNPM_OFFLINE is set.
  trailbase-build/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

WIP: tanstack-DB setup. Currently does a full reload. Should also incorporate subscriptions. We would also like to find out if and how Compare-and-Swap semantics may help.
  examples/local-first/.gitignore
  examples/local-first/.prettierrc
  examples/local-first/README.md
  examples/local-first/eslint.config.js
  examples/local-first/index.html
  examples/local-first/package.json
  examples/local-first/src/App.css
  examples/local-first/src/App.tsx
  examples/local-first/src/index.css
  examples/local-first/src/main.tsx
  examples/local-first/src/vite-env.d.ts
  examples/local-first/traildepot/.gitignore
  examples/local-first/traildepot/config.textproto
  examples/local-first/traildepot/migrations/U1725019360__create_admin_user.sql
  examples/local-first/traildepot/migrations/U1737638313__create_table_data.sql
  examples/local-first/traildepot/trailbase.d.ts
  examples/local-first/traildepot/trailbase.js
  examples/local-first/tsconfig.app.json
  examples/local-first/tsconfig.json
  examples/local-first/tsconfig.node.json
  examples/local-first/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier, typescript_check, javascript_test, build_website

WIP: add not yet funct scaffold for TrailBaseCollection.
  examples/local-first/eslint.config.js
  examples/local-first/package.json
  examples/local-first/src/App.tsx
  examples/local-first/src/lib/trailbase.ts
  examples/local-first/traildepot/trailbase.d.ts
  examples/local-first/traildepot/trailbase.js
  examples/local-first/tsconfig.app.json
  examples/local-first/tsconfig.json
  examples/local-first/tsconfig.node.json
  pnpm-lock.yaml
Due: prettier, typescript_check, javascript_test, build_website

WIP: User integer PK + UUIDv4 for users.
  client/testfixture/migrations/U1728810810__create_blog_example_tables.sql
  trailbase-core/build.rs
  trailbase-core/migrations/main/U3__user_id.sql
  trailbase-core/src/auth/api/avatar.rs
  trailbase-core/src/auth/api/login.rs
  trailbase-core/src/auth/api/token.rs
  trailbase-core/src/auth/oauth/callback.rs
  trailbase-core/src/auth/tokens.rs
  trailbase-core/src/auth/user.rs
  trailbase-core/src/records/create_record.rs
  trailbase-core/src/records/params.rs
  trailbase-core/src/records/query_builder.rs
  trailbase-core/src/records/record_api.rs
  trailbase-extension/src/lib.rs
  trailbase-extension/src/uuid.rs
Due: cargofmt, cargoclippy, cargotest

Replace avatar url + record API with dedicated read avatar API.
  client/testfixture/config.textproto
  examples/blog/traildepot/migrations/U1725019361__create_profiles.sql
  trailbase-assets/js/client/src/index.ts
  trailbase-core/src/auth/api/avatar.rs
  trailbase-core/src/auth/mod.rs
  trailbase-core/src/config.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Add dedicated avatar delete and create (with update semantics) APIs.
  trailbase-core/src/auth/api/avatar.rs
  trailbase-core/src/auth/mod.rs
  trailbase-core/src/records/create_record.rs
  trailbase-core/src/records/query_builder.rs
Due: cargofmt, cargoclippy, cargotest

Use new avatar APIs in Auth UI.
  pnpm-lock.yaml
  trailbase-assets/js/auth/package.json
  trailbase-assets/js/auth/src/components/Profile.tsx
  trailbase-assets/js/auth/src/layouts/BaseLayout.astro
  trailbase-assets/js/auth/src/lib/client.ts
  trailbase-assets/js/auth/src/lib/constants.ts
  trailbase-assets/js/client/src/index.ts
  trailbase-assets/js/client/tests/integration/client_integration.test.ts
Due: prettier, typescript_check, javascript_test, build_website

Add a avatar delete button to auth profile UI.
  trailbase-assets/js/auth/src/components/Profile.tsx
Due: prettier, typescript_check, javascript_test, build_website

Remove _user_avatar record APIs after adding dedicated avatar APIs.
  client/testfixture/config.textproto
  docs/src/content/docs/documentation/APIs/record_apis.mdx
  examples/blog/traildepot/config.textproto
  examples/coffee-vector-search/traildepot/config.textproto
  examples/collab-clicker-ssr/traildepot/config.textproto
  examples/data-cli-tutorial/traildepot/config.textproto
  trailbase-core/src/auth/api/avatar.rs
  trailbase-core/src/config.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check

Stricter input validation for multipart avatar uploads.
  trailbase-core/src/auth/api/avatar.rs
Due: cargofmt, cargoclippy, cargotest

Use new avatar APIs in Auth UI and add avatars back to Admin UI.
  pnpm-lock.yaml
  trailbase-assets/js/admin/index.html
  trailbase-assets/js/admin/src/components/auth/AuthButton.tsx
  trailbase-assets/js/admin/src/lib/fetch.ts
  trailbase-assets/js/auth/package.json
  trailbase-assets/js/auth/src/components/Profile.tsx
  trailbase-assets/js/auth/src/layouts/BaseLayout.astro
  trailbase-assets/js/auth/src/lib/client.ts
  trailbase-assets/js/auth/src/lib/constants.ts
  trailbase-assets/js/client/src/index.ts
  trailbase-assets/js/client/tests/integration/client_integration.test.ts
Due: prettier, typescript_check, javascript_test, build_website

Turn client.avatarUrl() sync and update example.
  examples/blog/web/src/components/Auth.tsx
  trailbase-assets/js/client/src/index.ts
Due: prettier, typescript_check, javascript_test, build_website

Update Rust dependencies.
  Cargo.lock
Due: none

Document responsibilities when persisting auth tokens.
  docs/src/content/docs/documentation/auth.mdx
Due: prettier, typescript_check

Also check session as part of /api/auth/v1/status and add a (sub-optimal) async session validation to TS client's constructor when initialized with tokens.
  examples/blog/web/src/layouts/Base.astro
  trailbase-assets/js/client/src/index.ts
  trailbase-core/src/auth/api/login.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Prepare new release v0.13.0.
  CHANGELOG.md
  examples/blog/web/package.json
  pnpm-lock.yaml
  trailbase-assets/js/client/package.json
  trailbase-build/src/lib.rs
Due: cargofmt, cargoclippy, cargotest, prettier

Path conditions:
  cargofmt: any of: \.rs$ and not (^vendor/) and not ((trailbase-core/bindings|bindings)/.*)
  cargoclippy: any of: \.rs$ and not (^vendor/) and not ((trailbase-core/bindings|bindings)/.*)
  cargotest: any of: \.rs$ and not (^(vendor|bindings)/) and not ((trailbase-core/bindings|bindings)/.*)
  prettier: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro|md|mdx)$, but not: (trailbase-core/bindings|bindings)/.*
  typescript_check: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro|mdx)$, but not: (trailbase-core/bindings|bindings)/.*
  javascript_test: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro)$, but not: (trailbase-core/bindings|bindings)/.*
  build_website: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro)$, but not: (trailbase-core/bindings|bindings)/.*
  dart_format: any of: .*\.dart$, but not: (trailbase-core/bindings|bindings)/.*
  dart_analyze: any of: .*\.dart$, but not: (trailbase-core/bindings|bindings)/.*
  dart_test: any of: .*\.dart$, but not: (trailbase-core/bindings|bindings)/.*
  dotnet_format: any of: .*\.(cs|csproj)$, but not: (trailbase-core/bindings|bindings)/.*
  dotnet_test: any of: .*\.(cs|csproj)$, but not: (trailbase-core/bindings|bindings)/.*
  python_format: any of: .*\.(py)$, but not: (trailbase-core/bindings|bindings)/.*
  python_check: any of: .*\.(py)$, but not: (trailbase-core/bindings|bindings)/.*
  python_test: any of: .*\.(py)$, but not: (trailbase-core/bindings|bindings)/.*
  swift_format: any of: .*\.(swift)$, but not: (trailbase-core/bindings|bindings)/.*
  swift_test: any of: .*\.(swift)$, but not: (trailbase-core/bindings|bindings)/.*
