Repository trailbaseio/trailbase: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website, dart_format, dart_analyze, dart_test, dotnet_format, dotnet_test, python_format, python_check, python_test, swift_format, swift_test

cargofmt:
  name: Cargo Format
  entry: cargo fmt -- --check
  pass_filenames: false
  language: system

cargoclippy:
  name: Cargo Clippy
  verbose: true
  entry: sh -c 'pnpm i && cargo clippy --workspace --no-deps'
  language: system
  pass_filenames: false

cargotest:
  name: Cargo Test
  entry: sh -c 'pnpm i && cargo test --workspace -- --show-output'
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: pnpm -r format --check
  language: system
  pass_filenames: false

typescript_check:
  name: Typescript Check
  entry: pnpm -r check
  language: system
  pass_filenames: false

javascript_test:
  name: JavaScript Test
  entry: pnpm -r test
  language: system
  pass_filenames: false

build_website:
  name: Build Website
  entry: sh -c 'cd docs && pnpm build'
  language: system
  pass_filenames: false

dart_format:
  name: Dart format
  entry: dart format -o none --set-exit-if-changed client/trailbase-dart examples/blog/flutter
  language: system
  pass_filenames: false

dart_analyze:
  name: Dart analyze
  entry: sh -c 'dart pub -C client/trailbase-dart get && dart pub -C examples/blog/flutter get && dart analyze -- client/trailbase-dart examples/blog/flutter'
  language: system
  pass_filenames: false

dart_test:
  name: Dart test
  entry: sh -c 'cd client/trailbase-dart && dart pub get && dart test'
  language: system
  pass_filenames: false

dotnet_format:
  name: Dotnet format
  entry: sh -c 'dotnet format client/trailbase-dotnet/src --verify-no-changes && dotnet format client/trailbase-dotnet/test --verify-no-changes'
  language: system
  pass_filenames: false

dotnet_test:
  name: Dotnet test
  entry: dotnet test client/trailbase-dotnet/test
  language: system
  pass_filenames: false

python_format:
  name: Python format
  entry: poetry -C client/trailbase-py run black --config pyproject.toml --check .
  language: system
  pass_filenames: false

python_check:
  name: Python check
  entry: poetry -C client/trailbase-py run pyright --outputjson
  language: system
  pass_filenames: false

python_test:
  name: Python test
  entry: poetry -C client/trailbase-py run pytest
  language: system
  pass_filenames: false

swift_format:
  name: Swift format
  entry: swift format -r --in-place client/trailbase-swift/**/*.swift
  language: system
  pass_filenames: false

swift_test:
  name: Swift test
  entry: swift test --package-path client/trailbase-swift
  language: system
  pass_filenames: false

Add missing offset parameter to swift client.
  client/trailbase-swift/Sources/TrailBase/TrailBase.swift
Due: swift_format, swift_test

Update JS dependencies.
  docs/examples/record_api_ts/package.json
  docs/package.json
  examples/blog/web/package.json
  examples/coffee-vector-search/package.json
  examples/collab-clicker-ssr/package.json
  examples/data-cli-tutorial/package.json
  examples/local-first/package.json
  pnpm-lock.yaml
  trailbase-assets/js/admin/package.json
  trailbase-assets/js/auth/package.json
  trailbase-assets/js/client/package.json
  trailbase-js/assets/runtime/package.json
Due: none

Minor: tidy up the VIEW extraction code.
  trailbase-schema/src/metadata.rs
  trailbase-schema/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

Simplify view query analysis.
  trailbase-schema/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

Allow more complex sub-queries in views including column filtering. #99
  Cargo.lock
  trailbase-schema/Cargo.toml
  trailbase-schema/src/metadata.rs
  trailbase-schema/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

Minor: add more test cases.
  trailbase-schema/src/metadata.rs
  trailbase-schema/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

Limit VIEW joins explicitly to LEFT JOINs to avoid issues with naively picked (left-to-right) spoiled PKs.
  trailbase-schema/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

WIP: add more client functionality and first RecordApi function: create.
  client/trailbase-go/client.go
Due: none

WIP: use generics.
  client/trailbase-go/client.go
  client/trailbase-go/client_test.go
  client/trailbase-go/record_api.go
Due: none

WIP: Add List arguments.
  client/trailbase-go/client_test.go
  client/trailbase-go/record_api.go
  client/trailbase-go/record_api_test.go
Due: none

WIP: turn to library
  client/trailbase-go/client.go
  client/trailbase-go/client_test.go
  client/trailbase-go/record_api.go
  client/trailbase-go/thin_client.go
Due: none

WIP: add logout
  client/trailbase-go/client.go
Due: none

WIP: Add record api read.
  client/trailbase-go/client.go
  client/trailbase-go/client_test.go
  client/trailbase-go/record_api.go
Due: none

Early skelleton of a future go client.
  client/trailbase-go/client.go
  client/trailbase-go/go.mod
  client/trailbase-go/go.sum
Due: none

WIP: I remembered, use defer to unlock mutex.
  client/trailbase-go/client.go
Due: none

WIP: more basic functions
  client/trailbase-go/client.go
Due: none

Add Update, Delete and basic List.
  client/trailbase-go/client_test.go
  client/trailbase-go/record_api.go
Due: none

Basic tests for all record operations and make tests hermetic.
  client/trailbase-go/client_test.go
  client/trailbase-go/record_api.go
  client/trailbase-go/record_api_test.go
  client/trailbase-go/thin_client.go
Due: none

Add Go client to the presubmit checks.
  .pre-commit-config.yaml
Due: none

Add official Golang client for TrailBase.
  .github/workflows/test.yml
  .pre-commit-config.yaml
  client/trailbase-go/client.go
  client/trailbase-go/client_test.go
  client/trailbase-go/go.mod
  client/trailbase-go/go.sum
  client/trailbase-go/record_api.go
  client/trailbase-go/record_api_test.go
  client/trailbase-go/thin_client.go
Due: none

Fix go client's package name.
  .pre-commit-config.yaml
  client/go/trailbase/client.go
  client/go/trailbase/client_test.go
  client/go/trailbase/go.mod
  client/go/trailbase/go.sum
  client/go/trailbase/record_api.go
  client/go/trailbase/record_api_test.go
  client/go/trailbase/thin_client.go
  client/trailbase-go/go.mod
Due: none

Add go client to docs: integrations and record api examples.
  docs/examples/record_api_go/create.go
  docs/examples/record_api_go/delete.go
  docs/examples/record_api_go/go.mod
  docs/examples/record_api_go/go.sum
  docs/examples/record_api_go/list.go
  docs/examples/record_api_go/read.go
  docs/examples/record_api_go/record_api.go
  docs/examples/record_api_go/record_api_test.go
  docs/examples/record_api_go/update.go
  docs/src/assets/go_logo.svg
  docs/src/assets/tanstack_logo.svg
  docs/src/content/docs/documentation/apis_record.mdx
  docs/src/content/docs/index.mdx
Due: prettier, typescript_check

Minor: add gofmt to Makefile.
  Makefile
Due: none

Minor: move code around.
  trailbase-assets/js/bindings/View.ts
  trailbase-core/src/admin/parse.rs
  trailbase-core/src/admin/query.rs
  trailbase-core/src/admin/table/list_tables.rs
  trailbase-core/src/records/list_records.rs
  trailbase-core/src/records/params.rs
  trailbase-core/src/records/query_builder.rs
  trailbase-core/src/records/record_api.rs
  trailbase-core/src/schema_metadata.rs
  trailbase-schema/src/lib.rs
  trailbase-schema/src/metadata.rs
  trailbase-schema/src/parse.rs
  trailbase-schema/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

Prepare new release v0.15.7.
  CHANGELOG.md
  trailbase-schema/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest, prettier

Experiment with lint-staged to potentially replace pre-commit.
  .husky/pre-commit
  .lintstagedrc.mjs
  package.json
  pnpm-lock.yaml
Due: prettier, typescript_check, javascript_test, build_website

Fix: make OAuth login in examples/blog/flutter work
  examples/blog/flutter/android/app/src/main/AndroidManifest.xml
  examples/blog/flutter/lib/main.dart
Due: dart_format, dart_analyze, dart_test

Support custom uri schemes for auth redirects. #100
  examples/blog/schema/article.json
  examples/blog/traildepot/config.textproto
  trailbase-core/proto/config.proto
  trailbase-core/src/app_state.rs
  trailbase-core/src/auth/api/change_email.rs
  trailbase-core/src/auth/api/change_password.rs
  trailbase-core/src/auth/api/login.rs
  trailbase-core/src/auth/api/logout.rs
  trailbase-core/src/auth/api/verify_email.rs
  trailbase-core/src/auth/oauth/callback.rs
  trailbase-core/src/auth/oauth/login.rs
  trailbase-core/src/auth/util.rs
Due: cargofmt, cargoclippy, cargotest

Add a Go client constructor for existing tokens.
  client/go/trailbase/client.go
  client/go/trailbase/client_test.go
Due: none

Add Dart workspace and clean up pre-commit hooks.
  .github/workflows/test.yml
  .gitignore
  .pre-commit-config.yaml
  Makefile
  client/trailbase-dart/pubspec.yaml
  docs/examples/record_api_dart/pubspec.lock
  docs/examples/record_api_dart/pubspec.yaml
  docs/examples/record_api_dart/test/record_api_test.dart
  examples/blog/Makefile
  examples/blog/flutter/analysis_options.yaml
  examples/blog/flutter/lib/types/article.dart
  examples/blog/flutter/pubspec.yaml
  examples/coffee-vector-search/README.md
  pubspec.lock
  pubspec.yaml
Due: prettier, dart_format, dart_analyze, dart_test

Move swift client to /client/swift/trailbase and update references.
  .pre-commit-config.yaml
  Makefile
  README.md
  client/swift/trailbase/.gitignore
  client/swift/trailbase/Package.resolved
  client/swift/trailbase/Package.swift
  client/swift/trailbase/Sources/TrailBase/TrailBase.swift
  client/swift/trailbase/Tests/TrailBaseTests/TrailBaseTests.swift
  client/trailbase-swift/Sources/TrailBase/TrailBase.swift
  client/trailbase-swift/Tests/TrailBaseTests/TrailBaseTests.swift
  docs/examples/record_api_swift/Package.swift
  docs/examples/record_api_swift/Tests/RecordApiDocsTests/RecordApiDocsTests.swift
  docs/src/content/docs/index.mdx
Due: prettier, typescript_check, swift_format, swift_test

Move dotnet client to /client/dotnet/trailbase.
  .pre-commit-config.yaml
  Makefile
  client/dotnet/.editorconfig
  client/dotnet/.gitignore
  client/dotnet/docs/docfx.json
  client/dotnet/docs/images/favicon.svg
  client/dotnet/docs/images/logo_48.svg
  client/dotnet/docs/index.md
  client/dotnet/docs/toc.yml
  client/dotnet/test/ClientTest.cs
  client/dotnet/test/TrailBase.Tests.csproj
  client/dotnet/trailbase/Client.cs
  client/dotnet/trailbase/Makefile
  client/dotnet/trailbase/README.md
  client/dotnet/trailbase/RecordApi.cs
  client/dotnet/trailbase/TrailBase.csproj
  docs/examples/record_api_dotnet/record_api_dotnet.csproj
Due: prettier, dotnet_format, dotnet_test

Move python client to /client/python/.
  .github/workflows/test.yml
  .pre-commit-config.yaml
  Makefile
  client/python/.gitignore
  client/python/README.md
  client/python/poetry.toml
  client/python/pyproject.toml
  client/python/tests/__init__.py
  client/python/tests/test_client.py
  client/python/trailbase/__init__.py
  docs/examples/record_api_py/poetry.lock
  docs/examples/record_api_py/pyproject.toml
Due: prettier, python_format, python_check, python_test

Move rust client to /client/rust.
  .pre-commit-config.yaml
  Cargo.toml
  client/rust/Cargo.toml
  client/rust/src/lib.rs
  client/rust/tests/integration_test.rs
  docs/examples/record_api_rs/Cargo.toml
  trailbase-schema/.gitignore
  trailbase-schema/bindings/Check.ts
  trailbase-schema/bindings/Column.ts
  trailbase-schema/bindings/ColumnDataType.ts
  trailbase-schema/bindings/ColumnOption.ts
  trailbase-schema/bindings/ConflictResolution.ts
  trailbase-schema/bindings/ForeignKey.ts
  trailbase-schema/bindings/GeneratedExpressionMode.ts
  trailbase-schema/bindings/ReferentialAction.ts
  trailbase-schema/bindings/Table.ts
  trailbase-schema/bindings/UniqueConstraint.ts
Due: cargofmt, cargoclippy, cargotest

Move dart client to /client/dart.
  .pre-commit-config.yaml
  Makefile
  client/dart/.gitignore
  client/dart/.pubignore
  client/dart/CHANGELOG.md
  client/dart/LICENSE
  client/dart/README.md
  client/dart/analysis_options.yaml
  client/dart/lib/src/client.dart
  client/dart/lib/src/pkce.dart
  client/dart/lib/src/sse.dart
  client/dart/lib/trailbase.dart
  client/dart/pubspec.yaml
  client/dart/test/trailbase_test.dart
  docs/examples/record_api_dart/pubspec.yaml
  examples/blog/flutter/pubspec.yaml
  pubspec.yaml
Due: prettier, dart_format, dart_analyze, dart_test

Rename link to TypeScript client s/trailbase-ts/typescript/.
  client/typescript
Due: none

Split login flows more clearly into with and w/o PKCE flows and avoid ghost sessions when using the latter. #102
  trailbase-core/src/auth/api/login.rs
  trailbase-core/src/auth/api/mod.rs
  trailbase-core/src/auth/api/status.rs
  trailbase-core/src/auth/mod.rs
  trailbase-core/src/auth/oauth/callback.rs
Due: cargofmt, cargoclippy, cargotest

Split OAuth callback flows into with and w/o PKCE to avoid creating ghose sessions. #102
  trailbase-core/src/auth/api/avatar.rs
  trailbase-core/src/auth/api/login.rs
  trailbase-core/src/auth/auth_test.rs
  trailbase-core/src/auth/oauth/callback.rs
  trailbase-core/src/auth/oauth/login.rs
  trailbase-core/src/auth/oauth/state.rs
  trailbase-core/src/auth/user.rs
  trailbase-core/src/auth/util.rs
  trailbase-core/src/lib.rs
  trailbase-core/src/records/create_record.rs
  trailbase-core/src/records/delete_record.rs
  trailbase-core/src/records/list_records.rs
  trailbase-core/src/records/read_record.rs
  trailbase-core/src/records/subscribe.rs
  trailbase-core/src/records/update_record.rs
Due: cargofmt, cargoclippy, cargotest

Add tests for password-based PKCE login flow.
  trailbase-core/src/auth/api/login.rs
  trailbase-core/src/auth/auth_test.rs
  trailbase-core/src/auth/oauth/callback.rs
  trailbase-core/src/auth/password.rs
Due: cargofmt, cargoclippy, cargotest

Path conditions:
  cargofmt: any of: \.rs$ and not (^vendor/) and not ((trailbase-core/bindings|bindings)/.*)
  cargoclippy: any of: \.rs$ and not (^vendor/) and not ((trailbase-core/bindings|bindings)/.*)
  cargotest: any of: \.rs$ and not (^(vendor|bindings)/) and not ((trailbase-core/bindings|bindings)/.*)
  prettier: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro|md|mdx)$, but not: (trailbase-core/bindings|bindings)/.*
  typescript_check: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro|mdx)$, but not: (trailbase-core/bindings|bindings)/.*
  javascript_test: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro)$, but not: (trailbase-core/bindings|bindings)/.*
  build_website: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro)$, but not: (trailbase-core/bindings|bindings)/.*
  dart_format: any of: .*\.dart$, but not: (trailbase-core/bindings|bindings)/.*
  dart_analyze: any of: .*\.dart$, but not: (trailbase-core/bindings|bindings)/.*
  dart_test: any of: .*\.dart$, but not: (trailbase-core/bindings|bindings)/.*
  dotnet_format: any of: .*\.(cs|csproj)$, but not: (trailbase-core/bindings|bindings)/.*
  dotnet_test: any of: .*\.(cs|csproj)$, but not: (trailbase-core/bindings|bindings)/.*
  python_format: any of: .*\.(py)$, but not: (trailbase-core/bindings|bindings)/.*
  python_check: any of: .*\.(py)$, but not: (trailbase-core/bindings|bindings)/.*
  python_test: any of: .*\.(py)$, but not: (trailbase-core/bindings|bindings)/.*
  swift_format: any of: .*\.(swift)$, but not: (trailbase-core/bindings|bindings)/.*
  swift_test: any of: .*\.(swift)$, but not: (trailbase-core/bindings|bindings)/.*
