Repository trailbaseio/trailbase: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website, dart_format, dart_analyze, dart_test, dotnet_format, dotnet_test, python_format, python_check, python_test, swift_format, swift_test

cargofmt:
  name: Cargo Format
  entry: cargo fmt -- --check
  pass_filenames: false
  language: system

cargoclippy:
  name: Cargo Clippy
  verbose: true
  entry: sh -c 'pnpm i && cargo clippy --workspace --no-deps'
  language: system
  pass_filenames: false

cargotest:
  name: Cargo Test
  entry: sh -c 'pnpm i && cargo test --workspace -- --show-output'
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: pnpm -r format --check
  language: system
  pass_filenames: false

typescript_check:
  name: Typescript Check
  entry: pnpm -r check
  language: system
  pass_filenames: false

javascript_test:
  name: JavaScript Test
  entry: pnpm -r test
  language: system
  pass_filenames: false

build_website:
  name: Build Website
  entry: sh -c 'cd docs && pnpm build'
  language: system
  pass_filenames: false

dart_format:
  name: Dart format
  entry: dart format -o none --set-exit-if-changed client/trailbase-dart examples/blog/flutter
  language: system
  pass_filenames: false

dart_analyze:
  name: Dart analyze
  entry: sh -c 'dart pub -C client/trailbase-dart get && dart pub -C examples/blog/flutter get && dart analyze -- client/trailbase-dart examples/blog/flutter'
  language: system
  pass_filenames: false

dart_test:
  name: Dart test
  entry: sh -c 'cd client/trailbase-dart && dart pub get && dart test'
  language: system
  pass_filenames: false

dotnet_format:
  name: Dotnet format
  entry: sh -c 'dotnet format client/trailbase-dotnet/src --verify-no-changes && dotnet format client/trailbase-dotnet/test --verify-no-changes'
  language: system
  pass_filenames: false

dotnet_test:
  name: Dotnet test
  entry: dotnet test client/trailbase-dotnet/test
  language: system
  pass_filenames: false

python_format:
  name: Python format
  entry: poetry -C client/trailbase-py run black --config pyproject.toml --check .
  language: system
  pass_filenames: false

python_check:
  name: Python check
  entry: poetry -C client/trailbase-py run pyright --outputjson
  language: system
  pass_filenames: false

python_test:
  name: Python test
  entry: poetry -C client/trailbase-py run pytest
  language: system
  pass_filenames: false

swift_format:
  name: Swift format
  entry: swift format -r --in-place client/trailbase-swift/**/*.swift
  language: system
  pass_filenames: false

swift_test:
  name: Swift test
  entry: swift test --package-path client/trailbase-swift
  language: system
  pass_filenames: false

WIP
  crates/core/proto/config.proto
  crates/core/src/auth/oauth/providers/apple.rs
  crates/core/src/auth/oauth/providers/mod.rs
Due: cargofmt, cargoclippy, cargotest

Update Rust dependencies.
  Cargo.lock
Due: none

Update JS runtime.
  Cargo.lock
  crates/js-runtime/Cargo.toml
  crates/js-runtime/src/import_provider.rs
Due: cargofmt, cargoclippy, cargotest

WIP: sqlite transactions from WASM.
  crates/wasm-runtime-common/src/lib.rs
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime/src/sqlite.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
Due: cargofmt, cargoclippy, cargotest

Have wasm init return a metadata struct.
  crates/core/src/app_state.rs
  crates/core/src/lib.rs
  crates/core/src/wasm/mod.rs
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
  crates/wasm-runtime/wit/trailbase.wit
  tests/rust-wasm-guest/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

WIP: More wiring.
  Cargo.lock
  crates/core/src/app_state.rs
  crates/core/src/wasm/mod.rs
  crates/wasm-runtime/Cargo.toml
  crates/wasm-runtime/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

WIP: Turn init metadata into runtime callbacks.
  crates/core/src/wasm/mod.rs
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
  crates/wasm-runtime/wit/trailbase.wit
  tests/rust-wasm-guest/Makefile
Due: cargofmt, cargoclippy, cargotest

MvP multi-threaded WASI runtime.
  Cargo.lock
  Cargo.toml
  crates/wasm-runtime/Cargo.toml
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
  tests/rust-wasm-guest/Cargo.lock
  tests/rust-wasm-guest/Cargo.toml
  tests/rust-wasm-guest/Makefile
  tests/rust-wasm-guest/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

PoC: call sqlite from WASM.
  Cargo.lock
  Cargo.toml
  crates/wasm-runtime-common/Cargo.toml
  crates/wasm-runtime-common/src/lib.rs
  crates/wasm-runtime-guest/Cargo.toml
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime/Cargo.toml
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
  tests/rust-wasm-guest/Cargo.toml
  tests/rust-wasm-guest/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

WIP: add sqlite execute to wasm runtime.
  Cargo.lock
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime/Cargo.toml
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/src/sqlite.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
Due: cargofmt, cargoclippy, cargotest

WIP: Pass sqlite DB into WASM runtime.
  Cargo.lock
  crates/wasm-runtime/Cargo.toml
  crates/wasm-runtime/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Wrap isolate_id.
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

Update Rust dependencies.
  Cargo.lock
  crates/wasm-runtime-guest/Cargo.toml
Due: none

Wire up http routes from wasm.
  crates/core/src/app_state.rs
  crates/core/src/server/mod.rs
  crates/core/src/wasm/mod.rs
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
  tests/rust-wasm-guest/Makefile
  tests/rust-wasm-guest/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Use host interface rather than http for thread id interface.
  crates/core/src/wasm/mod.rs
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
  crates/wasm-runtime/wit/trailbase.wit
  tests/rust-wasm-guest/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Hook up the PoC transaction API.
  crates/core/proto/config.proto
  crates/core/src/records/mod.rs
  crates/core/src/records/record_api.rs
  crates/core/src/records/transaction.rs
  crates/core/src/server/mod.rs
Due: cargofmt, cargoclippy, cargotest

PoC: transaction endpoint for creating, updating and deleting records in batch. #124
  crates/core/src/records/create_record.rs
  crates/core/src/records/mod.rs
  crates/core/src/records/record_api.rs
  crates/core/src/records/transaction.rs
  crates/sqlite/src/connection.rs
Due: cargofmt, cargoclippy, cargotest

Change transaction endpoint to /api/transaction/v1/execute.
  crates/core/src/constants.rs
  crates/core/src/records/mod.rs
  crates/core/src/records/transaction.rs
Due: cargofmt, cargoclippy, cargotest

Add an experomental transaction endpoint `/api/transaction/v1/execute` for creating, updating and deleting records in batch. #124
  crates/core/proto/config.proto
  crates/core/src/constants.rs
  crates/core/src/records/create_record.rs
  crates/core/src/records/mod.rs
  crates/core/src/records/record_api.rs
  crates/core/src/records/transaction.rs
  crates/core/src/server/mod.rs
  crates/sqlite/src/connection.rs
Due: cargofmt, cargoclippy, cargotest

Add an experimental `/api/transaction/v1/execute` endpoint for mutating (create, update and delete) records across multiple APIs in a single transaction. #124
  crates/core/proto/config.proto
  crates/core/src/constants.rs
  crates/core/src/records/create_record.rs
  crates/core/src/records/mod.rs
  crates/core/src/records/record_api.rs
  crates/core/src/records/transaction.rs
  crates/core/src/server/mod.rs
  crates/sqlite/src/connection.rs
Due: cargofmt, cargoclippy, cargotest

Prepare new release v0.16.5.
  .pre-commit-config.yaml
  CHANGELOG.md
Due: prettier

Update Rust and JS dependencies.
  Cargo.lock
  crates/assets/js/admin/package.json
  crates/assets/js/auth/package.json
  crates/assets/js/client/package.json
  crates/js-runtime/assets/runtime/package.json
  docs/examples/record_api_ts/package.json
  docs/package.json
  examples/blog/web/package.json
  examples/coffee-vector-search/package.json
  examples/collab-clicker-ssr/package.json
  examples/data-cli-tutorial/package.json
  examples/tanstack-db-sync/package.json
  pnpm-lock.yaml
Due: none

Fix a update operation `lazy_params`
  crates/core/src/records/transaction.rs
Due: cargofmt, cargoclippy, cargotest

Minor: fix the format.
  crates/core/src/records/transaction.rs
Due: cargofmt, cargoclippy, cargotest

Fix CompareOp Regex
  client/go/trailbase/record_api.go
Due: none

fix: respond to subscribe stat
  crates/core/src/records/subscribe.rs
Due: cargofmt, cargoclippy, cargotest

Emit an initial stream start comment event to notify frontend
  crates/core/src/records/subscribe.rs
Due: cargofmt, cargoclippy, cargotest

Respond to new subscriptions right away with a comment event to establish connection. #137
  crates/core/src/records/subscribe.rs
Due: cargofmt, cargoclippy, cargotest

Back-port tb-sqlite improvements: support for ArcLock, improve connectoin setup, and remove no longer needed add_preupdate_hook.
  Cargo.lock
  Cargo.toml
  crates/client/Cargo.toml
  crates/core/Cargo.toml
  crates/extension/Cargo.toml
  crates/js-runtime/Cargo.toml
  crates/schema/Cargo.toml
  crates/sqlite/Cargo.toml
  crates/sqlite/src/connection.rs
  crates/sqlite/src/rows.rs
  crates/sqlite/src/tests.rs
Due: cargofmt, cargoclippy, cargotest

Simplify the acquisition of transaction locks in JS runtime.
  crates/js-runtime/src/runtime.rs
  crates/sqlite/src/connection.rs
Due: cargofmt, cargoclippy, cargotest

cleanup: remove unused apalis crate. We can always bring it back when needed.
  Cargo.lock
  Cargo.toml
  crates/apalis/Cargo.toml
  crates/apalis/migrations/V1__initial.sql
  crates/apalis/src/context.rs
  crates/apalis/src/from_row.rs
  crates/apalis/src/lib.rs
  crates/apalis/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

Update Rust dependencies.
  Cargo.lock
  crates/core/Cargo.toml
  crates/extension/Cargo.toml
  crates/schema/Cargo.toml
Due: none

Prepare new release v0.16.6.
  CHANGELOG.md
Due: prettier

Remove SWC spam suppression - newer versions are no longer affected.
  crates/cli/src/bin/trail.rs
  crates/core/src/app_state.rs
  crates/js-runtime/src/runtime.rs
Due: cargofmt, cargoclippy, cargotest

Path conditions:
  cargofmt: any of: \.rs$ and not (^vendor/) and not ((trailbase-core/bindings|bindings)/.*)
  cargoclippy: any of: \.rs$ and not (^vendor/) and not ((trailbase-core/bindings|bindings)/.*)
  cargotest: any of: \.rs$ and not (^(vendor|bindings)/) and not ((trailbase-core/bindings|bindings)/.*)
  prettier: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro|md|mdx)$, but not: (trailbase-core/bindings|bindings)/.*
  typescript_check: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro|mdx)$, but not: (trailbase-core/bindings|bindings)/.*
  javascript_test: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro)$, but not: (trailbase-core/bindings|bindings)/.*
  build_website: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro)$, but not: (trailbase-core/bindings|bindings)/.*
  dart_format: any of: .*\.dart$, but not: (trailbase-core/bindings|bindings)/.*
  dart_analyze: any of: .*\.dart$, but not: (trailbase-core/bindings|bindings)/.*
  dart_test: any of: .*\.dart$, but not: (trailbase-core/bindings|bindings)/.*
  dotnet_format: any of: .*\.(cs|csproj)$, but not: (trailbase-core/bindings|bindings)/.*
  dotnet_test: any of: .*\.(cs|csproj)$, but not: (trailbase-core/bindings|bindings)/.*
  python_format: any of: .*\.(py)$, but not: (trailbase-core/bindings|bindings)/.*
  python_check: any of: .*\.(py)$, but not: (trailbase-core/bindings|bindings)/.*
  python_test: any of: .*\.(py)$, but not: (trailbase-core/bindings|bindings)/.*
  swift_format: any of: .*\.(swift)$, but not: (trailbase-core/bindings|bindings)/.*
  swift_test: any of: .*\.(swift)$, but not: (trailbase-core/bindings|bindings)/.*
