Repository trailbaseio/trailbase: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website, dart_format, dart_analyze, dart_test, dotnet_format, dotnet_test, python_format, python_check, python_test, swift_format, swift_test

Path conditions:
  cargofmt: any of: \.rs$ and not (^vendor/) and not ((trailbase-core/bindings|bindings)/.*)
  cargoclippy: any of: \.rs$ and not (^vendor/) and not ((trailbase-core/bindings|bindings)/.*)
  cargotest: any of: \.rs$ and not (^(vendor|bindings)/) and not ((trailbase-core/bindings|bindings)/.*)
  prettier: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro|md|mdx)$, but not: (trailbase-core/bindings|bindings)/.*
  typescript_check: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro|mdx)$, but not: (trailbase-core/bindings|bindings)/.*
  javascript_test: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro)$, but not: (trailbase-core/bindings|bindings)/.*
  build_website: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro)$, but not: (trailbase-core/bindings|bindings)/.*
  dart_format: any of: .*\.dart$, but not: (trailbase-core/bindings|bindings)/.*
  dart_analyze: any of: .*\.dart$, but not: (trailbase-core/bindings|bindings)/.*
  dart_test: any of: .*\.dart$, but not: (trailbase-core/bindings|bindings)/.*
  dotnet_format: any of: .*\.(cs|csproj)$, but not: (trailbase-core/bindings|bindings)/.*
  dotnet_test: any of: .*\.(cs|csproj)$, but not: (trailbase-core/bindings|bindings)/.*
  python_format: any of: .*\.(py)$, but not: (trailbase-core/bindings|bindings)/.*
  python_check: any of: .*\.(py)$, but not: (trailbase-core/bindings|bindings)/.*
  python_test: any of: .*\.(py)$, but not: (trailbase-core/bindings|bindings)/.*
  swift_format: any of: .*\.(swift)$, but not: (trailbase-core/bindings|bindings)/.*
  swift_test: any of: .*\.(swift)$, but not: (trailbase-core/bindings|bindings)/.*

Update Rust dependencies.
  Cargo.lock
Due: none

Prepare new release v0.14.7.
  CHANGELOG.md
Due: prettier

Add $null and $some filter operators. #76
  docs/src/content/docs/documentation/APIs/record_apis.mdx
  trailbase-core/src/records/list_records.rs
  trailbase-qs/src/column_rel_value.rs
  trailbase-qs/src/filter.rs
  trailbase-qs/src/value.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check

Minor: Make model & relations diagram work for docs in dark-mode.
  CHANGELOG.md
  docs/src/content/docs/documentation/_relations.svg
Due: prettier

Major update Rust dependencies including rusqlite.
  Cargo.lock
  Cargo.toml
  trailbase-sqlite/Cargo.toml
Due: none

Fix getting started instructions binding only localhost:4000 within a container. #77
  docs/src/content/docs/getting-started/_getting_trailbase.md
Due: prettier

Minor: fix docs typo.
  docs/src/content/docs/comparison/pocketbase.mdx
Due: prettier, typescript_check

Fix docker portmapping in getting-started guide - thank @eugenefil. #77
  README.md
  docs/src/content/docs/getting-started/_getting_trailbase.md
  docs/src/content/docs/getting-started/starting-up.mdx
Due: prettier, typescript_check

Fix EmptyHost error on fresh traildepot. #79
  trailbase-core/src/app_state.rs
  trailbase-core/src/auth/oauth/oauth_test.rs
  trailbase-core/src/config.rs
Due: cargofmt, cargoclippy, cargotest

Push responsibility of handling missing `site_url` down the stack to its consumers. #79
  Cargo.lock
  trailbase-assets/js/client/tests/constants.ts
  trailbase-assets/js/client/tests/integration/auth_integration.test.ts
  trailbase-assets/js/client/tests/integration_test_runner.ts
  trailbase-cli/Cargo.toml
  trailbase-cli/src/args.rs
  trailbase-cli/src/bin/trail.rs
  trailbase-core/src/app_state.rs
  trailbase-core/src/auth/oauth/oauth_test.rs
  trailbase-core/src/auth/oauth/provider.rs
  trailbase-core/src/config.rs
  trailbase-core/src/email.rs
  trailbase-core/src/server/init.rs
  trailbase-core/src/server/mod.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Change query filter syntax from `[col][$null]` and `[col][$some]` to `[col][$is]=NULL` and `[col][$is]=!NULL`, respectively. #76
  docs/src/content/docs/documentation/APIs/record_apis.mdx
  trailbase-core/src/records/list_records.rs
  trailbase-qs/src/column_rel_value.rs
  trailbase-qs/src/filter.rs
  trailbase-qs/src/value.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check

Prepare new release v0.14.8.
  CHANGELOG.md
Due: prettier

Reduce spamminess of logs on "info" level. #82
  trailbase-core/src/migrations.rs
  trailbase-core/src/scheduler.rs
Due: cargofmt, cargoclippy, cargotest

Extend CLI's user/admin capabilities and disallow change/delete operations on admins from UI. #83
  trailbase-assets/js/bindings/UpdateUserRequest.ts
  trailbase-cli/src/args.rs
  trailbase-cli/src/bin/trail.rs
  trailbase-core/src/admin/user/delete_user.rs
  trailbase-core/src/admin/user/mod.rs
  trailbase-core/src/admin/user/update_user.rs
  trailbase-core/src/auth/api/delete.rs
  trailbase-core/src/auth/api/login.rs
  trailbase-core/src/auth/api/logout.rs
  trailbase-core/src/auth/api/reset_password.rs
  trailbase-core/src/auth/api/token.rs
  trailbase-core/src/auth/cli.rs
  trailbase-core/src/auth/error.rs
  trailbase-core/src/auth/mod.rs
  trailbase-core/src/auth/oauth/callback.rs
  trailbase-core/src/auth/tokens.rs
  trailbase-core/src/auth/user.rs
  trailbase-core/src/auth/util.rs
  trailbase-core/src/lib.rs
  trailbase-core/src/server/mod.rs
Due: cargofmt, cargoclippy, cargotest

Do not render account edit buttons in admin UI for admin users. #83
  trailbase-assets/js/admin/src/components/accounts/AccountsPage.tsx
Due: prettier, typescript_check, javascript_test, build_website

Add install.sh script generated with github.com/installer/instll.
  install.sh
Due: none

Overhaul getting started guide: steer folks more towards an install rather than docker.
  docs/astro.config.mjs
  docs/src/content/docs/comparison/pocketbase.mdx
  docs/src/content/docs/comparison/supabase.mdx
  docs/src/content/docs/documentation/APIs/record_apis.mdx
  docs/src/content/docs/documentation/auth.mdx
  docs/src/content/docs/documentation/extending.mdx
  docs/src/content/docs/documentation/models_and_relations.mdx
  docs/src/content/docs/documentation/type_safety.mdx
  docs/src/content/docs/getting-started/_getting_trailbase.md
  docs/src/content/docs/getting-started/_getting_trailbase.mdx
  docs/src/content/docs/getting-started/_install_oneliners.mdx
  docs/src/content/docs/getting-started/first-cli-app.mdx
  docs/src/content/docs/getting-started/first-realtime-app.mdx
  docs/src/content/docs/getting-started/first-ui-app.mdx
  docs/src/content/docs/getting-started/goals.mdx
  docs/src/content/docs/getting-started/install.mdx
  docs/src/content/docs/getting-started/starting-up.mdx
  docs/src/content/docs/index.mdx
  docs/src/content/docs/reference/benchmarks.mdx
  docs/src/content/docs/reference/faq.mdx
Due: prettier, typescript_check, javascript_test, build_website

Update docker-compose.yml and move it to the root to make it more discoverable.
  deploy/docker-compose.yml
  docker-compose.yml
Due: none

Fix edge case, when `[$is]` is the only filter. #84
  trailbase-core/src/listing.rs
  trailbase-core/src/records/list_records.rs
Due: cargofmt, cargoclippy, cargotest

Prepare new release v0.15.0.
  CHANGELOG.md
Due: prettier

Update install instructions in README.md.
  README.md
  docs/src/content/docs/getting-started/install.mdx
Due: prettier, typescript_check

Align Tooltips in logs table and copy user/logs ids to clipboard on click.
  trailbase-assets/js/admin/src/components/accounts/AccountsPage.tsx
  trailbase-assets/js/admin/src/components/logs/LogsPage.tsx
Due: prettier, typescript_check, javascript_test, build_website

Update preliminary tanstack-db integration and JS dependencies.
  docs/examples/record_api_ts/package.json
  docs/package.json
  examples/blog/web/package.json
  examples/coffee-vector-search/package.json
  examples/collab-clicker-ssr/package.json
  examples/data-cli-tutorial/package.json
  examples/local-first/package.json
  examples/local-first/src/App.tsx
  examples/local-first/src/lib/trailbase.ts
  pnpm-lock.yaml
  trailbase-assets/js/admin/package.json
  trailbase-assets/js/auth/package.json
  trailbase-assets/js/client/package.json
  trailbase-js/assets/runtime/package.json
Due: prettier, typescript_check, javascript_test, build_website

Early pass at improving auth documentation. #86
  docs/astro.config.mjs
  docs/src/content/docs/documentation/_record_apis.ts
  docs/src/content/docs/documentation/auth.mdx
  docs/src/content/docs/documentation/extending.mdx
  docs/src/content/docs/documentation/js_apis.mdx
  docs/src/content/docs/documentation/record_apis.mdx
  docs/src/content/docs/documentation/type_safety.mdx
Due: prettier, typescript_check, javascript_test, build_website

Fix stale documentation links after updating getting-stared guide. #87
  docs/astro.config.mjs
  docs/src/components/Footer.astro
  trailbase-assets/js/admin/src/components/IndexPage.tsx
Due: prettier, typescript_check, javascript_test, build_website

Add a callout to SQL editor talking about schema skew. #89
  trailbase-assets/js/admin/src/components/editor/EditorPage.tsx
  trailbase-assets/js/admin/src/components/ui/callout.tsx
Due: prettier, typescript_check, javascript_test, build_website

Re-apply migrations on SIGHUP. #88
  client/testfixture/secrets/secrets.textproto
  trailbase-core/src/migrations.rs
  trailbase-core/src/server/mod.rs
Due: cargofmt, cargoclippy, cargotest

Prepare new release v0.15.1.
  CHANGELOG.md
  trailbase-assets/js/admin/src/components/editor/EditorPage.tsx
Due: prettier, typescript_check, javascript_test, build_website

Fix vertical scrolling in split view on small screens. #90
  trailbase-assets/js/admin/src/components/SplitView.tsx
Due: prettier, typescript_check, javascript_test, build_website

Prepare new release v0.15.2.
  CHANGELOG.md
Due: prettier

Minor: tweak docs order and minor smithing.
  docs/astro.config.mjs
  docs/src/content/docs/documentation/auth.mdx
  docs/src/content/docs/documentation/extending.mdx
Due: prettier, typescript_check, javascript_test, build_website

Fix: put Send Email Verification button inside form
  trailbase-assets/js/auth/src/pages/change_email.astro
Due: prettier, typescript_check, javascript_test, build_website

Update v0.15.2.
  CHANGELOG.md
Due: prettier

Update record API docs: UI now supports multiple APIs and add `VIEW` section.
  docs/src/content/docs/documentation/record_apis.mdx
Due: prettier, typescript_check

Call out PKCE in auth docs.
  docs/src/content/docs/documentation/auth.mdx
  examples/blog/traildepot/config.textproto
  examples/blog/traildepot/secrets/secrets.textproto
Due: prettier, typescript_check

fix typo
  README.md
  docs/src/content/docs/getting-started/_install_oneliners.mdx
Due: prettier, typescript_check

Update README.md
  README.md
Due: prettier
