Repository trailbaseio/trailbase: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website, dart_format, dart_analyze, dart_test, dotnet_format, dotnet_test, python_format, python_check, python_test, swift_format, swift_test

Path conditions:
  cargofmt: any of: \.rs$ and not (^vendor/) and not ((trailbase-core/bindings|bindings)/.*)
  cargoclippy: any of: \.rs$ and not (^vendor/) and not ((trailbase-core/bindings|bindings)/.*)
  cargotest: any of: \.rs$ and not (^(vendor|bindings)/) and not ((trailbase-core/bindings|bindings)/.*)
  prettier: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro|md|mdx)$, but not: (trailbase-core/bindings|bindings)/.*
  typescript_check: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro|mdx)$, but not: (trailbase-core/bindings|bindings)/.*
  javascript_test: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro)$, but not: (trailbase-core/bindings|bindings)/.*
  build_website: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro)$, but not: (trailbase-core/bindings|bindings)/.*
  dart_format: any of: .*\.dart$, but not: (trailbase-core/bindings|bindings)/.*
  dart_analyze: any of: .*\.dart$, but not: (trailbase-core/bindings|bindings)/.*
  dart_test: any of: .*\.dart$, but not: (trailbase-core/bindings|bindings)/.*
  dotnet_format: any of: .*\.(cs|csproj)$, but not: (trailbase-core/bindings|bindings)/.*
  dotnet_test: any of: .*\.(cs|csproj)$, but not: (trailbase-core/bindings|bindings)/.*
  python_format: any of: .*\.(py)$, but not: (trailbase-core/bindings|bindings)/.*
  python_check: any of: .*\.(py)$, but not: (trailbase-core/bindings|bindings)/.*
  python_test: any of: .*\.(py)$, but not: (trailbase-core/bindings|bindings)/.*
  swift_format: any of: .*\.(swift)$, but not: (trailbase-core/bindings|bindings)/.*
  swift_test: any of: .*\.(swift)$, but not: (trailbase-core/bindings|bindings)/.*

Minor: add a `limit=5` query parameter to example curl queries.
  trailbase-assets/js/admin/src/components/tables/RecordApiSettings.tsx
Due: prettier, typescript_check, javascript_test, build_website

Prepare new release v0.14.3.
  CHANGELOG.md
Due: prettier

Add a test for listing records from VIEWs.
  trailbase-core/src/records/list_records.rs
Due: cargofmt, cargoclippy, cargotest

Improve OpenAPI documentation.
  docs/openapi/schema.json
  trailbase-core/src/auth/api/avatar.rs
  trailbase-core/src/auth/api/change_email.rs
  trailbase-core/src/auth/api/change_password.rs
  trailbase-core/src/auth/api/delete.rs
  trailbase-core/src/auth/api/login.rs
  trailbase-core/src/auth/api/logout.rs
  trailbase-core/src/auth/api/refresh.rs
  trailbase-core/src/auth/api/register.rs
  trailbase-core/src/auth/api/reset_password.rs
  trailbase-core/src/auth/api/token.rs
  trailbase-core/src/auth/api/verify_email.rs
  trailbase-core/src/auth/mod.rs
  trailbase-core/src/auth/oauth/callback.rs
  trailbase-core/src/auth/oauth/list_providers.rs
  trailbase-core/src/auth/oauth/login.rs
  trailbase-core/src/auth/oauth/mod.rs
  trailbase-core/src/auth/oauth/oauth_test.rs
  trailbase-core/src/lib.rs
  trailbase-core/src/records/create_record.rs
  trailbase-core/src/records/delete_record.rs
  trailbase-core/src/records/json_schema.rs
  trailbase-core/src/records/list_records.rs
  trailbase-core/src/records/mod.rs
  trailbase-core/src/records/read_record.rs
  trailbase-core/src/records/subscribe.rs
  trailbase-core/src/records/update_record.rs
Due: cargofmt, cargoclippy, cargotest

Update Rust & JS deps.
  Cargo.lock
  docs/examples/record_api_ts/package.json
  docs/package.json
  examples/blog/web/package.json
  examples/coffee-vector-search/package.json
  examples/collab-clicker-ssr/package.json
  examples/data-cli-tutorial/package.json
  pnpm-lock.yaml
  trailbase-assets/js/admin/package.json
  trailbase-assets/js/auth/package.json
  trailbase-assets/js/client/package.json
  trailbase-core/Cargo.toml
  trailbase-js/assets/runtime/package.json
  trailbase-schema/Cargo.toml
Due: none

WIP: minor
  trailbase-assets/js/admin/src/lib/fetch.ts
  trailbase-core/src/server/mod.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Minor: wire up alert box and fix logout.
  trailbase-assets/js/admin/src/components/auth/AuthButton.tsx
  trailbase-assets/js/auth/src/components/AlertBox.astro
  trailbase-assets/js/auth/src/components/Form.astro
  trailbase-core/src/server/mod.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Try replace admin login with main auth UI.
  trailbase-assets/js/admin/src/components/auth/AuthButton.tsx
  trailbase-assets/js/admin/src/lib/fetch.ts
  trailbase-core/src/auth/api/login.rs
  trailbase-core/src/auth/mod.rs
  trailbase-core/src/auth/ui/mod.rs
  trailbase-core/src/server/mod.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

PoC @tanstack/db local-first example using record subscriptions.
  examples/local-first/.gitignore
  examples/local-first/.prettierrc
  examples/local-first/README.md
  examples/local-first/eslint.config.js
  examples/local-first/index.html
  examples/local-first/package.json
  examples/local-first/src/App.css
  examples/local-first/src/App.tsx
  examples/local-first/src/index.css
  examples/local-first/src/lib/trailbase.ts
  examples/local-first/src/main.tsx
  examples/local-first/src/vite-env.d.ts
  examples/local-first/traildepot/.gitignore
  examples/local-first/traildepot/config.textproto
  examples/local-first/traildepot/migrations/U1725019360__create_admin_user.sql
  examples/local-first/traildepot/migrations/U1737638313__create_table_data.sql
  examples/local-first/tsconfig.json
  examples/local-first/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier, typescript_check, javascript_test, build_website

Local-first: move more responsibility into the TS/db-TB integration.
  examples/local-first/src/App.tsx
  examples/local-first/src/lib/trailbase.ts
Due: prettier, typescript_check, javascript_test, build_website

Implement "await" logic consistent with electric's integration and also implement update & delete.
  examples/local-first/src/lib/trailbase.ts
Due: prettier, typescript_check, javascript_test, build_website

Fix multi-row selection state issue when (de)selecting all rows for deletion.
  trailbase-assets/js/admin/src/components/Table.tsx
  trailbase-assets/js/admin/src/components/tables/TablePane.tsx
Due: prettier, typescript_check, javascript_test, build_website

Update Rust and JS dependencies.
  Cargo.lock
  docs/examples/record_api_ts/package.json
  docs/package.json
  examples/blog/web/package.json
  examples/coffee-vector-search/package.json
  examples/collab-clicker-ssr/package.json
  examples/data-cli-tutorial/package.json
  examples/local-first/package.json
  pnpm-lock.yaml
  trailbase-assets/js/admin/package.json
  trailbase-assets/js/auth/package.json
  trailbase-assets/js/client/package.json
  trailbase-js/assets/runtime/package.json
Due: none

Prepare new release v0.14.4.
  CHANGELOG.md
Due: prettier

Update tanstack/db deps.
  examples/local-first/package.json
  examples/local-first/src/App.tsx
  pnpm-lock.yaml
Due: prettier, typescript_check, javascript_test, build_website

Fix: `?redirect_to=` propagation for password-based login.
  trailbase-assets/js/auth/src/pages/login.astro
  trailbase-assets/src/auth.rs
  trailbase-core/src/auth/ui/mod.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Prepare new release v0.14.5.
  CHANGELOG.md
Due: prettier

Minor: error handling on profile page on delete user.
  trailbase-assets/js/auth/src/components/Profile.tsx
Due: prettier, typescript_check, javascript_test, build_website

Update deps and denormalize axum_extra::protobuf dep.
  Cargo.lock
  trailbase-build/Cargo.toml
  trailbase-core/Cargo.toml
  trailbase-core/src/admin/config/get_config.rs
  trailbase-core/src/admin/config/update_config.rs
  trailbase-core/src/extract/mod.rs
  trailbase-core/src/extract/protobuf.rs
Due: cargofmt, cargoclippy, cargotest

WIP: fix redirect_to, fix redirect on wrong login, reload on missing user.
  trailbase-assets/js/admin/src/App.tsx
  trailbase-assets/js/admin/src/components/auth/AuthButton.tsx
  trailbase-assets/js/auth/src/pages/login.astro
  trailbase-assets/src/auth.rs
  trailbase-core/src/auth/api/login.rs
  trailbase-core/src/auth/ui/mod.rs
  trailbase-core/src/server/mod.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Disable password reset.
  trailbase-assets/js/auth/src/pages/login.astro
Due: prettier, typescript_check, javascript_test, build_website

Remove unused LoginPage.
  trailbase-assets/js/admin/src/components/auth/LoginPage.tsx
Due: prettier, typescript_check, javascript_test, build_website

Forward search params to oauth login.
  trailbase-assets/js/auth/src/components/ListOauthProviders.tsx
Due: prettier, typescript_check, javascript_test, build_website

Render login-page OAuth options on the server reducing the need for JS.
  trailbase-assets/js/auth/src/components/ListOauthProviders.tsx
  trailbase-assets/js/auth/src/pages/login.astro
  trailbase-assets/src/auth.rs
  trailbase-core/src/auth/oauth/list_providers.rs
  trailbase-core/src/auth/oauth/oauth_test.rs
  trailbase-core/src/auth/options.rs
  trailbase-core/src/auth/ui/mod.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Prepare new release v0.14.6.
  CHANGELOG.md
Due: prettier

Update Rust deps and address linter issues of new Rust 1.88.0.
  Cargo.lock
  trailbase-core/Cargo.toml
  trailbase-core/src/email.rs
  trailbase-core/src/logging.rs
  trailbase-core/src/transaction.rs
  trailbase-core/tests/tls_test.rs
  trailbase-refinery/src/runner.rs
  trailbase-refinery/src/traits/async.rs
  trailbase-refinery/src/traits/mod.rs
  trailbase-refinery/src/traits/sync.rs
  trailbase-refinery/src/util.rs
  trailbase-sqlite/src/connection.rs
Due: cargofmt, cargoclippy, cargotest

Make JS/TS client more testable and move generic parameter from individual methods to RecordApi.
  docs/examples/record_api_ts/src/create.ts
  docs/examples/record_api_ts/src/delete.ts
  docs/examples/record_api_ts/src/list.ts
  docs/examples/record_api_ts/src/read.ts
  docs/examples/record_api_ts/src/subscribe.ts
  docs/examples/record_api_ts/src/update.ts
  docs/examples/record_api_ts/tests/basic.test.ts
  examples/blog/web/src/components/ArticleList.tsx
  examples/blog/web/src/components/ArticlePage.tsx
  examples/blog/web/src/lib/client.ts
  examples/blog/web/src/lib/profile.ts
  examples/collab-clicker-ssr/src/App.tsx
  examples/data-cli-tutorial/src/fill.ts
  examples/data-cli-tutorial/src/index.ts
  examples/local-first/src/App.tsx
  examples/local-first/src/lib/trailbase.ts
  trailbase-assets/js/admin/src/lib/fetch.ts
  trailbase-assets/js/auth/src/components/Profile.tsx
  trailbase-assets/js/auth/src/lib/client.ts
  trailbase-assets/js/auth/src/pages/login.astro
  trailbase-assets/js/client/package.json
  trailbase-assets/js/client/src/index.ts
  trailbase-assets/js/client/tests/integration/client_integration.test.ts
Due: prettier, typescript_check, javascript_test, build_website

Export filter types for TS/JS client.
  trailbase-assets/js/client/package.json
  trailbase-assets/js/client/src/index.ts
Due: prettier, typescript_check, javascript_test, build_website

Update tanstack-db TB integation to match upstream PR.
  examples/local-first/src/App.tsx
  examples/local-first/src/lib/trailbase.ts
Due: prettier, typescript_check, javascript_test, build_website

Minor brush-up of "add index form" in admin UI.
  trailbase-assets/js/admin/src/components/tables/CreateAlterIndex.tsx
Due: prettier, typescript_check, javascript_test, build_website

Minor record api form style tweaks.
  trailbase-assets/js/admin/src/components/tables/RecordApiSettings.tsx
Due: prettier, typescript_check, javascript_test, build_website

Update client-ip extractor.
  Cargo.lock
  trailbase-core/Cargo.toml
  trailbase-core/src/logging.rs
Due: cargofmt, cargoclippy, cargotest

Update JS deps.
  docs/examples/record_api_ts/package.json
  docs/package.json
  examples/blog/web/package.json
  examples/coffee-vector-search/package.json
  examples/collab-clicker-ssr/package.json
  examples/data-cli-tutorial/package.json
  examples/local-first/package.json
  examples/local-first/traildepot/trailbase.js
  pnpm-lock.yaml
  trailbase-assets/js/admin/package.json
  trailbase-assets/js/auth/package.json
  trailbase-assets/js/client/package.json
  trailbase-js/assets/runtime/package.json
Due: prettier, typescript_check, javascript_test, build_website

Prepare multi API UI and fix editor rename dialog styling.
  trailbase-assets/js/admin/src/components/editor/EditorPage.tsx
  trailbase-assets/js/admin/src/components/tables/RecordApiSettings.tsx
Due: prettier, typescript_check, javascript_test, build_website

Push hard list limit to 1024 to match documentation.
  docs/src/content/docs/documentation/APIs/record_apis.mdx
  trailbase-core/src/listing.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check

Allow setting a per-API hard limit for listing records. #75
  trailbase-core/proto/config.proto
  trailbase-core/src/admin/list_logs.rs
  trailbase-core/src/admin/rows/list_rows.rs
  trailbase-core/src/admin/user/list_users.rs
  trailbase-core/src/listing.rs
  trailbase-core/src/records/list_records.rs
  trailbase-core/src/records/record_api.rs
  trailbase-core/src/records/test_utils.rs
Due: cargofmt, cargoclippy, cargotest

Allow creating multiple APIs per `TABLE`/`VIEW` from admin UI.
  trailbase-assets/js/admin/src/components/tables/RecordApiSettings.tsx
Due: prettier, typescript_check, javascript_test, build_website
