Repository trailbaseio/trailbase: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website, dart_format, dart_analyze, dart_test, dotnet_format, dotnet_test, python_format, python_check, python_test, swift_format, swift_test

Path conditions:
  cargofmt: any of: \.rs$ and not (^vendor/) and not ((trailbase-core/bindings|bindings)/.*)
  cargoclippy: any of: \.rs$ and not (^vendor/) and not ((trailbase-core/bindings|bindings)/.*)
  cargotest: any of: \.rs$ and not (^(vendor|bindings)/) and not ((trailbase-core/bindings|bindings)/.*)
  prettier: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro|md|mdx)$, but not: (trailbase-core/bindings|bindings)/.*
  typescript_check: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro|mdx)$, but not: (trailbase-core/bindings|bindings)/.*
  javascript_test: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro)$, but not: (trailbase-core/bindings|bindings)/.*
  build_website: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro)$, but not: (trailbase-core/bindings|bindings)/.*
  dart_format: any of: .*\.dart$, but not: (trailbase-core/bindings|bindings)/.*
  dart_analyze: any of: .*\.dart$, but not: (trailbase-core/bindings|bindings)/.*
  dart_test: any of: .*\.dart$, but not: (trailbase-core/bindings|bindings)/.*
  dotnet_format: any of: .*\.(cs|csproj)$, but not: (trailbase-core/bindings|bindings)/.*
  dotnet_test: any of: .*\.(cs|csproj)$, but not: (trailbase-core/bindings|bindings)/.*
  python_format: any of: .*\.(py)$, but not: (trailbase-core/bindings|bindings)/.*
  python_check: any of: .*\.(py)$, but not: (trailbase-core/bindings|bindings)/.*
  python_test: any of: .*\.(py)$, but not: (trailbase-core/bindings|bindings)/.*
  swift_format: any of: .*\.(swift)$, but not: (trailbase-core/bindings|bindings)/.*
  swift_test: any of: .*\.(swift)$, but not: (trailbase-core/bindings|bindings)/.*

Minor: fix card hierarchy on admin landing page.
  trailbase-assets/js/admin/src/components/IndexPage.tsx
Due: prettier, typescript_check, javascript_test, build_website

Prepare new release v0.15.10.
  CHANGELOG.md
Due: prettier

Update Rust depdendencies.
  Cargo.lock
  trailbase-core/Cargo.toml
  trailbase-extension/Cargo.toml
  trailbase-schema/Cargo.toml
Due: none

Add the ability to pass urlSafeBase64 strings to query/execute as `{ blob: <contents> }`.
  Cargo.lock
  client/testfixture/scripts/index.ts
  trailbase-assets/js/client/tests/integration/v8_integration.test.ts
  trailbase-js/Cargo.toml
  trailbase-js/src/runtime.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Make TS sql query/execute APIs more type-safe and consistently serialize/deserialize blobs as `{ blob: <urlSafeBase64(bytes)> }`.
  client/testfixture/scripts/index.ts
  trailbase-js/assets/runtime/src/index.ts
  trailbase-js/assets/runtime/src/trailbase.ts
  trailbase-js/src/runtime.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Update JS dependencies.
  docs/examples/record_api_ts/package.json
  docs/package.json
  examples/blog/web/package.json
  examples/coffee-vector-search/package.json
  examples/collab-clicker-ssr/package.json
  examples/data-cli-tutorial/package.json
  examples/local-first/package.json
  pnpm-lock.yaml
  trailbase-assets/js/admin/package.json
  trailbase-assets/js/auth/package.json
  trailbase-assets/js/client/package.json
  trailbase-js/assets/runtime/package.json
Due: none

Prepare new release v0.15.11.
  CHANGELOG.md
Due: prettier

Minor: remove misleading colon from password in README.md.
  README.md
Due: prettier

Update Rust dependencies.
  .rustfmt.toml
  Cargo.lock
Due: none

Consolidate all the SqliteValue <=> JSON conversion in one place and be more explicit about our two mappings "rich" and "flat" (for the lack of better names).
  Cargo.lock
  trailbase-core/src/admin/error.rs
  trailbase-core/src/admin/query.rs
  trailbase-core/src/admin/rows/delete_rows.rs
  trailbase-core/src/admin/rows/list_rows.rs
  trailbase-core/src/admin/rows/read_files.rs
  trailbase-core/src/admin/util.rs
  trailbase-core/src/records/list_records.rs
  trailbase-core/src/records/params.rs
  trailbase-core/src/records/read_record.rs
  trailbase-core/src/records/sql_to_json.rs
  trailbase-core/src/records/subscribe.rs
  trailbase-js/Cargo.toml
  trailbase-js/src/runtime.rs
  trailbase-schema/Cargo.toml
  trailbase-schema/src/json.rs
  trailbase-schema/src/lib.rs
  trailbase-sqlite/Cargo.toml
  trailbase-sqlite/src/rows.rs
Due: cargofmt, cargoclippy, cargotest

Parse string to value more leniantly. #116
  trailbase-schema/src/json.rs
  trailbase-schema/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

Be more strict for inputs from record API than strings from admin UI.
  trailbase-core/src/admin/rows/delete_rows.rs
  trailbase-core/src/admin/rows/insert_row.rs
  trailbase-core/src/admin/rows/read_files.rs
  trailbase-core/src/admin/rows/update_row.rs
  trailbase-core/src/records/params.rs
  trailbase-core/src/records/record_api.rs
  trailbase-schema/src/json.rs
Due: cargofmt, cargoclippy, cargotest

Parse primary key columns more leniantly to support a wider range of key types primarily for `VIEW`s.
  trailbase-core/src/records/delete_record.rs
  trailbase-core/src/records/read_record.rs
  trailbase-core/src/records/record_api.rs
  trailbase-core/src/records/subscribe.rs
  trailbase-core/src/records/update_record.rs
  trailbase-core/src/util.rs
  trailbase-schema/src/json.rs
Due: cargofmt, cargoclippy, cargotest

Workaround stale Record APIs after changing schemas. #117
  trailbase-assets/js/admin/src/components/tables/RecordApiSettings.tsx
  trailbase-core/src/admin/table/alter_table.rs
  trailbase-core/src/app_state.rs
  trailbase-core/src/value_notifier.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Fix parse nullable column constraint and clearing of Record API form dirty state. #117
  trailbase-assets/js/admin/src/components/tables/CreateAlterTable.tsx
  trailbase-assets/js/admin/src/components/tables/RecordApiSettings.tsx
  trailbase-assets/js/bindings/AlterTableRequest.ts
  trailbase-core/src/admin/table/alter_table.rs
  trailbase-core/src/schema_metadata.rs
  trailbase-schema/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Add "touch config" workaround to amdin query API as well until we improve reactive record API rebuilds on schema invalidations.
  trailbase-core/src/admin/query.rs
  trailbase-core/src/admin/table/alter_table.rs
Due: cargofmt, cargoclippy, cargotest

Minor: hide STRICT'ness in alter table form.
  trailbase-assets/js/admin/src/components/tables/CreateAlterTable.tsx
  trailbase-assets/js/bindings/AlterTableRequest.ts
  trailbase-core/src/admin/table/alter_table.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Prepare new release v0.15.12.
  CHANGELOG.md
Due: prettier

Allow admin schema alterations via list of operations rather than just a plain target-schema.
  trailbase-assets/js/admin/src/components/tables/CreateAlterTable.tsx
  trailbase-assets/js/bindings/AlterTableOperation.ts
  trailbase-assets/js/bindings/AlterTableRequest.ts
  trailbase-core/src/admin/table/alter_table.rs
  trailbase-schema/src/json.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Express schema alterations as a series of operations.
  trailbase-assets/js/admin/src/components/tables/CreateAlterColumnForm.tsx
  trailbase-assets/js/admin/src/components/tables/CreateAlterTable.tsx
Due: prettier, typescript_check, javascript_test, build_website

Remove `target_schema` from `AlterTableRequest`.
  trailbase-assets/js/admin/src/components/tables/CreateAlterTable.tsx
  trailbase-assets/js/bindings/AlterTableRequest.ts
  trailbase-core/src/admin/table/alter_table.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Fix invalid alter-column-operation when deleting a middle column.
  trailbase-assets/js/admin/src/components/tables/CreateAlterColumnForm.tsx
  trailbase-assets/js/admin/src/components/tables/CreateAlterTable.tsx
  trailbase-core/src/admin/rows/list_rows.rs
  trailbase-core/src/admin/table/alter_table.rs
  trailbase-core/src/records/list_records.rs
  trailbase-sqlite/src/connection.rs
  trailbase-sqlite/src/rows.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Make columns in CreateAlterTable form append-only, therefore significantly reducing complexity.
  trailbase-assets/js/admin/src/components/tables/CreateAlterColumnForm.tsx
  trailbase-assets/js/admin/src/components/tables/CreateAlterTable.tsx
Due: prettier, typescript_check, javascript_test, build_website

Clean up the foreign key expansion code.
  trailbase-core/src/records/expand.rs
  trailbase-core/src/records/list_records.rs
  trailbase-core/src/records/mod.rs
  trailbase-core/src/records/read_record.rs
Due: cargofmt, cargoclippy, cargotest

Update Rust dependencies.
  Cargo.lock
Due: none

Improve input validation of "alter-table builder".
  trailbase-assets/js/admin/src/components/settings/JobSettings.tsx
  trailbase-core/src/admin/table/alter_table.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Work around broken python tooling and prepare new release v0.15.13.
  .github/workflows/test.yml
  CHANGELOG.md
  client/python/pyproject.toml
Due: prettier

Avoid workspace references for examples to allow copying (including Docker coyping it into a build environment) #121
  examples/blog/web/package.json
  examples/collab-clicker-ssr/package.json
  examples/data-cli-tutorial/package.json
  examples/local-first/package.json
  pnpm-lock.yaml
Due: none

Switch to external reactive state management library: reactivate.
  Cargo.lock
  trailbase-core/Cargo.toml
  trailbase-core/src/app_state.rs
  trailbase-core/src/auth/password.rs
  trailbase-core/src/email.rs
  trailbase-core/src/lib.rs
  trailbase-core/src/records/subscribe.rs
  trailbase-core/src/value_notifier.rs
Due: cargofmt, cargoclippy, cargotest

Reactively rebuild record API config both on config and schema changes.
  Cargo.lock
  trailbase-core/Cargo.toml
  trailbase-core/benches/benchmark.rs
  trailbase-core/src/admin/query.rs
  trailbase-core/src/admin/rows/list_rows.rs
  trailbase-core/src/admin/table/alter_table.rs
  trailbase-core/src/admin/table/create_table.rs
  trailbase-core/src/admin/table/drop_table.rs
  trailbase-core/src/app_state.rs
  trailbase-core/src/config.rs
  trailbase-core/src/records/create_record.rs
  trailbase-core/src/records/list_records.rs
  trailbase-core/src/records/read_record.rs
  trailbase-core/src/records/subscribe.rs
  trailbase-core/src/records/test_utils.rs
  trailbase-core/src/records/update_record.rs
  trailbase-core/src/schema_metadata.rs
  trailbase-core/src/server/init.rs
  trailbase-core/src/server/mod.rs
  trailbase-core/tests/integration_test.rs
Due: cargofmt, cargoclippy, cargotest

Be more strict for inputs from record API than strings from admin UI.
  trailbase-core/src/admin/rows/delete_rows.rs
  trailbase-core/src/admin/rows/insert_row.rs
  trailbase-core/src/admin/rows/read_files.rs
  trailbase-core/src/admin/rows/update_row.rs
  trailbase-core/src/records/params.rs
  trailbase-core/src/records/query_builder.rs
  trailbase-core/src/records/record_api.rs
  trailbase-core/src/records/update_record.rs
  trailbase-core/templates/update_record_query.sql
  trailbase-schema/src/json.rs
Due: cargofmt, cargoclippy, cargotest

Update JS dependencies.
  docs/examples/record_api_ts/package.json
  docs/package.json
  examples/blog/web/package.json
  examples/coffee-vector-search/package.json
  examples/collab-clicker-ssr/package.json
  examples/data-cli-tutorial/package.json
  examples/local-first/package.json
  pnpm-lock.yaml
  trailbase-assets/js/admin/package.json
  trailbase-assets/js/admin/src/lib/config.ts
  trailbase-assets/js/auth/package.json
  trailbase-assets/js/client/package.json
  trailbase-js/assets/runtime/package.json
Due: prettier, typescript_check, javascript_test, build_website

Add "Send Test Email" button to settings. #114
  trailbase-assets/js/admin/src/components/accounts/AccountsPage.tsx
  trailbase-assets/js/admin/src/components/accounts/AddUser.tsx
  trailbase-assets/js/admin/src/components/auth/AuthButton.tsx
  trailbase-assets/js/admin/src/components/auth/LoginPage.tsx
  trailbase-assets/js/admin/src/components/settings/EmailSettings.tsx
  trailbase-assets/js/admin/src/components/settings/SettingsPage.tsx
  trailbase-assets/js/auth/src/components/Profile.tsx
  trailbase-assets/js/auth/src/pages/change_email.astro
  trailbase-assets/js/bindings/TestEmailRequest.ts
  trailbase-core/src/admin/email.rs
  trailbase-core/src/admin/mod.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Minor: use futures-lite for rust client and update dependencies.
  Cargo.lock
  client/rust/Cargo.toml
  client/rust/src/lib.rs
  client/rust/tests/integration_test.rs
Due: cargofmt, cargoclippy, cargotest

Move TanStack/db example to a less missleading location, document it and update JS dependencies.
  docs/examples/record_api_ts/package.json
  docs/package.json
  examples/README.md
  examples/blog/web/package.json
  examples/coffee-vector-search/package.json
  examples/collab-clicker-ssr/package.json
  examples/data-cli-tutorial/package.json
  examples/tanstack-db-sync/.gitignore
  examples/tanstack-db-sync/.prettierrc
  examples/tanstack-db-sync/README.md
  examples/tanstack-db-sync/eslint.config.js
  examples/tanstack-db-sync/index.html
  examples/tanstack-db-sync/package.json
  examples/tanstack-db-sync/screenshots/screenshot0.png
  examples/tanstack-db-sync/src/App.tsx
  examples/tanstack-db-sync/src/index.css
  examples/tanstack-db-sync/src/index.tsx
  examples/tanstack-db-sync/src/lib/color.ts
  examples/tanstack-db-sync/src/vite-env.d.ts
  examples/tanstack-db-sync/traildepot/.gitignore
  examples/tanstack-db-sync/traildepot/config.textproto
  examples/tanstack-db-sync/traildepot/migrations/U1752518650__add_admin_user.sql
  examples/tanstack-db-sync/traildepot/migrations/U1752518653__create_table_todos.sql
  examples/tanstack-db-sync/traildepot/migrations/U1752518746__create_table_config.sql
  examples/tanstack-db-sync/tsconfig.json
  examples/tanstack-db-sync/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  trailbase-assets/js/admin/package.json
  trailbase-assets/js/admin/src/components/FormFields.tsx
  trailbase-assets/js/auth/package.json
  trailbase-assets/js/client/package.json
  trailbase-js/assets/runtime/package.json
Due: prettier, typescript_check, javascript_test, build_website

Rename `redirect_to` query parameter to `redirect_uri` in accordance with RFC 6749.
  Makefile
  docs/openapi/schema.json
  docs/src/content/docs/documentation/auth.mdx
  examples/blog/flutter/lib/src/login.dart
  examples/blog/web/src/components/Auth.tsx
  examples/blog/web/src/pages/compose.astro
  trailbase-assets/js/auth/src/pages/login.astro
  trailbase-assets/js/bindings/LoginRequest.ts
  trailbase-assets/src/auth.rs
  trailbase-cli/src/args.rs
  trailbase-core/src/auth/api/change_email.rs
  trailbase-core/src/auth/api/change_password.rs
  trailbase-core/src/auth/api/login.rs
  trailbase-core/src/auth/api/logout.rs
  trailbase-core/src/auth/api/verify_email.rs
  trailbase-core/src/auth/auth_test.rs
  trailbase-core/src/auth/login_params.rs
  trailbase-core/src/auth/oauth/callback.rs
  trailbase-core/src/auth/oauth/login.rs
  trailbase-core/src/auth/oauth/oauth_test.rs
  trailbase-core/src/auth/oauth/state.rs
  trailbase-core/src/auth/ui/mod.rs
  trailbase-core/src/auth/util.rs
  trailbase-core/src/records/create_record.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website, dart_format, dart_analyze, dart_test

Prepare new release v0.16.0.
  CHANGELOG.md
Due: prettier

Docs: update roadmap.
  docs/src/content/docs/reference/roadmap.mdx
  examples/tanstack-db-sync/screenshots/screenshot0.png
Due: prettier, typescript_check

Just a small typo in json.rs
  trailbase-schema/src/json.rs
Due: cargofmt, cargoclippy, cargotest

Override CLI's default `--version` flag to yield a version that matches our releases.
  Cargo.lock
  trailbase-assets/src/lib.rs
  trailbase-build/Cargo.toml
  trailbase-build/src/lib.rs
  trailbase-build/src/version.rs
  trailbase-cli/Cargo.toml
  trailbase-cli/build.rs
  trailbase-cli/src/args.rs
  trailbase-cli/src/bin/trail.rs
  trailbase-core/Cargo.toml
  trailbase-core/src/app_state.rs
  trailbase-core/src/server/mod.rs
Due: cargofmt, cargoclippy, cargotest
