Repository trailbaseio/trailbase: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website, dart_format, dart_analyze, dart_test, dotnet_format, dotnet_test, python_format, python_check, python_test, swift_format, swift_test

Path conditions:
  cargofmt: any of: \.rs$ and not (^vendor/) and not ((trailbase-core/bindings|bindings)/.*)
  cargoclippy: any of: \.rs$ and not (^vendor/) and not ((trailbase-core/bindings|bindings)/.*)
  cargotest: any of: \.rs$ and not (^(vendor|bindings)/) and not ((trailbase-core/bindings|bindings)/.*)
  prettier: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro|md|mdx)$, but not: (trailbase-core/bindings|bindings)/.*
  typescript_check: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro|mdx)$, but not: (trailbase-core/bindings|bindings)/.*
  javascript_test: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro)$, but not: (trailbase-core/bindings|bindings)/.*
  build_website: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro)$, but not: (trailbase-core/bindings|bindings)/.*
  dart_format: any of: .*\.dart$, but not: (trailbase-core/bindings|bindings)/.*
  dart_analyze: any of: .*\.dart$, but not: (trailbase-core/bindings|bindings)/.*
  dart_test: any of: .*\.dart$, but not: (trailbase-core/bindings|bindings)/.*
  dotnet_format: any of: .*\.(cs|csproj)$, but not: (trailbase-core/bindings|bindings)/.*
  dotnet_test: any of: .*\.(cs|csproj)$, but not: (trailbase-core/bindings|bindings)/.*
  python_format: any of: .*\.(py)$, but not: (trailbase-core/bindings|bindings)/.*
  python_check: any of: .*\.(py)$, but not: (trailbase-core/bindings|bindings)/.*
  python_test: any of: .*\.(py)$, but not: (trailbase-core/bindings|bindings)/.*
  swift_format: any of: .*\.(swift)$, but not: (trailbase-core/bindings|bindings)/.*
  swift_test: any of: .*\.(swift)$, but not: (trailbase-core/bindings|bindings)/.*

Clean up Rust WASM guest runtime.
  Cargo.lock
  client/testfixture/guests/rust/src/lib.rs
  client/testfixture/wasm/wasm_rust_guest_testfixture.wasm
  crates/wasm-runtime-guest/src/http.rs
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
  examples/coffee-vector-search/guests/rust/Cargo.toml
  examples/coffee-vector-search/guests/rust/src/lib.rs
  examples/coffee-vector-search/traildepot/.gitignore
  examples/collab-clicker-ssr/guests/rust/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Minor: work on the wasm rutnime update.
  crates/core/src/server/mod.rs
  docs/src/content/blog/switching_to_a_wasm_runtime.mdx
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check

Update Rust dependencies.
  Cargo.lock
  crates/wasm-runtime-guest/Cargo.toml
Due: none

Add FS WIT endpoint to JS/TS guest. Add a typescript collab-clicker-ssr guest.
  examples/collab-clicker-ssr/guests/typescript/.gitignore
  examples/collab-clicker-ssr/guests/typescript/package.json
  examples/collab-clicker-ssr/guests/typescript/src/component.js
  examples/collab-clicker-ssr/guests/typescript/src/index.ts
  examples/collab-clicker-ssr/guests/typescript/tsconfig.json
  examples/collab-clicker-ssr/guests/typescript/vite.config.ts
  examples/wasm-guest-js/package.json
  examples/wasm-guest-ts/package.json
  guests/typescript/generated/types/interfaces/wasi-keyvalue-atomics.d.ts
  guests/typescript/generated/types/interfaces/wasi-keyvalue-batch.d.ts
  guests/typescript/generated/types/interfaces/wasi-keyvalue-store.d.ts
  guests/typescript/generated/types/wit.d.ts
  guests/typescript/package.json
  guests/typescript/wit/deps/keyvalue-0.2.0-draft/atomic.wit
  guests/typescript/wit/deps/keyvalue-0.2.0-draft/batch.wit
  guests/typescript/wit/deps/keyvalue-0.2.0-draft/store.wit
  guests/typescript/wit/deps/keyvalue-0.2.0-draft/watch.wit
  guests/typescript/wit/deps/keyvalue-0.2.0-draft/world.wit
  guests/typescript/wit/trailbase.wit
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier, typescript_check, javascript_test, build_website

More default threads for WASM runtime.
  client/testfixture/guests/rust/src/lib.rs
  client/testfixture/wasm/wasm_rust_guest_testfixture.wasm
  crates/core/src/app_state.rs
  crates/core/src/wasm/mod.rs
  crates/wasm-runtime-host/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Fix JS/TS tests.
  examples/collab-clicker-ssr/eslint.config.mjs
  examples/wasm-guest-js/package.json
  examples/wasm-guest-ts/package.json
  guests/typescript/package.json
  guests/typescript/src/db.ts
  guests/typescript/src/http.ts
  guests/typescript/src/value.ts
  guests/typescript/tests/runtime.test.ts
  guests/typescript/tsconfig.json
  guests/typescript/vite.config.ts
Due: prettier, typescript_check, javascript_test, build_website

Add a TS implementation of `client/testfixture`.
  client/testfixture/guests/rust/Makefile
  client/testfixture/guests/rust/src/lib.rs
  client/testfixture/guests/typescript/.gitignore
  client/testfixture/guests/typescript/package.json
  client/testfixture/guests/typescript/src/component.js
  client/testfixture/guests/typescript/src/index.ts
  client/testfixture/guests/typescript/tsconfig.json
  client/testfixture/guests/typescript/vite.config.ts
  client/testfixture/scripts/index.ts
  client/testfixture/wasm/wasm_rust_guest_testfixture.wasm
  crates/wasm-runtime-host/src/lib.rs
  examples/wasm-guest-js/package.json
  examples/wasm-guest-ts/package.json
  guests/typescript/src/db.ts
  guests/typescript/src/http.ts
  guests/typescript/src/index.ts
  guests/typescript/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Add a HttpHandler abstraction to TS guest runtime.
  client/testfixture/guests/typescript/src/index.ts
  examples/wasm-guest-rust/src/lib.rs
  examples/wasm-guest-ts/src/index.ts
  guests/typescript/src/http.ts
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Move liker init into shared initialization.
  crates/wasm-runtime-host/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Enable build-cache, add placeholder timer-fix for js runtime, and add fibonacci to testfixture/scripts for benchmarks.
  client/testfixture/scripts/index.ts
  crates/js-runtime/src/runtime.rs
  crates/wasm-runtime-host/src/lib.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Fuffing around with JS guests.
  Cargo.lock
  client/testfixture/guests/typescript/package.json
  client/testfixture/wasm/wasm_rust_guest_testfixture.wasm
  crates/core/Cargo.toml
  crates/wasm-runtime-host/Cargo.toml
  crates/wasm-runtime-host/src/lib.rs
  guests/typescript/src/http.ts
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Fix email template forms in admin UI. #141
  crates/assets/js/admin/src/components/settings/EmailSettings.tsx
Due: prettier, typescript_check, javascript_test, build_website

Improve email template forms: fix un-setting and check that body contains '{{ VERIFICATION_URL }}'.
  crates/core/src/config.rs
Due: cargofmt, cargoclippy, cargotest

Update Rust dependencies.
  Cargo.lock
Due: none

Prepare new release v0.16.7.
  CHANGELOG.md
Due: prettier

Fix reset-password flow. #142
  crates/core/src/auth/api/reset_password.rs
  crates/core/src/auth/auth_test.rs
  crates/core/src/auth/mod.rs
  crates/core/src/auth/ui/mod.rs
  crates/core/src/email.rs
Due: cargofmt, cargoclippy, cargotest

Allow signed-out change-email confirmation. #142
  crates/core/src/auth/api/change_email.rs
  crates/core/src/auth/api/reset_password.rs
  crates/core/src/auth/auth_test.rs
Due: cargofmt, cargoclippy, cargotest

Update JS dependencies.
  crates/assets/js/admin/package.json
  crates/assets/js/auth/package.json
  crates/assets/js/client/package.json
  crates/js-runtime/assets/runtime/package.json
  docs/examples/record_api_ts/package.json
  docs/package.json
  examples/blog/web/package.json
  examples/coffee-vector-search/package.json
  examples/collab-clicker-ssr/package.json
  examples/data-cli-tutorial/package.json
  examples/tanstack-db-sync/package.json
  pnpm-lock.yaml
Due: none

Prepare new release v0.16.8.
  CHANGELOG.md
Due: prettier

wip: clean up some clients transaction support code
  client/dart/lib/src/transaction.dart
  client/dotnet/trailbase/TransactionApi.cs
  client/go/trailbase/transaction_api.go
  client/python/trailbase/__init__.py
  client/swift/trailbase/Sources/TrailBase/Transaction.swift
  crates/assets/js/client/src/index.ts
  crates/client/src/lib.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website, dart_format, dart_analyze, dart_test, dotnet_format, dotnet_test, python_format, python_check, python_test, swift_format, swift_test

wip: add transaction support to clients
  .pre-commit-config.yaml
  client/dart/lib/src/client.dart
  client/dart/lib/src/transaction.dart
  client/dart/lib/trailbase.dart
  client/dart/test/trailbase_test.dart
  client/dotnet/test/ClientTest.cs
  client/dotnet/trailbase/Client.cs
  client/dotnet/trailbase/TransactionApi.cs
  client/go/trailbase/client.go
  client/go/trailbase/client_test.go
  client/go/trailbase/transaction_api.go
  client/python/tests/test_client.py
  client/python/trailbase/__init__.py
  client/swift/trailbase/Sources/TrailBase/TrailBase.swift
  client/swift/trailbase/Sources/TrailBase/Transaction.swift
  client/swift/trailbase/Tests/TrailBaseTests/TrailBaseTests.swift
  crates/assets/js/client/src/index.ts
  crates/assets/js/client/tests/integration/client_integration.test.ts
  crates/client/src/lib.rs
  crates/client/tests/integration_test.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website, dart_format, dart_analyze, dart_test, dotnet_format, dotnet_test, python_format, python_check, python_test, swift_format, swift_test

wip: enable record transactions for tests
  client/testfixture/config.textproto
Due: none

Revert
  .pre-commit-config.yaml
  client/dart/lib/src/client.dart
  client/dart/lib/src/transaction.dart
  client/dart/lib/trailbase.dart
  client/dart/test/trailbase_test.dart
  client/dotnet/test/ClientTest.cs
  client/dotnet/trailbase/Client.cs
  client/dotnet/trailbase/TransactionApi.cs
  client/go/trailbase/client.go
  client/go/trailbase/client_test.go
  client/go/trailbase/transaction_api.go
  client/python/tests/test_client.py
  client/python/trailbase/__init__.py
  client/swift/trailbase/Sources/TrailBase/TrailBase.swift
  client/swift/trailbase/Sources/TrailBase/Transaction.swift
  client/swift/trailbase/Tests/TrailBaseTests/TrailBaseTests.swift
  client/testfixture/config.textproto
  crates/assets/js/client/src/index.ts
  crates/assets/js/client/tests/integration/client_integration.test.ts
  crates/client/src/lib.rs
  crates/client/tests/integration_test.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website, dart_format, dart_analyze, dart_test, dotnet_format, dotnet_test, python_format, python_check, python_test, swift_format, swift_test

wip: add transaction support to `js` client
  .pre-commit-config.yaml
  client/testfixture/config.textproto
  crates/assets/js/client/src/index.ts
  crates/assets/js/client/tests/integration/client_integration.test.ts
  crates/core/src/records/transaction.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Add a skeleton "blog" system to the website for updates.
  pnpm-lock.yaml
Due: none

WIP: More wiring.
  Cargo.lock
  crates/core/src/app_state.rs
  crates/core/src/wasm/mod.rs
  crates/wasm-runtime/Cargo.toml
  crates/wasm-runtime/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

PoC: call sqlite from WASM.
  Cargo.lock
  Cargo.toml
  crates/wasm-runtime-common/Cargo.toml
  crates/wasm-runtime-common/src/lib.rs
  crates/wasm-runtime-guest/Cargo.toml
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime/Cargo.toml
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
  tests/rust-wasm-guest/Cargo.toml
  tests/rust-wasm-guest/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

WIP: Pass sqlite DB into WASM runtime.
  Cargo.lock
  crates/wasm-runtime/Cargo.toml
  crates/wasm-runtime/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Wrap isolate_id.
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

WIP: add sqlite execute to wasm runtime.
  Cargo.lock
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime/Cargo.toml
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/src/sqlite.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
Due: cargofmt, cargoclippy, cargotest

Have wasm init return a metadata struct.
  crates/core/src/app_state.rs
  crates/core/src/lib.rs
  crates/core/src/wasm/mod.rs
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
  crates/wasm-runtime/wit/trailbase.wit
  tests/rust-wasm-guest/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

WIP: Turn init metadata into runtime callbacks.
  crates/core/src/wasm/mod.rs
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
  crates/wasm-runtime/wit/trailbase.wit
  tests/rust-wasm-guest/Makefile
Due: cargofmt, cargoclippy, cargotest

WIP: sqlite transactions from WASM.
  crates/wasm-runtime-common/src/lib.rs
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime/src/sqlite.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
Due: cargofmt, cargoclippy, cargotest

MvP multi-threaded WASI runtime.
  Cargo.lock
  Cargo.toml
  crates/wasm-runtime/Cargo.toml
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
  tests/rust-wasm-guest/Cargo.lock
  tests/rust-wasm-guest/Cargo.toml
  tests/rust-wasm-guest/Makefile
  tests/rust-wasm-guest/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Add sync DB query/execute methods.
  crates/wasm-runtime-guest/src/db.rs
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
  crates/wasm-runtime/wit/trailbase.wit
  tests/rust-wasm-guest/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Wire up registered path & User.
  crates/core/src/auth/user.rs
  crates/core/src/wasm/mod.rs
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/src/sqlite.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
  pnpm-lock.yaml
  tests/rust-wasm-guest/src/lib.rs
Due: cargofmt, cargoclippy, cargotest
