Repository trailbaseio/trailbase: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website, dart_format, dart_analyze, dart_test, dotnet_format, dotnet_test, python_format, python_check, python_test, swift_format, swift_test

Path conditions:
  cargofmt: any of: \.rs$ and not (^vendor/) and not ((trailbase-core/bindings|bindings)/.*)
  cargoclippy: any of: \.rs$ and not (^vendor/) and not ((trailbase-core/bindings|bindings)/.*)
  cargotest: any of: \.rs$ and not (^(vendor|bindings)/) and not ((trailbase-core/bindings|bindings)/.*)
  prettier: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro|md|mdx)$, but not: (trailbase-core/bindings|bindings)/.*
  typescript_check: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro|mdx)$, but not: (trailbase-core/bindings|bindings)/.*
  javascript_test: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro)$, but not: (trailbase-core/bindings|bindings)/.*
  build_website: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro)$, but not: (trailbase-core/bindings|bindings)/.*
  dart_format: any of: .*\.dart$, but not: (trailbase-core/bindings|bindings)/.*
  dart_analyze: any of: .*\.dart$, but not: (trailbase-core/bindings|bindings)/.*
  dart_test: any of: .*\.dart$, but not: (trailbase-core/bindings|bindings)/.*
  dotnet_format: any of: .*\.(cs|csproj)$, but not: (trailbase-core/bindings|bindings)/.*
  dotnet_test: any of: .*\.(cs|csproj)$, but not: (trailbase-core/bindings|bindings)/.*
  python_format: any of: .*\.(py)$, but not: (trailbase-core/bindings|bindings)/.*
  python_check: any of: .*\.(py)$, but not: (trailbase-core/bindings|bindings)/.*
  python_test: any of: .*\.(py)$, but not: (trailbase-core/bindings|bindings)/.*
  swift_format: any of: .*\.(swift)$, but not: (trailbase-core/bindings|bindings)/.*
  swift_test: any of: .*\.(swift)$, but not: (trailbase-core/bindings|bindings)/.*

Just a small typo in json.rs
  trailbase-schema/src/json.rs
Due: cargofmt, cargoclippy, cargotest

Fix install script for windows.
  README.md
  deploy/install.ps1
  deploy/install.sh
  docs/public/install.ps1
  docs/public/install.sh
  docs/src/components/Hero.astro
  docs/src/content/docs/getting-started/_install_oneliners.mdx
Due: prettier, typescript_check, javascript_test, build_website

Construct documentation github code references dynamically from repo.
  docs/src/content/docs/documentation/apis_record.mdx
  docs/src/content/docs/documentation/models_and_relations.mdx
  docs/src/lib/github.ts
Due: prettier, typescript_check, javascript_test, build_website

Minor: fix github link construction. Node's join strips off url scheme.
  docs/src/lib/github.ts
Due: prettier, typescript_check, javascript_test, build_website

Fix cleanup of pending file deletions and add more tests.
  crates/core/src/records/files.rs
  crates/core/src/records/query_builder.rs
  crates/core/src/records/read_record.rs
  crates/core/src/scheduler.rs
  crates/sqlite/src/connection.rs
Due: cargofmt, cargoclippy, cargotest

Update Rust dependencies.
  Cargo.lock
Due: none

Prepare new release v0.16.1.
  CHANGELOG.md
Due: prettier

Address new "mismatched_lifetime_syntaxes" lint in Rust 1.89.0.
  crates/qs/src/util.rs
Due: cargofmt, cargoclippy, cargotest

Bind primary key more strictly in record update requests.
  crates/core/src/admin/rows/insert_row.rs
  crates/core/src/admin/rows/update_row.rs
  crates/core/src/auth/api/avatar.rs
  crates/core/src/records/create_record.rs
  crates/core/src/records/params.rs
  crates/core/src/records/query_builder.rs
  crates/core/src/records/update_record.rs
  crates/core/templates/update_record_query.sql
Due: cargofmt, cargoclippy, cargotest

Split (Lazy)Params into Insert/Update and simplify.
  crates/core/src/admin/rows/insert_row.rs
  crates/core/src/admin/rows/update_row.rs
  crates/core/src/records/params.rs
  crates/core/src/records/query_builder.rs
  crates/core/src/records/record_api.rs
Due: cargofmt, cargoclippy, cargotest

Add a test to ensure updates don't allow changing the primary key.
  crates/core/src/records/update_record.rs
Due: cargofmt, cargoclippy, cargotest

Update dependencies.
  Cargo.lock
  crates/assets/js/admin/package.json
  crates/js-runtime/assets/runtime/package.json
  examples/coffee-vector-search/package.json
  examples/collab-clicker-ssr/package.json
  examples/tanstack-db-sync/package.json
  pnpm-lock.yaml
Due: none

Prepare new release v0.16.2.
  CHANGELOG.md
Due: prettier

Add a test for file-updates.
  crates/core/src/records/read_record.rs
Due: cargofmt, cargoclippy, cargotest

fix: improve SMTP configuration UX and add encryption options
  .gitignore
  CLAUDE.md
  FORK_PLAN.md
  crates/assets/js/admin/proto/config.ts
  crates/assets/js/admin/proto/config_api.ts
  crates/assets/js/admin/proto/google/protobuf/descriptor.ts
  crates/assets/js/admin/proto/vault.ts
  crates/assets/js/admin/src/components/FormFields.tsx
  crates/assets/js/admin/src/components/settings/EmailSettings.tsx
  crates/core/proto/config.proto
  crates/core/src/config.rs
  crates/core/src/email.rs
  traildepot/.gitignore
  traildepot/config.textproto
  traildepot/trailbase.d.ts
  traildepot/trailbase.js
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Add a generalized write-query abstraction. #124
  crates/core/src/admin/error.rs
  crates/core/src/admin/rows/delete_rows.rs
  crates/core/src/admin/rows/insert_row.rs
  crates/core/src/admin/rows/read_files.rs
  crates/core/src/admin/rows/update_row.rs
  crates/core/src/auth/api/avatar.rs
  crates/core/src/records/create_record.rs
  crates/core/src/records/delete_record.rs
  crates/core/src/records/expand.rs
  crates/core/src/records/files.rs
  crates/core/src/records/list_records.rs
  crates/core/src/records/mod.rs
  crates/core/src/records/params.rs
  crates/core/src/records/query_builder.rs
  crates/core/src/records/read_queries.rs
  crates/core/src/records/read_record.rs
  crates/core/src/records/update_record.rs
  crates/core/src/records/write_queries.rs
  crates/schema/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Upon inspection nullable/optinoal fields already cleanly factor into records/settings forms. Thus remove checkbox from settings fields and interpret empty as undefined. #122
  crates/assets/js/admin/src/components/FormFields.tsx
  crates/assets/js/admin/src/components/settings/EmailSettings.tsx
  crates/assets/js/admin/tests/form.test.tsx
Due: prettier, typescript_check, javascript_test, build_website

Update pragmas
  crates/core/src/connection.rs
  crates/extension/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Add missing change-email template to UI and move defaults from config to UI as placeholder.
  crates/assets/js/admin/src/components/FormFields.tsx
  crates/assets/js/admin/src/components/settings/EmailSettings.tsx
  crates/assets/js/admin/tsconfig.json
  crates/assets/src/email.rs
  crates/assets/src/lib.rs
  crates/assets/templates/default_email_change_address_body.html
  crates/assets/templates/default_email_change_address_subject.txt
  crates/assets/templates/default_email_reset_password_body.html
  crates/assets/templates/default_email_reset_password_subject.txt
  crates/assets/templates/default_email_verification_body.html
  crates/assets/templates/default_email_verification_subject.txt
  crates/core/src/config.rs
  crates/core/src/email.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Minor: more love for the settings UI.
  crates/assets/js/admin/src/components/settings/AuthSettings.tsx
  crates/assets/js/admin/src/components/settings/EmailSettings.tsx
  crates/assets/js/admin/src/components/settings/SchemaSettings.tsx
  crates/assets/js/admin/src/components/settings/SettingsPage.tsx
Due: prettier, typescript_check, javascript_test, build_website

PoC: transaction endpoint for creating, updating and deleting records in batch. #124
  crates/core/src/records/create_record.rs
  crates/core/src/records/mod.rs
  crates/core/src/records/record_api.rs
  crates/core/src/records/transaction.rs
  crates/sqlite/src/connection.rs
Due: cargofmt, cargoclippy, cargotest

Use rusqlite's specialized APIs for database setup, i.e. pragmas. #126
  crates/core/src/connection.rs
  crates/extension/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Fix Record APIs Permissions documentation link
  crates/assets/js/admin/src/components/tables/RecordApiSettings.tsx
Due: prettier, typescript_check, javascript_test, build_website

Update Rust toolchain to latest stable: 1.89.0.
  .github/workflows/release.yml
  Cargo.toml
  Dockerfile
  crates/cli/src/bin/trail.rs
  crates/core/Cargo.toml
  crates/core/src/app_state.rs
  crates/core/src/connection.rs
  crates/core/src/server/init.rs
  crates/extension/Cargo.toml
  crates/extension/src/geoip.rs
  crates/extension/src/jsonschema.rs
  crates/extension/src/lib.rs
  crates/extension/src/regex.rs
  crates/extension/src/uuid.rs
  crates/extension/src/validators.rs
  crates/schema/src/json.rs
  crates/schema/src/json_schema.rs
  crates/schema/src/sqlite.rs
  crates/sqlite/examples/uuid.rs
Due: cargofmt, cargoclippy, cargotest

Prepare new release v0.16.3.
  CHANGELOG.md
Due: prettier

Hook up the PoC transaction API.
  crates/core/proto/config.proto
  crates/core/src/records/mod.rs
  crates/core/src/records/record_api.rs
  crates/core/src/records/transaction.rs
  crates/core/src/server/mod.rs
Due: cargofmt, cargoclippy, cargotest

relocation-model=static
  .github/workflows/release.yml
Due: none

Disable tokio default features.
  Cargo.toml
Due: none

Remove tokio time.
  Cargo.toml
Due: none

Add support to multipart-form
  crates/assets/js/client/src/index.ts
  crates/core/src/records/transaction.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Update JS deps.
  crates/assets/js/admin/package.json
  crates/assets/js/auth/package.json
  crates/assets/js/client/package.json
  crates/js-runtime/assets/runtime/package.json
  docs/examples/record_api_ts/package.json
  docs/package.json
  examples/blog/web/package.json
  examples/coffee-vector-search/package.json
  examples/collab-clicker-ssr/package.json
  examples/data-cli-tutorial/package.json
  examples/tanstack-db-sync/package.json
  pnpm-lock.yaml
Due: none

Update solid-js and fix form tests it broke.
  crates/assets/js/admin/package.json
  crates/assets/js/admin/tests/form.test.tsx
  crates/assets/js/auth/package.json
  docs/package.json
  examples/blog/web/package.json
  examples/collab-clicker-ssr/package.json
  pnpm-lock.yaml
Due: prettier, typescript_check, javascript_test, build_website

Minor: set PNPM_OFFLINE env var in release flows.
  .github/workflows/release.yml
  Cargo.toml
Due: none

Prepare new relaese v0.16.4.
  .github/workflows/release.yml
  CHANGELOG.md
  README.md
  docs/src/content/docs/documentation/production.mdx
  docs/src/content/docs/getting-started/first-ui-app.mdx
  docs/src/content/docs/getting-started/install.mdx
  docs/src/content/docs/index.mdx
Due: prettier, typescript_check
