Repository trailbaseio/trailbase: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website, dart_format, dart_analyze, dart_test, dotnet_format, dotnet_test, python_format, python_check, python_test, swift_format, swift_test

cargofmt:
  name: Cargo Format
  entry: cargo fmt -- --check
  pass_filenames: false
  language: system

cargoclippy:
  name: Cargo Clippy
  verbose: true
  entry: sh -c 'pnpm i && cargo clippy --workspace --no-deps'
  language: system
  pass_filenames: false

cargotest:
  name: Cargo Test
  entry: sh -c 'pnpm i && cargo test --workspace -- --show-output'
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: pnpm -r format --check
  language: system
  pass_filenames: false

typescript_check:
  name: Typescript Check
  entry: pnpm -r check
  language: system
  pass_filenames: false

javascript_test:
  name: JavaScript Test
  entry: pnpm -r test
  language: system
  pass_filenames: false

build_website:
  name: Build Website
  entry: sh -c 'cd docs && pnpm build'
  language: system
  pass_filenames: false

dart_format:
  name: Dart format
  entry: dart format -o none --set-exit-if-changed client/trailbase-dart examples/blog/flutter
  language: system
  pass_filenames: false

dart_analyze:
  name: Dart analyze
  entry: sh -c 'dart pub -C client/trailbase-dart get && dart pub -C examples/blog/flutter get && dart analyze -- client/trailbase-dart examples/blog/flutter'
  language: system
  pass_filenames: false

dart_test:
  name: Dart test
  entry: sh -c 'cd client/trailbase-dart && dart pub get && dart test'
  language: system
  pass_filenames: false

dotnet_format:
  name: Dotnet format
  entry: sh -c 'dotnet format client/trailbase-dotnet/src --verify-no-changes && dotnet format client/trailbase-dotnet/test --verify-no-changes'
  language: system
  pass_filenames: false

dotnet_test:
  name: Dotnet test
  entry: dotnet test client/trailbase-dotnet/test
  language: system
  pass_filenames: false

python_format:
  name: Python format
  entry: poetry -C client/trailbase-py run black --config pyproject.toml --check .
  language: system
  pass_filenames: false

python_check:
  name: Python check
  entry: poetry -C client/trailbase-py run pyright --outputjson
  language: system
  pass_filenames: false

python_test:
  name: Python test
  entry: poetry -C client/trailbase-py run pytest
  language: system
  pass_filenames: false

swift_format:
  name: Swift format
  entry: swift format -r --in-place client/trailbase-swift/**/*.swift
  language: system
  pass_filenames: false

swift_test:
  name: Swift test
  entry: swift test --package-path client/trailbase-swift
  language: system
  pass_filenames: false

Minor: cleanup the double self-cell indirection. Still haven't found a clean way to collapse.
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

Support ArcLockGuards to simplify transactions.
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

Fork wamtime's wasi-keyvalue crate.
  Cargo.lock
  Cargo.toml
  crates/wasi-keyvalue/Cargo.toml
  crates/wasi-keyvalue/src/lib.rs
  crates/wasi-keyvalue/wit/deps/keyvalue/atomic.wit
  crates/wasi-keyvalue/wit/deps/keyvalue/batch.wit
  crates/wasi-keyvalue/wit/deps/keyvalue/store.wit
  crates/wasi-keyvalue/wit/deps/keyvalue/watch.wit
  crates/wasi-keyvalue/wit/deps/keyvalue/world.wit
  crates/wasi-keyvalue/wit/world.wit
  crates/wasm-runtime/Cargo.toml
Due: cargofmt, cargoclippy, cargotest

Bring plain js wasm example up-to-date.
  pnpm-lock.yaml
  tests/http-hello-world/package.json
  tests/js-wasm-guest/componentize.js
  tests/js-wasm-guest/index.js
  tests/js-wasm-guest/package.json
  tests/js-wasm-guest/runtime.js
Due: prettier, typescript_check, javascript_test, build_website

Add Transaction host endpoints.
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/src/sqlite.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
  crates/wasm-runtime/wit/trailbase.wit
  tests/http-hello-world/package.json
  tests/http-hello-world/src/index.ts
  tests/rust-wasm-guest/Makefile
  tests/rust-wasm-guest/src/lib.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Add an untested JS/TS Transaction abstraction.
  tests/runtime/src/db.ts
Due: prettier, typescript_check, javascript_test, build_website

Add higher-level Rust TX abtraction and streamline parameter serialization.
  Cargo.lock
  crates/wasm-runtime-guest/Cargo.toml
  crates/wasm-runtime-guest/src/db.rs
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
  crates/wasm-runtime/wit/trailbase.wit
  tests/rust-wasm-guest/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Add an update on WebAssembly runtime transition.
  docs/src/content/blog/_wasm_logo.svg
  docs/src/content/blog/switching_to_a_wasm_runtime.mdx
Due: prettier, typescript_check

Use vite for vanilla JS wasm example.
  pnpm-lock.yaml
  tests/http-hello-world/package.json
  tests/http-hello-world/src/component.js
  tests/http-hello-world/src/index.ts
  tests/js-wasm-guest/index.js
  tests/js-wasm-guest/package.json
  tests/js-wasm-guest/src/component.js
  tests/js-wasm-guest/src/index.js
  tests/js-wasm-guest/vite.config.ts
Due: prettier, typescript_check, javascript_test, build_website

Add sync transaction api placeholders.
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
  crates/wasm-runtime/wit/trailbase.wit
Due: cargofmt, cargoclippy, cargotest

Add query/execute abstractions to the JS runtime.
  Cargo.lock
  Cargo.toml
  crates/assets/js/bindings/HttpContext.ts
  crates/assets/js/bindings/HttpContextKind.ts
  crates/assets/js/bindings/HttpContextUser.ts
  crates/assets/js/bindings/SqliteRequest.ts
  crates/assets/js/bindings/SqliteResponse.ts
  crates/core/Cargo.toml
  crates/schema/Cargo.toml
  crates/wasm-runtime-common/Cargo.toml
  crates/wasm-runtime-common/src/lib.rs
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
  tests/http-hello-world/src/index.ts
  tests/runtime/generated/common/HttpContext.ts
  tests/runtime/generated/common/HttpContextKind.ts
  tests/runtime/generated/common/HttpContextUser.ts
  tests/runtime/generated/common/SqliteRequest.ts
  tests/runtime/generated/common/SqliteResponse.ts
  tests/runtime/generated/common/serde_json/JsonValue.ts
  tests/runtime/generated/types/interfaces/trailbase-runtime-host-endpoint.d.ts
  tests/runtime/generated/types/interfaces/trailbase-runtime-init-endpoint.d.ts
  tests/runtime/package.json
  tests/runtime/src/db.ts
  tests/runtime/src/http.ts
  tests/runtime/src/index.ts
  tests/runtime/tests/runtime.test.ts
  tests/runtime/tsconfig.json
  tests/runtime/wit/trailbase.wit
  tests/rust-wasm-guest/src/lib.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Install default TLS provider.
  crates/core/src/server/mod.rs
Due: cargofmt, cargoclippy, cargotest

Minor: return error when failing to acquire tx lock within limits.
  crates/wasm-runtime/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

PoC: per instance tx.
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

WIP: Migrate example `traildepot/scripts` to WASM.
  Cargo.lock
  Cargo.toml
  client/testfixture/guests/rust/src/lib.rs
  crates/wasm-runtime-guest/src/db.rs
  crates/wasm-runtime-guest/src/http.rs
  crates/wasm-runtime-guest/src/job.rs
  crates/wasm-runtime/src/lib.rs
  examples/coffee-vector-search/guests/rust/Cargo.lock
  examples/coffee-vector-search/guests/rust/Cargo.toml
  examples/coffee-vector-search/guests/rust/Makefile
  examples/coffee-vector-search/guests/rust/src/lib.rs
  examples/collab-clicker-ssr/guests/rust/Cargo.lock
  examples/collab-clicker-ssr/guests/rust/Cargo.toml
  examples/collab-clicker-ssr/guests/rust/Makefile
  examples/collab-clicker-ssr/guests/rust/src/lib.rs
  examples/wasm-guest-js/package.json
  examples/wasm-guest-ts/package.json
  guests/typescript/package.json
  pnpm-lock.yaml
Due: cargofmt, cargoclippy, cargotest

Some cleanup and reuse first connection deliberately.
  crates/wasm-runtime/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

Add async execute via http handler for rust guests.
  Cargo.lock
  crates/wasm-runtime-guest/Cargo.toml
  crates/wasm-runtime-guest/src/db.rs
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
Due: cargofmt, cargoclippy, cargotest

Also wire up the path params.
  Cargo.lock
  crates/core/Cargo.toml
  crates/core/src/wasm/mod.rs
  crates/wasm-runtime-common/src/lib.rs
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
Due: cargofmt, cargoclippy, cargotest

Minor: add a pending tx check when `State` is dropped
  crates/wasm-runtime/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Wire up job handlers.
  Cargo.lock
  crates/core/src/wasm/mod.rs
  crates/wasm-runtime-guest/Cargo.toml
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
  crates/wasm-runtime/wit/trailbase.wit
  tests/http-hello-world/src/index.ts
  tests/runtime/src/trailbase.ts
  tests/runtime/wit/trailbase.wit
  tests/rust-wasm-guest/src/lib.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Add `kind` to HttpContext, i.e. http vs job requests.
  crates/core/src/wasm/mod.rs
  crates/wasm-runtime-common/src/lib.rs
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime/src/lib.rs
  tests/runtime/src/trailbase.ts
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Test concurrent transactions.
  crates/core/src/wasm/mod.rs
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
  tests/rust-wasm-guest/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Wire up context and path params in JS/TS.
  crates/wasm-runtime/src/lib.rs
  tests/http-hello-world/src/index.ts
  tests/runtime/src/index.ts
  tests/runtime/src/status.ts
  tests/runtime/src/trailbase.ts
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Don't block WASM event loop.
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
  tests/http-hello-world/src/index.ts
  tests/rust-wasm-guest/src/lib.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Add an inflight counter out of curiosity.
  crates/wasm-runtime/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Be more selective on where to use async in the host implementations.
  crates/wasm-runtime/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Add sync DB query/execute methods.
  crates/wasm-runtime-guest/src/db.rs
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
  crates/wasm-runtime/wit/trailbase.wit
  tests/rust-wasm-guest/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Streamline wasm runtime JobConfig -> Job.
  client/testfixture/guests/rust/src/lib.rs
  client/testfixture/wasm/wasm_rust_guest_testfixture.wasm
  crates/wasm-runtime-guest/src/job.rs
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
  examples/wasm-guest-rust/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Fix http response streaming. The SSR example now works with QuickJS and response sizes >2kB.
  crates/wasm-runtime/src/lib.rs
  examples/collab-clicker-ssr/guests/rust/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Synchronize WASI KV store and install.
  Cargo.lock
  crates/core/src/wasm/mod.rs
  crates/wasi-keyvalue/Cargo.toml
  crates/wasi-keyvalue/src/lib.rs
  crates/wasm-runtime/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

JS evaluation works now, however wstd get stuck for responses exceedig chunk size of 2048 bytes.
  Cargo.lock
  crates/wasm-runtime-guest/src/http.rs
  examples/collab-clicker-ssr/guests/rust/Cargo.toml
  examples/collab-clicker-ssr/guests/rust/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

More rust guest runtime clean-ups.
  Cargo.lock
  client/testfixture/guests/rust/Cargo.toml
  client/testfixture/guests/rust/src/lib.rs
  client/testfixture/wasm/wasm_rust_guest_testfixture.wasm
  crates/wasm-runtime-guest/src/fetch.rs
  crates/wasm-runtime-guest/src/http.rs
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime-guest/src/time.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
  examples/collab-clicker-ssr/guests/rust/Cargo.toml
  examples/collab-clicker-ssr/guests/rust/src/lib.rs
  examples/wasm-guest-rust/Cargo.toml
  examples/wasm-guest-rust/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Install forked WASI KV store.
  Cargo.lock
  Cargo.toml
  crates/wasi-keyvalue/Cargo.toml
  crates/wasm-runtime/Cargo.toml
  crates/wasm-runtime/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Use kv and fs in collab-clicker-ssr guest.
  crates/wasm-runtime-guest/src/kv.rs
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/wit/keyvalue-0.2.0-draft/atomic.wit
  crates/wasm-runtime/wit/keyvalue-0.2.0-draft/batch.wit
  crates/wasm-runtime/wit/keyvalue-0.2.0-draft/store.wit
  crates/wasm-runtime/wit/keyvalue-0.2.0-draft/watch.wit
  crates/wasm-runtime/wit/keyvalue-0.2.0-draft/world.wit
  crates/wasm-runtime/wit/trailbase.wit
  examples/collab-clicker-ssr/guests/rust/src/lib.rs
  examples/collab-clicker-ssr/traildepot/.gitignore
Due: cargofmt, cargoclippy, cargotest

Try to render SRR with QuickJS. Not yet working, QuickJS break when loading the actual script.
  Cargo.lock
  crates/wasm-runtime-guest/src/fs.rs
  examples/collab-clicker-ssr/guests/rust/Cargo.toml
  examples/collab-clicker-ssr/guests/rust/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Add a Json response abstraction and parition rust runtime namespace more rigorously.
  client/testfixture/guests/rust/src/lib.rs
  client/testfixture/wasm/wasm_rust_guest_testfixture.wasm
  crates/wasm-runtime-guest/src/http.rs
  crates/wasm-runtime-guest/src/job.rs
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
  examples/coffee-vector-search/guests/rust/src/lib.rs
  examples/collab-clicker-ssr/guests/rust/src/lib.rs
  examples/wasm-guest-rust/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Add a simple read_file abstraction for rust WASM guests.
  client/testfixture/guests/rust/src/lib.rs
  client/testfixture/wasm/wasm_rust_guest_testfixture.wasm
  crates/wasm-runtime-guest/src/fs.rs
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
Due: cargofmt, cargoclippy, cargotest

Make WASM sandboxed filesystem root a command line argument.
  crates/cli/src/args.rs
  crates/cli/src/bin/trail.rs
  crates/core/src/app_state.rs
  crates/core/src/server/init.rs
  crates/core/src/server/mod.rs
  crates/core/src/wasm/mod.rs
  crates/wasm-runtime-host/src/lib.rs
  examples/collab-clicker-ssr/Makefile
  examples/collab-clicker-ssr/guests/rust/Makefile
Due: cargofmt, cargoclippy, cargotest

Path conditions:
  cargofmt: any of: \.rs$ and not (^vendor/) and not ((trailbase-core/bindings|bindings)/.*)
  cargoclippy: any of: \.rs$ and not (^vendor/) and not ((trailbase-core/bindings|bindings)/.*)
  cargotest: any of: \.rs$ and not (^(vendor|bindings)/) and not ((trailbase-core/bindings|bindings)/.*)
  prettier: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro|md|mdx)$, but not: (trailbase-core/bindings|bindings)/.*
  typescript_check: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro|mdx)$, but not: (trailbase-core/bindings|bindings)/.*
  javascript_test: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro)$, but not: (trailbase-core/bindings|bindings)/.*
  build_website: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro)$, but not: (trailbase-core/bindings|bindings)/.*
  dart_format: any of: .*\.dart$, but not: (trailbase-core/bindings|bindings)/.*
  dart_analyze: any of: .*\.dart$, but not: (trailbase-core/bindings|bindings)/.*
  dart_test: any of: .*\.dart$, but not: (trailbase-core/bindings|bindings)/.*
  dotnet_format: any of: .*\.(cs|csproj)$, but not: (trailbase-core/bindings|bindings)/.*
  dotnet_test: any of: .*\.(cs|csproj)$, but not: (trailbase-core/bindings|bindings)/.*
  python_format: any of: .*\.(py)$, but not: (trailbase-core/bindings|bindings)/.*
  python_check: any of: .*\.(py)$, but not: (trailbase-core/bindings|bindings)/.*
  python_test: any of: .*\.(py)$, but not: (trailbase-core/bindings|bindings)/.*
  swift_format: any of: .*\.(swift)$, but not: (trailbase-core/bindings|bindings)/.*
  swift_test: any of: .*\.(swift)$, but not: (trailbase-core/bindings|bindings)/.*
