Repository trailbaseio/trailbase: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website, dart_format, dart_analyze, dart_test, dotnet_format, dotnet_test, python_format, python_check, python_test, swift_format, swift_test

cargofmt:
  name: Cargo Format
  entry: cargo fmt -- --check
  pass_filenames: false
  language: system

cargoclippy:
  name: Cargo Clippy
  verbose: true
  entry: sh -c 'pnpm i && cargo clippy --workspace --no-deps'
  language: system
  pass_filenames: false

cargotest:
  name: Cargo Test
  entry: sh -c 'pnpm i && cargo test --workspace -- --show-output'
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: pnpm -r format --check
  language: system
  pass_filenames: false

typescript_check:
  name: Typescript Check
  entry: pnpm -r check
  language: system
  pass_filenames: false

javascript_test:
  name: JavaScript Test
  entry: pnpm -r test
  language: system
  pass_filenames: false

build_website:
  name: Build Website
  entry: sh -c 'cd docs && pnpm build'
  language: system
  pass_filenames: false

dart_format:
  name: Dart format
  entry: dart format -o none --set-exit-if-changed client/trailbase-dart examples/blog/flutter
  language: system
  pass_filenames: false

dart_analyze:
  name: Dart analyze
  entry: sh -c 'dart pub -C client/trailbase-dart get && dart pub -C examples/blog/flutter get && dart analyze -- client/trailbase-dart examples/blog/flutter'
  language: system
  pass_filenames: false

dart_test:
  name: Dart test
  entry: sh -c 'cd client/trailbase-dart && dart pub get && dart test'
  language: system
  pass_filenames: false

dotnet_format:
  name: Dotnet format
  entry: sh -c 'dotnet format client/trailbase-dotnet/src --verify-no-changes && dotnet format client/trailbase-dotnet/test --verify-no-changes'
  language: system
  pass_filenames: false

dotnet_test:
  name: Dotnet test
  entry: dotnet test client/trailbase-dotnet/test
  language: system
  pass_filenames: false

python_format:
  name: Python format
  entry: poetry -C client/trailbase-py run black --config pyproject.toml --check .
  language: system
  pass_filenames: false

python_check:
  name: Python check
  entry: poetry -C client/trailbase-py run pyright --outputjson
  language: system
  pass_filenames: false

python_test:
  name: Python test
  entry: poetry -C client/trailbase-py run pytest
  language: system
  pass_filenames: false

swift_format:
  name: Swift format
  entry: swift format -r --in-place client/trailbase-swift/**/*.swift
  language: system
  pass_filenames: false

swift_test:
  name: Swift test
  entry: swift test --package-path client/trailbase-swift
  language: system
  pass_filenames: false

Some cleanup and reuse first connection deliberately.
  crates/wasm-runtime/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

Minor: return error when failing to acquire tx lock within limits.
  crates/wasm-runtime/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

Minor: add a pending tx check when `State` is dropped
  crates/wasm-runtime/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Support ArcLockGuards to simplify transactions.
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

Be more selective on where to use async in the host implementations.
  crates/wasm-runtime/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Add an untested JS/TS Transaction abstraction.
  tests/runtime/src/db.ts
Due: prettier, typescript_check, javascript_test, build_website

minor: make the type-checker happy.
  client/testfixture/scripts/index.ts
Due: prettier, typescript_check, javascript_test, build_website

Add a skeleton "blog" system to the website for updates.
  docs/astro.config.ts
  docs/package.json
  docs/src/components/blog/AuthorInfo.astro
  docs/src/components/blog/PostItem.astro
  docs/src/components/blog/PublishDate.astro
  docs/src/components/blog/Tag.astro
  docs/src/components/layout/Footer.astro
  docs/src/components/layout/Hero.astro
  docs/src/components/layout/SiteTitle.astro
  docs/src/config.ts
  docs/src/content/author/sebastian.json
  docs/src/content/config.ts
  docs/src/content/docs/getting-started/_install_oneliners.mdx
  docs/src/content/docs/index.mdx
  docs/src/layouts/Base.astro
  docs/src/pages/blog.astro
  docs/src/pages/blog/[slug].astro
  docs/src/pages/blog/rss.xml.ts
  pnpm-lock.yaml
Due: prettier, typescript_check, javascript_test, build_website

Minor: switch to "eslint-plugin-better-tailwindcss" to re-enable tailwind eslinting with tw@v4.
  docs/eslint.config.mjs
  docs/package.json
  docs/src/components/blog/PostItem.astro
  docs/src/pages/blog.astro
  docs/src/styles/global.css
  pnpm-lock.yaml
Due: prettier, typescript_check, javascript_test, build_website

Fix permissions of collab-clicker-ssr example.
  examples/collab-clicker-ssr/traildepot/config.textproto
Due: none

Update Rust dependencies.
  Cargo.lock
Due: none

Add a skeleton "blog" system to the website for updates.
  pnpm-lock.yaml
Due: none

WIP: More wiring.
  Cargo.lock
  crates/core/src/app_state.rs
  crates/core/src/wasm/mod.rs
  crates/wasm-runtime/Cargo.toml
  crates/wasm-runtime/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Have wasm init return a metadata struct.
  crates/core/src/app_state.rs
  crates/core/src/lib.rs
  crates/core/src/wasm/mod.rs
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
  crates/wasm-runtime/wit/trailbase.wit
  tests/rust-wasm-guest/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

WIP: Turn init metadata into runtime callbacks.
  crates/core/src/wasm/mod.rs
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
  crates/wasm-runtime/wit/trailbase.wit
  tests/rust-wasm-guest/Makefile
Due: cargofmt, cargoclippy, cargotest

WIP: add sqlite execute to wasm runtime.
  Cargo.lock
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime/Cargo.toml
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/src/sqlite.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
Due: cargofmt, cargoclippy, cargotest

MvP multi-threaded WASI runtime.
  Cargo.lock
  Cargo.toml
  crates/wasm-runtime/Cargo.toml
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
  tests/rust-wasm-guest/Cargo.lock
  tests/rust-wasm-guest/Cargo.toml
  tests/rust-wasm-guest/Makefile
  tests/rust-wasm-guest/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

WIP: Pass sqlite DB into WASM runtime.
  Cargo.lock
  crates/wasm-runtime/Cargo.toml
  crates/wasm-runtime/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

PoC: call sqlite from WASM.
  Cargo.lock
  Cargo.toml
  crates/wasm-runtime-common/Cargo.toml
  crates/wasm-runtime-common/src/lib.rs
  crates/wasm-runtime-guest/Cargo.toml
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime/Cargo.toml
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
  tests/rust-wasm-guest/Cargo.toml
  tests/rust-wasm-guest/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

WIP: sqlite transactions from WASM.
  crates/wasm-runtime-common/src/lib.rs
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime/src/sqlite.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
Due: cargofmt, cargoclippy, cargotest

Wrap isolate_id.
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

Update Rust dependencies.
  Cargo.lock
  crates/wasm-runtime-guest/Cargo.toml
Due: none

Allow mulitple routers.
  crates/core/src/server/mod.rs
Due: cargofmt, cargoclippy, cargotest

PoC: Wire up JS http. Quick benchmark results fib(40): rust-wasm: 14s, js-aot-wasm: 26s, js-wasm: 42s.
  crates/core/src/wasm/mod.rs
  crates/wasm-runtime/wit-0.2.3/trailbase.wit
  tests/js-wasm-guest/guest.js
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Use host interface rather than http for thread id interface.
  crates/core/src/wasm/mod.rs
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
  crates/wasm-runtime/wit/trailbase.wit
  tests/rust-wasm-guest/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Wire up http routes from wasm.
  crates/core/src/app_state.rs
  crates/core/src/server/mod.rs
  crates/core/src/wasm/mod.rs
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
  tests/rust-wasm-guest/Makefile
  tests/rust-wasm-guest/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Minor: access host endpoint.
  tests/http-hello-world/src/http-hello-world.ts
  tests/http-hello-world/tsconfig.json
Due: prettier, typescript_check, javascript_test, build_website

Make runtime package more usable.
  tests/http-hello-world/src/index.ts
  tests/runtime/src/trailbase.ts
Due: prettier, typescript_check, javascript_test, build_website

Add custom export! macro for trailbase_wasm_guest::Init.
  Cargo.lock
  crates/wasm-runtime-guest/Cargo.toml
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
  tests/rust-wasm-guest/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Replace client/testfixture/scripts with wasm implementation and improve rust Guest APIs.
  Cargo.lock
  client/testfixture/guests/rust/src/lib.rs
  crates/assets/js/client/tests/integration/v8_integration.test.ts
  crates/wasm-runtime-guest/Cargo.toml
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
  examples/wasm-guest-rust/src/lib.rs
  guests/typescript/generated/types/interfaces/wasi-io-streams.d.ts
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Update Wasmtime.
  Cargo.lock
  crates/wasm-runtime/Cargo.toml
  crates/wasm-runtime/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

WIP: Started migrating testfixture to WASM.
  Cargo.lock
  Cargo.toml
  client/testfixture/guests/rust/Cargo.lock
  client/testfixture/guests/rust/Cargo.toml
  client/testfixture/guests/rust/Makefile
  client/testfixture/guests/rust/src/lib.rs
  crates/assets/js/client/tests/integration/v8_integration.test.ts
  crates/wasm-runtime/testdata/rust_guest.wasm
  examples/wasm-guest-rust/Makefile
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Wire up registered path & User.
  crates/core/src/auth/user.rs
  crates/core/src/wasm/mod.rs
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime/src/lib.rs
  crates/wasm-runtime/src/sqlite.rs
  crates/wasm-runtime/testdata/rust_guest.wasm
  pnpm-lock.yaml
  tests/rust-wasm-guest/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Move WASM components from `<depot>/scripts` to `/wasm` and allow for multiple components.
  client/testfixture/.gitignore
  client/testfixture/guests/rust/Makefile
  client/testfixture/wasm/wasm_rust_guest_testfixture.wasm
  crates/core/src/app_state.rs
  crates/core/src/data_dir.rs
  crates/core/src/js/runtime.rs
  crates/core/src/server/mod.rs
  crates/core/src/wasm/mod.rs
  examples/coffee-vector-search/guests/rust/Makefile
  examples/collab-clicker-ssr/guests/rust/Makefile
Due: cargofmt, cargoclippy, cargotest

Path conditions:
  cargofmt: any of: \.rs$ and not (^vendor/) and not ((trailbase-core/bindings|bindings)/.*)
  cargoclippy: any of: \.rs$ and not (^vendor/) and not ((trailbase-core/bindings|bindings)/.*)
  cargotest: any of: \.rs$ and not (^(vendor|bindings)/) and not ((trailbase-core/bindings|bindings)/.*)
  prettier: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro|md|mdx)$, but not: (trailbase-core/bindings|bindings)/.*
  typescript_check: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro|mdx)$, but not: (trailbase-core/bindings|bindings)/.*
  javascript_test: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro)$, but not: (trailbase-core/bindings|bindings)/.*
  build_website: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro)$, but not: (trailbase-core/bindings|bindings)/.*
  dart_format: any of: .*\.dart$, but not: (trailbase-core/bindings|bindings)/.*
  dart_analyze: any of: .*\.dart$, but not: (trailbase-core/bindings|bindings)/.*
  dart_test: any of: .*\.dart$, but not: (trailbase-core/bindings|bindings)/.*
  dotnet_format: any of: .*\.(cs|csproj)$, but not: (trailbase-core/bindings|bindings)/.*
  dotnet_test: any of: .*\.(cs|csproj)$, but not: (trailbase-core/bindings|bindings)/.*
  python_format: any of: .*\.(py)$, but not: (trailbase-core/bindings|bindings)/.*
  python_check: any of: .*\.(py)$, but not: (trailbase-core/bindings|bindings)/.*
  python_test: any of: .*\.(py)$, but not: (trailbase-core/bindings|bindings)/.*
  swift_format: any of: .*\.(swift)$, but not: (trailbase-core/bindings|bindings)/.*
  swift_test: any of: .*\.(swift)$, but not: (trailbase-core/bindings|bindings)/.*
