Repository trailbaseio/trailbase: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website, dart_format, dart_analyze, dart_test, dotnet_format, dotnet_test, python_format, python_check, python_test, swift_format, swift_test

Path conditions:
  cargofmt: any of: \.rs$ and not (^vendor/) and not ((trailbase-core/bindings|bindings)/.*)
  cargoclippy: any of: \.rs$ and not (^vendor/) and not ((trailbase-core/bindings|bindings)/.*)
  cargotest: any of: \.rs$ and not (^(vendor|bindings)/) and not ((trailbase-core/bindings|bindings)/.*)
  prettier: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro|md|mdx)$, but not: (trailbase-core/bindings|bindings)/.*
  typescript_check: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro|mdx)$, but not: (trailbase-core/bindings|bindings)/.*
  javascript_test: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro)$, but not: (trailbase-core/bindings|bindings)/.*
  build_website: any of: .*\.(js|mjs|cjs|ts|jsx|tsx|astro)$, but not: (trailbase-core/bindings|bindings)/.*
  dart_format: any of: .*\.dart$, but not: (trailbase-core/bindings|bindings)/.*
  dart_analyze: any of: .*\.dart$, but not: (trailbase-core/bindings|bindings)/.*
  dart_test: any of: .*\.dart$, but not: (trailbase-core/bindings|bindings)/.*
  dotnet_format: any of: .*\.(cs|csproj)$, but not: (trailbase-core/bindings|bindings)/.*
  dotnet_test: any of: .*\.(cs|csproj)$, but not: (trailbase-core/bindings|bindings)/.*
  python_format: any of: .*\.(py)$, but not: (trailbase-core/bindings|bindings)/.*
  python_check: any of: .*\.(py)$, but not: (trailbase-core/bindings|bindings)/.*
  python_test: any of: .*\.(py)$, but not: (trailbase-core/bindings|bindings)/.*
  swift_format: any of: .*\.(swift)$, but not: (trailbase-core/bindings|bindings)/.*
  swift_test: any of: .*\.(swift)$, but not: (trailbase-core/bindings|bindings)/.*

Fix index names in admin dash's table view.
  trailbase-assets/js/admin/src/components/auth/AuthButton.tsx
  trailbase-assets/js/admin/src/components/tables/TablePane.tsx
Due: prettier, typescript_check, javascript_test, build_website

Update Rust dependencies.
  Cargo.lock
  vendor/sqlean/Cargo.toml
Due: none

Update JS dependencies.
  docs/examples/record_api_ts/package.json
  docs/package.json
  examples/blog/web/package.json
  examples/coffee-vector-search/package.json
  examples/collab-clicker-ssr/package.json
  examples/data-cli-tutorial/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  trailbase-assets/js/admin/package.json
  trailbase-assets/js/auth/package.json
  trailbase-assets/js/client/package.json
  trailbase-js/assets/runtime/package.json
Due: none

Prepare new release v0.13.1.
  CHANGELOG.md
Due: prettier

Fix login reactivity issue for mobile copy&paste.
  trailbase-assets/js/admin/src/components/FormFields.tsx
  trailbase-assets/js/admin/src/components/accounts/AccountsPage.tsx
  trailbase-assets/js/admin/src/components/accounts/AddUser.tsx
  trailbase-assets/js/admin/src/components/auth/LoginPage.tsx
  trailbase-assets/js/admin/src/components/editor/EditorPage.tsx
  trailbase-assets/js/admin/src/components/settings/AuthSettings.tsx
  trailbase-assets/js/admin/src/components/settings/EmailSettings.tsx
  trailbase-assets/js/admin/src/components/settings/JobSettings.tsx
  trailbase-assets/js/admin/src/components/settings/SchemaSettings.tsx
  trailbase-assets/js/admin/src/components/settings/SettingsPage.tsx
  trailbase-assets/js/admin/src/components/tables/CreateAlterIndex.tsx
  trailbase-assets/js/admin/src/components/tables/CreateAlterTable.tsx
  trailbase-assets/js/admin/src/components/tables/InsertUpdateRow.tsx
  trailbase-assets/js/admin/src/components/tables/RecordApiSettings.tsx
  trailbase-assets/js/admin/tests/form.test.tsx
Due: prettier, typescript_check, javascript_test, build_website

Prepare new release v0.13.2.
  CHANGELOG.md
Due: prettier

Restore text input state updates on key presses.
  trailbase-assets/js/admin/src/components/FormFields.tsx
Due: prettier, typescript_check, javascript_test, build_website

Improve RecordApiSettings sheet UI including early `curl` examples.
  trailbase-assets/js/admin/src/components/tables/RecordApiSettings.tsx
Due: prettier, typescript_check, javascript_test, build_website

Inline FilterBar example queries as placeholder.
  trailbase-assets/js/admin/src/components/FilterBar.tsx
  trailbase-assets/js/admin/src/components/accounts/AccountsPage.tsx
  trailbase-assets/js/admin/src/components/logs/LogsPage.tsx
  trailbase-assets/js/admin/src/components/tables/TablePane.tsx
Due: prettier, typescript_check, javascript_test, build_website

Update Rust dependencies.
  Cargo.lock
  trailbase-build/Cargo.toml
Due: none

Prepare new release v0.13.3.
  CHANGELOG.md
Due: prettier

Allow UUIDv4 record pks/ids.
  trailbase-core/src/records/create_record.rs
  trailbase-core/src/records/validate.rs
  trailbase-schema/src/metadata.rs
Due: cargofmt, cargoclippy, cargotest

Always use encrypted _rowid_ for cursoring records.
  trailbase-core/Cargo.toml
  trailbase-core/src/records/list_records.rs
  trailbase-core/templates/list_record_query.sql
Due: cargofmt, cargoclippy, cargotest

AES encrypt record cursors.
  Cargo.lock
  trailbase-core/Cargo.toml
  trailbase-core/src/records/list_records.rs
Due: cargofmt, cargoclippy, cargotest

Use UUIDv4 ids for `_user`s to stop leaking creation times. We rely on _rowid_ for cursoring.
  client/testfixture/migrations/U1725019360__create_admin_user.sql
  client/testfixture/migrations/U1725019361__add_users.sql
  trailbase-core/build.rs
  trailbase-core/migrations/main/U3__user_id.sql
  trailbase-core/src/admin/user/list_users.rs
  trailbase-core/src/auth/api/avatar.rs
  trailbase-core/src/auth/user.rs
  trailbase-core/src/constants.rs
  trailbase-core/src/records/create_record.rs
  trailbase-extension/src/lib.rs
  trailbase-extension/src/uuid.rs
Due: cargofmt, cargoclippy, cargotest

Prepare new release v0.14.0.
  CHANGELOG.md
  docs/src/content/docs/documentation/APIs/record_apis.mdx
  docs/src/content/docs/getting-started/first-cli-app.mdx
Due: prettier, typescript_check

More permissive CORS: allow any headers. #74
  trailbase-core/src/server/mod.rs
Due: cargofmt, cargoclippy, cargotest

Fix record id requirements, fix/improve default value construction and add more curl examples for create/update/delete.
  trailbase-assets/js/admin/src/components/tables/InsertUpdateRow.tsx
  trailbase-assets/js/admin/src/components/tables/RecordApiSettings.tsx
  trailbase-assets/js/admin/src/components/tables/TablePane.tsx
  trailbase-assets/js/admin/src/lib/convert.ts
  trailbase-assets/js/admin/src/lib/schema.ts
Due: prettier, typescript_check, javascript_test, build_website

Update JS dependencies.
  docs/examples/record_api_ts/package.json
  docs/package.json
  examples/blog/web/package.json
  examples/coffee-vector-search/package.json
  examples/collab-clicker-ssr/package.json
  examples/data-cli-tutorial/package.json
  pnpm-lock.yaml
  trailbase-assets/js/admin/package.json
  trailbase-assets/js/auth/package.json
  trailbase-assets/js/client/package.json
  trailbase-js/assets/runtime/package.json
Due: none

Prepare new release v0.14.1.
  CHANGELOG.md
Due: prettier

WIP: minor
  trailbase-assets/js/admin/src/lib/fetch.ts
  trailbase-core/src/server/mod.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Minor: wire up alert box and fix logout.
  trailbase-assets/js/admin/src/components/auth/AuthButton.tsx
  trailbase-assets/js/auth/src/components/AlertBox.astro
  trailbase-assets/js/auth/src/components/Form.astro
  trailbase-core/src/server/mod.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Try replace admin login with main auth UI.
  trailbase-assets/js/admin/src/components/auth/AuthButton.tsx
  trailbase-assets/js/admin/src/lib/fetch.ts
  trailbase-core/src/auth/api/login.rs
  trailbase-core/src/auth/mod.rs
  trailbase-core/src/auth/ui/mod.rs
  trailbase-core/src/server/mod.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

W/o tower_reqwest
  client/trailbase-rs/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Full circle back to reqwest types.
  Cargo.lock
  client/trailbase-rs/Cargo.toml
  client/trailbase-rs/src/http.rs
  client/trailbase-rs/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Generic request body.
  Cargo.lock
  client/trailbase-rs/Cargo.toml
  client/trailbase-rs/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

WIP: Use a tower_http_client to abstract underlying client implementation. Request/Response/Error types are still tied to reqwest :/.
  Cargo.lock
  client/trailbase-rs/Cargo.toml
  client/trailbase-rs/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

WIP: tanstack-DB setup. Currently does a full reload. Should also incorporate subscriptions. We would also like to find out if and how Compare-and-Swap semantics may help.
  examples/local-first/.gitignore
  examples/local-first/.prettierrc
  examples/local-first/README.md
  examples/local-first/eslint.config.js
  examples/local-first/index.html
  examples/local-first/package.json
  examples/local-first/src/App.css
  examples/local-first/src/App.tsx
  examples/local-first/src/index.css
  examples/local-first/src/main.tsx
  examples/local-first/src/vite-env.d.ts
  examples/local-first/traildepot/.gitignore
  examples/local-first/traildepot/config.textproto
  examples/local-first/traildepot/migrations/U1725019360__create_admin_user.sql
  examples/local-first/traildepot/migrations/U1737638313__create_table_data.sql
  examples/local-first/traildepot/trailbase.d.ts
  examples/local-first/traildepot/trailbase.js
  examples/local-first/tsconfig.app.json
  examples/local-first/tsconfig.json
  examples/local-first/tsconfig.node.json
  examples/local-first/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier, typescript_check, javascript_test, build_website

WIP: add not yet funct scaffold for TrailBaseCollection.
  examples/local-first/eslint.config.js
  examples/local-first/package.json
  examples/local-first/src/App.tsx
  examples/local-first/src/lib/trailbase.ts
  examples/local-first/traildepot/trailbase.d.ts
  examples/local-first/traildepot/trailbase.js
  examples/local-first/tsconfig.app.json
  examples/local-first/tsconfig.json
  examples/local-first/tsconfig.node.json
  pnpm-lock.yaml
Due: prettier, typescript_check, javascript_test, build_website

Prepare new crate releases.
  Cargo.lock
  Cargo.toml
  Makefile
  trailbase-assets/Cargo.toml
  trailbase-assets/src/version.rs
  trailbase-build/Cargo.toml
  trailbase-core/Cargo.toml
  trailbase-core/src/app_state.rs
  trailbase-core/src/lib.rs
  trailbase-core/src/queue.rs
  trailbase-core/src/server/init.rs
  trailbase-extension/Cargo.toml
  trailbase-js/Cargo.toml
  trailbase-sqlite/Cargo.toml
  vendor/sqlean/Cargo.toml
Due: cargofmt, cargoclippy, cargotest

Update JS deps.
  docs/examples/record_api_ts/package.json
  docs/package.json
  examples/blog/web/package.json
  examples/coffee-vector-search/package.json
  examples/collab-clicker-ssr/package.json
  examples/data-cli-tutorial/package.json
  examples/local-first/.gitignore
  examples/local-first/package.json
  examples/local-first/src/App.tsx
  examples/local-first/src/lib/trailbase.ts
  pnpm-lock.yaml
  trailbase-assets/js/admin/package.json
  trailbase-assets/js/auth/package.json
  trailbase-assets/js/client/package.json
  trailbase-js/assets/runtime/package.json
Due: prettier, typescript_check, javascript_test, build_website

WIP: update TB placeholder collection to more up-to-date style.
  examples/local-first/src/App.tsx
  examples/local-first/src/lib/trailbase.ts
Due: prettier, typescript_check, javascript_test, build_website

Update dependencies.
  Cargo.lock
  docs/examples/record_api_ts/package.json
  docs/package.json
  examples/blog/web/package.json
  examples/coffee-vector-search/package.json
  examples/collab-clicker-ssr/package.json
  examples/data-cli-tutorial/package.json
  pnpm-lock.yaml
  trailbase-assets/js/admin/package.json
  trailbase-assets/js/auth/package.json
  trailbase-assets/js/client/package.json
  trailbase-js/assets/runtime/package.json
Due: none

Update Rust dependencies.
  Cargo.lock
  trailbase-extension/Cargo.toml
Due: none

Replace "open-api run" subcomands `--port` with `--address`. #22
  trailbase-cli/src/args.rs
  trailbase-cli/src/bin/trail.rs
Due: cargofmt, cargoclippy, cargotest

Include OpenApi schema exports (w/o swagger UI) into default build and add auth OpenAPI to docs.
  docs/astro.config.mjs
  docs/openapi/schema.json
  docs/package.json
  pnpm-lock.yaml
  trailbase-cli/Cargo.toml
  trailbase-cli/src/args.rs
  trailbase-cli/src/bin/trail.rs
  trailbase-cli/src/lib.rs
  trailbase-core/src/auth/mod.rs
  trailbase-core/src/lib.rs
  trailbase-core/src/records/mod.rs
Due: cargofmt, cargoclippy, cargotest, prettier, typescript_check, javascript_test, build_website

Prepare new release v0.14.2.
  CHANGELOG.md
Due: prettier

Fix: listing records from VIEWs cannot rely on _rowid_. Fall back to `OFFSET` instead.
  trailbase-core/src/records/list_records.rs
  trailbase-core/templates/list_record_query.sql
Due: cargofmt, cargoclippy, cargotest
